﻿@using ItGroup.Saex.Web.Startup
@using ItGroup.Saex.Configuration
@using ItGroup.Saex.Web

@model ItGroup.Saex.Web.ViewModels.ProyeccionPerdidaViewModel
@{
    ViewBag.CurrentPageName = PageNames.ProyeccionPerdida;
    ViewBag.Title = L("ProyeccionPerdida");
}

@section styles
{
    <style>
        #dataTable_wrapper {
            padding: 16px;
        }
    </style>
}

@section scripts
{
    <script src="~/view-resources/Views/ProyeccionPerdida/Index.js" asp-append-version="true"></script>
}

<div class="row clearfix" id="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("ProyeccionPerdida")
                </h2>
                <div id="searchContainer" class="container col-sm-12" style="margin-top: 40px;">
                    <form id="searchForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <label class="input-group-text">@L("DelinquencyStates")</label>

                                    @Html.DropDownListFor(x => x.SelectedEtapaDelincuencia,
                                        new SelectList(Model.EtapasDelincuencia),
                                        L("ChooseOne"), new { @class = "selectpicker form-control", @data_live_search = "true" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="button" id="search-button" class="btn btn-success waves-effect" style="margin-top: 20px;">@L("Search")</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="body table-responsive">
                <div class="col-sm-6">
                    <label>@L("Details")</label>
                </div>

                <table id="detailDataTable" class="table table-striped table-bordered"
                       style="width: 100%;table-layout: fixed;word-wrap: break-word">
                    <thead>
                        <tr>
                            <th>@L("Agent")</th>
                            <th>@L("Asignation")</th>
                            <th>@L("TotalCases")</th>
                            <th>@L("OriginalBalance")</th>
                            <th>@L("ActualBalance")</th>
                            <th>@L("PayBalance")</th>
                            <th>@L("FirmsPromises")</th>
                            <th>@L("TotalFirmsPromises")</th>
                            <th>@L("DubiousPromises")</th>
                            <th>@L("TotalDubiousPromises")</th>
                            <th>@L("Actual")</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div class="body table-responsive">
                <div class="col-sm-6">
                    <label>@L("Totals")</label>
                </div>

                <table id="totalDataTable" class="table table-striped table-bordered"
                       style="width: 100%;table-layout: fixed;word-wrap: break-word">
                    <thead>
                        <tr>
                            <th>@L("TotalCases")</th>
                            <th>@L("OriginalBalance")</th>
                            <th>@L("ActualBalance")</th>
                            <th>@L("PayBalance")</th>
                            <th>@L("FirmsPromises")</th>
                            <th>@L("DubiousPromises")</th>
                            <th>@L("Actual")</th>
                            <th>@L("Real")</th>
                            <th>@L("BestScenario")</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>