﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.EditRegionModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditRegion")))

<div class="modal-body">
    <form name="RegionEditForm" region="form" novalidate class="form-validation">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <div style="display: none">
            @Html.DropDownList("SelectedRoutes", new SelectList(Model.Routes, "Id", "Name"), new { id = "SelectedRoutes" })
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Name" name="Name" type="text" value="@Model.Name" required maxlength="100" minlength="1" class="validate form-control">
                        <label for="Name" class="form-label">@L("Name")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="input-group">
                    <label>
                        <input type="checkbox" name="ForReport" value="@Model.ForReport" title="" class="filled-in checkbox-elem-edit" id="ForReport" />
                        <label for="ForReport" title="">@L("ForReport")</label>
                    </label>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <label for="RoutesEdit" class="form-label">@L("Routes")</label>
            </div>
            <div class="col-sm-12">
                <div class="input-group" style="margin-bottom: 44px;">
                    @Html.DropDownListFor(x => x.Routes,
 new SelectList(Model.AvailableRoutes, "Id", "Name"),
 null, new { id = "RoutesEdit", multiple = "multiple" })
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/Regions/_EditRegionModal.js" asp-append-version="true"></script>