﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.RegionListViewModel
@{
    ViewBag.CurrentPageName = PageNames.Regions; // The menu item will be active for this page.
    ViewBag.Title = L("Regions");
}

@section scripts
{

    <script src="~/view-resources/Views/Regions/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("Regions")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Name")</th>
                            <th>@L("Routes")</th>
                            @if (Model.CanModify)
                            {
                                <th style="text-align: right;">@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var region in Model.Regions.Items)
                        {
                            <tr>
                                <td>@region.Name</td>
                                <td>@(region.Routes != null ? region.Routes.Count() : 0)</td>
                                @if (Model.CanModify)
                                {
                                    <td class="dropdown">
                                        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" region="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" class="waves-effect waves-block edit-region" data-region-id="@region.Id" data-toggle="modal" data-target="#RegionEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                            <li><a href="#" class="waves-effect waves-block delete-region" data-region-id="@region.Id" data-region-name="@region.Name"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                        </ul>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.CanModify)
                {
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#RegionCreateModal">
                        <i class="material-icons">add</i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.CanModify)
{
    <div class="modal fade" id="RegionCreateModal" tabindex="-1" region="dialog" aria-labelledby="RegionCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" region="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreateRegion")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="regionCreateForm" region="form" novalidate class="form-validation">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Name" name="Name" type="text" value="@Model.Name" required maxlength="100" minlength="1" class="validate form-control">
                                        <label for="Name" class="form-label">@L("Name")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <label>
                                        <input type="checkbox" name="ForReport" value="@Model.ForReport" title="" class="filled-in checkbox-elem-edit" id="ForReport" />
                                        <label for="ForReport" title="">@L("ForReport")</label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <label for="Routes" class="form-label">@L("Routes")</label>
                            </div>
                            <div class="col-sm-12">
                                <div class="input-group" style="margin-bottom: 44px;">
                                    @Html.DropDownListFor(x => x.Routes,
                 new SelectList(Model.AvailableRoutes, "Id", "Name"),
                 null, new { id = "Routes", multiple = "multiple" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="RegionEditModal" tabindex="-1" region="dialog" aria-labelledby="RegionEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" region="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

}
