﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.EditMessageModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditMessage")))

<div class="modal-body">
    <form name="MessageEditForm" message="form" novalidate class="form-validation">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Subject" name="Subject" type="text" value="@Model.Subject" required maxlength="100" minlength="2" class="validate form-control">
                        <label for="Subject" class="form-label">@L("Subject")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Body" name="Body" type="text" value="@Model.Body" required maxlength="250" minlength="2" class="validate form-control">
                        <label for="Body" class="form-label">@L("Body")</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/Messages/_EditMessageModal.js" asp-append-version="true"></script>