﻿@using ItGroup.Saex.Web.Startup
@using System.Globalization;
@model ItGroup.Saex.Web.ViewModels.MessageListViewModel
@{
    ViewBag.CurrentPageName = PageNames.Messages; // The menu item will be active for this page.
    var esPR = new CultureInfo("es-PR");
}
@section scripts
{
    <script src="~/view-resources/Views/Messages/Index.js" asp-append-version="true"></script>
}
<style>
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        position: absolute !important;
    }

    .bootstrap-select > .dropdown-toggle {
        width: 540px;
    }
</style>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div>
                    <!--<ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">@L("AllMessages")</a></li>
                            @*<li role="presentation"><a href="#unread" aria-controls="unread" role="tab" data-toggle="tab">@L("UnreadMessages")</a></li>*@
                            <button type="button" class="btn btn-primary waves-effect waves-float pull-right" data-toggle="modal" data-target="#MessageCreateModal" style="margin-bottom: 18px;">
                                <i class="material-icons">message</i> New Message
                            </button>
                        </ul>-->
                    <div class="header" style="height: 62px;">
                        <h2 style="float: left">
                            @L("AllMessages")
                        </h2>
                        <a href="javascript:void(0);" class="js-search" style="float: right" data-close="true"><i class="material-icons">search</i></a>
                    </div>
                    <div class="tab-content">
                        <div class="row clearfix">
                            <button type="button" class="btn btn-primary waves-effect waves-float pull-right" data-toggle="modal" data-target="#MessageCreateModal" style="margin: 18px;">
                                <i class="material-icons">message</i> New Message
                            </button>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in active" id="home">

                            @foreach (var message in Model.Recipients.Items)
                            {
                                <div id="@message.Id.ToString()" class="panel panel-default panel-post">
                                    <div class="panel-heading">
                                        <div class="media-left">
                                            <a href="#">
                                                <img src="../../../images/user.png" />
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                <a href="#">@message.Recipient.FullName</a>
                                            </h4>
                                            <h5>
                                                @message.Recipient.EmailAddress
                                            </h5>
                                            <h5>@message.Subject</h5>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="post">
                                            <div class="post-heading" style="margin-bottom: 10px;">
                                                <strong style="color: #8a8a8a;">@message.Sender.FullName</strong><br />
                                                <strong style="color: #8a8a8a;">@message.CreationTime.ToString("F", esPR)</strong>
                                            </div>
                                            <div class="post-content">
                                                <p>
                                                    @message.Body
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    @foreach (var reply in message.Replies)
                                    {
                                        <div class="panel-body" style="border-top: 1px solid #ddd;">
                                            <div class="post">
                                                <div class="post-heading" style="margin-bottom: 10px;">
                                                    <strong style="color: #8a8a8a;">@reply.SenderName</strong><br />
                                                    <strong style="color: #8a8a8a;">@reply.CreationTime.ToString("F", esPR)</strong>
                                                </div>
                                                <div class="post-content">
                                                    <p>
                                                        @reply.Body
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    <div class="panel-footer" style="height: 55px;">
                                        <form id="form-@message.Id">
                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    <input id="reply-@message.Id.ToString()" type="text" class="form-control" placeholder="Reply" />
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <button class="test-message btn btn-primary waves-effect reply-message" data-reply-message-id="@message.Id.ToString()">@L("Reply")</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            }
                        </div>
                        <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#MessageCreateModal">
                            <i class="material-icons">add</i>
                        </button>

                        @*<div role="tabpanel" class="tab-pane fade in" id="unread">
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="MessageCreateModal" message="dialog" aria-labelledby="MessageCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" message="document">
        <div class="modal-content" id="MessageCreateModalContent">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("SendMessage")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="messageCreateForm" message="form" novalidate class="form-validation">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <label>@L("Agents")</label>
                            <div class="form-group">
                                @Html.DropDownListFor(x => x.RecipientId,
                                new SelectList(Model.AvailableAgents, "UserId", "Fullname"),
                                "Select Agent", new { @class = "selectpicker", @data_live_search = "true", @multiple = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="Subject" type="text" name="Subject" required maxlength="100" minlength="2" class="validate form-control">
                                    <label for="Subject" class="form-label">@L("Subject")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="Body" type="text" name="Body" required maxlength="250" minlength="2" class="validate form-control">
                                    <label for="Body" class="form-label">@L("Body")</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Send")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>