﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.EditWorkingHourModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditWorkingHour")))

<div class="modal-body">
    <form name="WorkingHourEditForm" workingHour="form" novalidate class="form-validation">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Name" type="text" name="Name" value="@Model.Name" required maxlength="100" minlength="1" class="validate form-control">
                        <label for="Name" class="form-label">@L("Name")</label>
                    </div>
                </div>
            </div>
        </div>
        <strong>@L("Sunday")</strong>
        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="input-group" style="margin-bottom: 44px;">
                    @Html.DropDownListFor(x => x.SundayStartTime,
                        new SelectList(Model.HoursList),
                        @L("Start"), new { id = "SundayStartTime", name = "SundayStartTime", @class = "selectpicker", @data_live_search = "true" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group" style="margin-bottom: 44px;">
                    @Html.DropDownListFor(x => x.SundayEndTime,
                        new SelectList(Model.HoursList),
                        @L("End"), new { id = "SundayEndTime", name = "SundayEndTime", @class = "selectpicker", @data_live_search = "true" })
                </div>
            </div>
        </div>
        <strong>@L("Monday")</strong>
        <div class="row clearfix" style="margin-top: 16px;">
            <div class="col-sm-6">
                <div class="input-group" style="margin-bottom: 44px;">
                    @Html.DropDownListFor(x => x.MondayStartTime,
                        new SelectList(Model.HoursList),
                        @L("Start"), new { id = "MondayStartTime", name = "MondayStartTime", @class = "selectpicker", @data_live_search = "true" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group" style="margin-bottom: 44px;">
                    @Html.DropDownListFor(x => x.MondayEndTime,
                        new SelectList(Model.HoursList),
                        @L("End"), new { id = "MondayEndTime", name = "MondayEndTime", @class = "selectpicker", @data_live_search = "true" })
                </div>
            </div>
        </div>
        <strong>@L("Tuesday")</strong>
        <div class="row clearfix" style="margin-top: 16px;">
            <div class="col-sm-6">
                <div class="input-group" style="margin-bottom: 44px;">
                    @Html.DropDownListFor(x => x.TuesdayStartTime,
                        new SelectList(Model.HoursList),
                        @L("Start"), new { id = "TuesdayStartTime", name = "TuesdayStartTime", @class = "selectpicker", @data_live_search = "true" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group" style="margin-bottom: 44px;">
                    @Html.DropDownListFor(x => x.TuesdayEndTime,
                        new SelectList(Model.HoursList),
                        @L("End"), new { id = "TuesdayEndTime", name = "TuesdayEndTime", @class = "selectpicker", @data_live_search = "true" })
                </div>
            </div>
        </div>
        <strong>@L("Wednesday")</strong>
        <div class="row clearfix" style="margin-top: 16px;">
            <div class="col-sm-6">
                <div class="input-group" style="margin-bottom: 44px;">
                    @Html.DropDownListFor(x => x.WednesdayStartTime,
                        new SelectList(Model.HoursList),
                        @L("Start"), new { id = "WednesdayStartTime", name = "WednesdayStartTime", @class = "selectpicker", @data_live_search = "true" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group" style="margin-bottom: 44px;">
                    @Html.DropDownListFor(x => x.WednesdayEndTime,
                        new SelectList(Model.HoursList),
                        @L("End"), new { id = "WednesdayEndTime", name = "WednesdayEndTime", @class = "selectpicker", @data_live_search = "true" })
                </div>
            </div>
        </div>
        <strong>@L("Thursday")</strong>
        <div class="row clearfix" style="margin-top: 16px;">
            <div class="col-sm-6">
                <div class="input-group" style="margin-bottom: 44px;">
                    @Html.DropDownListFor(x => x.ThursdayStartTime,
                        new SelectList(Model.HoursList),
                        @L("Start"), new { id = "ThursdayStartTime", name = "ThursdayStartTime", @class = "selectpicker", @data_live_search = "true" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group" style="margin-bottom: 44px;">
                    @Html.DropDownListFor(x => x.ThursdayEndTime,
                        new SelectList(Model.HoursList),
                        @L("End"), new { id = "ThursdayEndTime", name = "ThursdayEndTime", @class = "selectpicker", @data_live_search = "true" })
                </div>
            </div>
        </div>
        <strong>@L("Friday")</strong>
        <div class="row clearfix" style="margin-top: 16px;">
            <div class="col-sm-6">
                <div class="input-group" style="margin-bottom: 44px;">
                    @Html.DropDownListFor(x => x.FridayStartTime,
                        new SelectList(Model.HoursList),
                        @L("Start"), new { id = "FridayStartTime", name = "FridayStartTime", @class = "selectpicker", @data_live_search = "true" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group" style="margin-bottom: 44px;">
                    @Html.DropDownListFor(x => x.FridayEndTime,
                        new SelectList(Model.HoursList),
                        @L("End"), new { id = "FridayEndTime", name = "FridayEndTime", @class = "selectpicker", @data_live_search = "true" })
                </div>
            </div>
        </div>
        <strong>@L("Saturday")</strong>
        <div class="row clearfix" style="margin-top: 16px;">
            <div class="col-sm-6">
                <div class="input-group" style="margin-bottom: 44px;">
                    @Html.DropDownListFor(x => x.SaturdayStartTime,
                        new SelectList(Model.HoursList),
                        @L("Start"), new { id = "SaturdayStartTime", name = "SaturdayStartTime", @class = "selectpicker", @data_live_search = "true" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group" style="margin-bottom: 44px;">
                    @Html.DropDownListFor(x => x.SaturdayEndTime,
                        new SelectList(Model.HoursList),
                        @L("End"), new { id = "SaturdayEndTime", name = "SaturdayEndTime", @class = "selectpicker", @data_live_search = "true" })
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/WorkingHours/_EditWorkingHourModal.js" asp-append-version="true"></script>