﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.WorkingHourListViewModel
@{
    ViewBag.CurrentPageName = PageNames.WorkingHours; // The menu item will be active for this page.
    ViewBag.Title = L("WorkingHours");
}

@section scripts
{

    <script src="~/view-resources/Views/WorkingHours/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("WorkingHours")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Name")</th>
                            <th>@L("SundayStart")</th>
                            <th>@L("SundayEnd")</th>
                            <th>@L("MondayStart")</th>
                            <th>@L("MondayEnd")</th>
                            <th>@L("TuesdayStart")</th>
                            <th>@L("TuesdayEnd")</th>
                            <th>@L("WednesdayStart")</th>
                            <th>@L("WednesdayEnd")</th>
                            <th>@L("ThursdayStart")</th>
                            <th>@L("ThursdayEnd")</th>
                            <th>@L("FridayStart")</th>
                            <th>@L("FridayEnd")</th>
                            <th>@L("SaturdayStart")</th>
                            <th>@L("SaturdayEnd")</th>
                            @if (Model.CanModify)
                            {
                                <th style="text-align: right;">@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var workingHour in Model.WorkingHours.Items)
                        {
                            <tr>
                                <td>@workingHour.Name</td>
                                <td>@DateTime.Today.Add(workingHour.SundayStartTime).ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                                <td>@DateTime.Today.Add(workingHour.SundayEndTime).ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                                <td>@DateTime.Today.Add(workingHour.MondayStartTime).ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                                <td>@DateTime.Today.Add(workingHour.MondayEndTime).ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                                <td>@DateTime.Today.Add(workingHour.TuesdayStartTime).ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                                <td>@DateTime.Today.Add(workingHour.TuesdayEndTime).ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                                <td>@DateTime.Today.Add(workingHour.WednesdayStartTime).ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                                <td>@DateTime.Today.Add(workingHour.WednesdayEndTime).ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                                <td>@DateTime.Today.Add(workingHour.ThursdayStartTime).ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                                <td>@DateTime.Today.Add(workingHour.ThursdayEndTime).ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                                <td>@DateTime.Today.Add(workingHour.FridayStartTime).ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                                <td>@DateTime.Today.Add(workingHour.FridayEndTime).ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                                <td>@DateTime.Today.Add(workingHour.SaturdayStartTime).ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                                <td>@DateTime.Today.Add(workingHour.SaturdayEndTime).ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
                                @if (Model.CanModify)
                                {
                                    <td class="dropdown">
                                        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" workingHour="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" class="waves-effect waves-block edit-workingHour" data-workingHour-id="@workingHour.Id" data-toggle="modal" data-target="#WorkingHourEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                            <li><a href="#" class="waves-effect waves-block delete-workingHour" data-workingHour-id="@workingHour.Id" data-workingHour-name="@workingHour.Name"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                        </ul>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.CanModify)
                {
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#WorkingHourCreateModal">
                        <i class="material-icons">add</i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.CanModify)
{
    <div class="modal fade" id="WorkingHourCreateModal" tabindex="-1" workingHour="dialog" aria-labelledby="WorkingHourCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" workingHour="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("EditWorkingHour")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="workingHourCreateForm" workingHour="form" novalidate class="form-validation">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Name" type="text" name="Name" value="@Model.Name" required maxlength="100" minlength="1" class="validate form-control">
                                        <label for="Name" class="form-label">@L("Name")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <strong>@L("Sunday")</strong>
                        <div class="row clearfix" style="margin-top: 16px;">
                            <div class="col-sm-6">
                                <div class="input-group" style="margin-bottom: 44px;">
                                    @Html.DropDownListFor(x => x.SundayStartTime,
                                        new SelectList(Model.HoursList),
                                        @L("Start"), new { id = "SundayStartTime", name = "SundayStartTime", @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-group" style="margin-bottom: 44px;">
                                    @Html.DropDownListFor(x => x.SundayEndTime,
                                           new SelectList(Model.HoursList),
                                           @L("End"), new { id = "SundayEndTime", name = "SundayEndTime", @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>
                        </div>
                        <strong>@L("Monday")</strong>
                        <div class="row clearfix" style="margin-top: 16px;">
                            <div class="col-sm-6">
                                <div class="input-group" style="margin-bottom: 44px;">
                                    @Html.DropDownListFor(x => x.MondayStartTime,
                                          new SelectList(Model.HoursList),
                                          @L("Start"), new { id = "MondayStartTime", name = "MondayStartTime", @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-group" style="margin-bottom: 44px;">
                                    @Html.DropDownListFor(x => x.MondayEndTime,
                                          new SelectList(Model.HoursList),
                                          @L("End"), new { id = "MondayEndTime", name = "MondayEndTime", @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>
                        </div>
                        <strong>@L("Tuesday")</strong>
                        <div class="row clearfix" style="margin-top: 16px;">
                            <div class="col-sm-6">
                                <div class="input-group" style="margin-bottom: 44px;">
                                    @Html.DropDownListFor(x => x.TuesdayStartTime,
                                          new SelectList(Model.HoursList),
                                          @L("Start"), new { id = "TuesdayStartTime", name = "TuesdayStartTime", @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-group" style="margin-bottom: 44px;">
                                    @Html.DropDownListFor(x => x.TuesdayEndTime,
                                          new SelectList(Model.HoursList),
                                          @L("End"), new { id = "TuesdayEndTime", name = "TuesdayEndTime", @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>
                        </div>
                        <strong>@L("Wednesday")</strong>
                        <div class="row clearfix" style="margin-top: 16px;">
                            <div class="col-sm-6">
                                <div class="input-group" style="margin-bottom: 44px;">
                                    @Html.DropDownListFor(x => x.WednesdayStartTime,
                                           new SelectList(Model.HoursList),
                                           @L("Start"), new { id = "WednesdayStartTime", name = "WednesdayStartTime", @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-group" style="margin-bottom: 44px;">
                                    @Html.DropDownListFor(x => x.WednesdayEndTime,
                                           new SelectList(Model.HoursList),
                                           @L("End"), new { id = "WednesdayEndTime", name = "WednesdayEndTime", @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>
                        </div>
                        <strong>@L("Thursday")</strong>
                        <div class="row clearfix" style="margin-top: 16px;">
                            <div class="col-sm-6">
                                <div class="input-group" style="margin-bottom: 44px;">
                                    @Html.DropDownListFor(x => x.ThursdayStartTime,
                                           new SelectList(Model.HoursList),
                                           @L("Start"), new { id = "ThursdayStartTime", name = "ThursdayStartTime", @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-group" style="margin-bottom: 44px;">
                                    @Html.DropDownListFor(x => x.ThursdayEndTime,
                                           new SelectList(Model.HoursList),
                                           @L("End"), new { id = "ThursdayEndTime", name = "ThursdayEndTime", @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>
                        </div>
                        <strong>@L("Friday")</strong>
                        <div class="row clearfix" style="margin-top: 16px;">
                            <div class="col-sm-6">
                                <div class="input-group" style="margin-bottom: 44px;">
                                    @Html.DropDownListFor(x => x.FridayStartTime,
                                           new SelectList(Model.HoursList),
                                           @L("Start"), new { id = "FridayStartTime", name = "FridayStartTime", @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-group" style="margin-bottom: 44px;">
                                    @Html.DropDownListFor(x => x.FridayEndTime,
                                           new SelectList(Model.HoursList),
                                           @L("End"), new { id = "FridayEndTime", name = "FridayEndTime", @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>
                        </div>
                        <strong>@L("Saturday")</strong>
                        <div class="row clearfix" style="margin-top: 16px;">
                            <div class="col-sm-6">
                                <div class="input-group" style="margin-bottom: 44px;">
                                    @Html.DropDownListFor(x => x.SaturdayStartTime,
                                          new SelectList(Model.HoursList),
                                          @L("Start"), new { id = "SaturdayStartTime", name = "SaturdayStartTime", @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-group" style="margin-bottom: 44px;">
                                    @Html.DropDownListFor(x => x.SaturdayEndTime,
                                           new SelectList(Model.HoursList),
                                           @L("End"), new { id = "SaturdayEndTime", name = "SaturdayEndTime", @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="WorkingHourEditModal" tabindex="-1" workingHour="dialog" aria-labelledby="WorkingHourEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" workingHour="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
