﻿@using ItGroup.Saex.Web.Startup
@using static ItGroup.Saex.Enumerations.Enumerations
@model ItGroup.Saex.Web.ViewModels.SystemSubStateListViewModel
@{
    ViewBag.CurrentPageName = PageNames.SystemSubStates; // The menu item will be active for this page.
}
@section Styles
{
    <style type="text/css">

        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }
    </style>
}
@section scripts
{

    <script src="~/view-resources/Views/SystemSubStates/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("SystemSubStates")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="dtDynamicVerticalScrollExample" class="table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>@L("Code")</th>
                            <th>@L("Description")</th>
                            @if (Model.CanModify)
                            {
                                <th style="text-align: right;">@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var systemSubState in Model.SystemSubStates.Items)
                        {
                            <tr>
                                <td>@systemSubState.Code</td>
                                <td>@systemSubState.Description</td>
                                @if (Model.CanModify)
                                {
                                    <td class="dropdown">
                                        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" systemSubState="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" class="waves-effect waves-block edit-systemSubState" data-systemSubState-id="@systemSubState.Id" data-toggle="modal" data-target="#SystemSubStateEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                            <li><a href="#" class="waves-effect waves-block delete-systemSubState" data-systemSubState-id="@systemSubState.Id" data-systemSubState-name="@systemSubState.Code"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                        </ul>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.CanModify)
                {
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#SystemSubStateCreateModal">
                        <i class="material-icons">add</i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.CanModify)
{
    <div class="modal fade" id="SystemSubStateCreateModal" tabindex="-1" systemSubState="dialog" aria-labelledby="SystemSubStateCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" systemSubState="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreateSystemSubState")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="systemSubStateCreateForm" systemSubState="form" novalidate class="form-validation">

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Code" name="Code" type="text" required maxlength="500" minlength="1" class="validate form-control">
                                        <label for="Code" class="form-label">@L("Code")</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Description" name="Description" type="text" required maxlength="500" minlength="1" class="validate form-control">
                                        <label for="Description" class="form-label">@L("Description")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="SystemSubStateEditModal" tabindex="-1" systemSubState="dialog" aria-labelledby="SystemSubStateEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" systemSubState="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
