﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.EditScorecardParameterModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditScorecardParameter")))

<div class="modal-body">
    <form name="ScorecardParameterEditForm" scorecardParameter="form" novalidate class="form-validation">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Description" name="Description" type="text" value="@Model.Description" required maxlength="250" minlength="1" class="validate form-control" readonly="readonly">
                        <label for="Description" class="form-label">@L("Description")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="StandardValue" name="StandardValue" type="text" value="@Model.StandardValue" required maxlength="250" minlength="1" class="validate form-control">
                        <label for="StandardValue" class="form-label">@L("StandardValue")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="PaymentLevel" name="PaymentLevel" type="text" value="@Model.PaymentLevel" required maxlength="250" minlength="1" class="validate form-control">
                        <label for="PaymentLevel" class="form-label">@L("PaymentLevel")</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/ScorecardParameters/_EditScorecardParameterModal.js" asp-append-version="true"></script>