﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.ScorecardParameterListViewModel
@{
    ViewBag.CurrentPageName = PageNames.ScorecardParameters; // The menu item will be active for this page.
    ViewBag.Title = L("ScorecardParameters");
}

@section scripts
{

    <script src="~/view-resources/Views/ScorecardParameters/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("ScorecardParameters")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Description")</th>
                            <th>@L("StandardValue")</th>
                            <th>@L("PaymentLevel")</th>
                            @if (Model.CanModify)
                            {
                                <th style="text-align: right;">@L("Edit")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var scorecardParameter in Model.ScorecardParameters.Items)
                        {
                            <tr>
                                <td>@scorecardParameter.Description</td>
                                <td>@scorecardParameter.StandardValue</td>
                                <td>@scorecardParameter.PaymentLevel</td>
                                @if (Model.CanModify)
                                {
                                    <td style="text-align:right">
                                        <a href="#" class="waves-effect waves-block edit-scorecardParameter" data-scorecardParameter-id="@scorecardParameter.Id" data-toggle="modal" data-target="#ScorecardParameterEditModal"><i class="material-icons">edit</i></a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@if (Model.CanModify)
{
    <div class="modal fade" id="ScorecardParameterCreateModal" tabindex="-1" scorecardParameter="dialog" aria-labelledby="ScorecardParameterCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" scorecardParameter="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreateScorecardParameter")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="scorecardParameterCreateForm" scorecardParameter="form" novalidate class="form-validation">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Description" name="Description" type="text" value="@Model.Description" required maxlength="250" minlength="1" class="validate form-control">
                                        <label for="Description" class="form-label">@L("Description")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="StandardValue" name="StandardValue" type="text" value="@Model.StandardValue" required maxlength="250" minlength="1" class="validate form-control">
                                        <label for="StandardValue" class="form-label">@L("StandardValue")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="PaymentLevel" name="PaymentLevel" type="text" value="@Model.PaymentLevel" required maxlength="250" minlength="1" class="validate form-control">
                                        <label for="PaymentLevel" class="form-label">@L("PaymentLevel")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ScorecardParameterEditModal" tabindex="-1" scorecardParameter="dialog" aria-labelledby="ScorecardParameterEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" scorecardParameter="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
