﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.EditDelinquencyStateModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditDelinquencyState")))

<div class="modal-body">
    <form name="DelinquencyStateEditForm" delinquencyState="form" novalidate class="form-validation">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Condition" name="Condition" type="text" value="@Model.Condition" required maxlength="250" class="validate form-control">
                        <label for="Condition" class="form-label">@L("Condition")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Precedence" name="Precedence" type="text" value="@Model.Precedence" required maxlength="250" class="validate form-control">
                        <label for="Precedence" class="form-label">@L("Precedence")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Rule" name="Rule" type="text" value="@Model.Rule" required maxlength="250" class="validate form-control">
                        <label for="Rule" class="form-label">@L("Rule")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="SuccessfulRuleValue" name="SuccessfulRuleValue" type="text" value="@Model.SuccessfulRuleValue" required maxlength="250" class="validate form-control">
                        <label for="SuccessfulRuleValue" class="form-label">@L("SuccessfulRuleValue")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="UnsuccessfulRuleValue" name="UnsuccessfulRuleValue" type="text" value="@Model.UnsuccessfulRuleValue" required maxlength="250" class="validate form-control">
                        <label for="UnsuccessfulRuleValue" class="form-label">@L("UnsuccessfulRuleValue")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="">
                        <input id="IsRequired" type="checkbox" name="IsRequired" value="true" @(Model.IsRequired ? "checked" : "") class="form-control" />
                        <label for="IsRequired" class="form-label">@L("IsRequired")</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/DelinquencyStates/_EditDelinquencyStateModal.js" asp-append-version="true"></script>