﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.DelinquencyStateListViewModel
@{
    ViewBag.CurrentPageName = PageNames.DelinquencyStates; // The menu item will be active for this page.
    ViewBag.Title = L("DelinquencyStates");
}

@section scripts
{

    <script src="~/view-resources/Views/DelinquencyStates/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("DelinquencyStates")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Condition")</th>
                            <th>@L("Precedence")</th>
                            <th>@L("Rule")</th>
                            <th>@L("SuccessfulRuleValue")</th>
                            <th>@L("UnsuccessfulRuleValue")</th>
                            <th>@L("IsRequired")</th>
                            @if (Model.CanModify)
                            {
                                <th style="text-align: right;">@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var delinquencyState in Model.DelinquencyStates.Items)
                        {
                            <tr>
                                <td>@delinquencyState.Condition</td>
                                <td>@delinquencyState.Precedence</td>
                                <td>@delinquencyState.Rule</td>
                                <td>@delinquencyState.SuccessfulRuleValue</td>
                                <td>@delinquencyState.UnsuccessfulRuleValue</td>
                                <td><i class="material-icons" style="color:@(delinquencyState.IsRequired ? "green":"red");">@(delinquencyState.IsRequired ? "check_box" : "indeterminate_check_box")</i></td>
                                @if (Model.CanModify)
                                {
                                    <td class="dropdown">
                                        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" delinquencyState="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" class="waves-effect waves-block edit-delinquencyState" data-delinquencyState-id="@delinquencyState.Id" data-toggle="modal" data-target="#DelinquencyStateEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                            <li><a href="#" class="waves-effect waves-block delete-delinquencyState" data-delinquencyState-id="@delinquencyState.Id" data-delinquencyState-name="@delinquencyState.Rule"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                        </ul>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.CanModify)
                {
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#DelinquencyStateCreateModal">
                        <i class="material-icons">add</i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.CanModify)
{
    <div class="modal fade" id="DelinquencyStateCreateModal" tabindex="-1" delinquencyState="dialog" aria-labelledby="DelinquencyStateCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" delinquencyState="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreateDelinquencyState")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="delinquencyStateCreateForm" delinquencyState="form" novalidate class="form-validation">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Condition" name="Condition" type="text" value="@Model.Condition" required maxlength="100" class="validate form-control">
                                        <label for="Condition" class="form-label">@L("Condition")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Precedence" name="Precedence" type="text" value="@Model.Precedence" required maxlength="100" class="validate form-control">
                                        <label for="Precedence" class="form-label">@L("Precedence")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Rule" name="Rule" type="text" value="@Model.Rule" required maxlength="100" class="validate form-control">
                                        <label for="Rule" class="form-label">@L("Rule")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="SuccessfulRuleValue" name="SuccessfulRuleValue" type="text" value="@Model.SuccessfulRuleValue" required maxlength="100" class="validate form-control">
                                        <label for="SuccessfulRuleValue" class="form-label">@L("SuccessfulRuleValue")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="UnsuccessfulRuleValue" name="UnsuccessfulRuleValue" type="text" value="@Model.UnsuccessfulRuleValue" required maxlength="100" class="validate form-control">
                                        <label for="UnsuccessfulRuleValue" class="form-label">@L("UnsuccessfulRuleValue")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="">
                                        <input id="IsRequired" type="checkbox" name="IsRequired" value="true" @(Model.IsRequired ? "checked" : "") class="form-control" />
                                        <label for="IsRequired" class="form-label">@L("IsRequired")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ImportModal" tabindex="-1" product="dialog" aria-labelledby="ImportModalLabel" data-backdrop="static">
        <div class="modal-dialog" product="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("Import")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <div id="fileuploader">Upload</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="DelinquencyStateEditModal" tabindex="-1" delinquencyState="dialog" aria-labelledby="DelinquencyStateEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" delinquencyState="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
