﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.EditAssignCaseModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditAssignCase")))

<div class="modal-body">
    <form name="EditAssignCaseForm" transferCase="form" novalidate class="form-validation">
        <input type="hidden" id="Id" name="Id" value="@Model.Agent.Id" />
        <div class="row clearfix">
            <strong>@L("Agent")</strong>
            <span>@Model.Agent.User.FullName</span>
            <div class="col-sm-12">
                <div class="body table-responsive">
                    <table class="table" id="regions-table">
                        <thead>
                            <tr>
                                <th width="1%">@L("Choose")</th>
                                <th>@L("AccountNumber")</th>
                                <th>@L("Name")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.AvailableCases)
                            {
                                <tr>
                                    <td style="text-align: center;">
                                        <label>
                                            <input type="checkbox" name="case" value="@item.Id" title="" class="filled-in checkbox-elem-edit" id="@string.Format("case-{0}",item.Id)" />
                                            <label for="@string.Format("case-{0}",item.Id)" title=""></label>
                                        </label>
                                    </td>
                                    <td>@item.AccountNumber</td>
                                    <td>@(item.PrincipalCustomerName)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/AssignCases/_EditAssignCaseModal.js" asp-append-version="true"></script>
