﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.AssignCaseListViewModel
@{
    ViewBag.CurrentPageName = PageNames.AssignCases; // The menu item will be active for this page.
    ViewBag.Title = L("AssignCases");
}
@section scripts
{
    <script src="~/view-resources/Views/AssignCases/Index.js" asp-append-version="true"></script>
}

<style>
    .wizard.vertical > .steps {
        width: 200px;
    }

    #dataTable_wrapper {
        padding: 16px;
    }
</style>

<div class="row clearfix" id="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("AssignCases")
                </h2>
            </div>

            <div class="body table-responsive">
                <div id="searchContainer" class="col-sm-12">
                    <form id="searchActivityForm">
                        <div class="col-sm-6">
                            <label>@L("Agent")</label>
                            <div class="input-group">
                                @Html.DropDownListFor(x => x.FromAgentId,
                                    new SelectList(Model.Agents, "Id", "User.FullName"),
                                    L("SearchAgent"), new { id = "agent", name = "agent", @class = "selectpicker", @data_live_search = "true" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <button type="button" id="search-button" class="btn btn-success waves-effect" style="margin-top: 20px;">@L("Search")</button>
                        </div>
                    </form>
                </div>

                <table id="from-cases-table" class="table table-striped table-bordered"
                       style="width: 100%;table-layout: fixed;word-wrap: break-word">
                    <thead>
                        <tr>
                            <th>@L("Choose")</th>
                            <th>@L("AccountNumber")</th>
                            <th>@L("Name")</th>
                            <th>@L("ZipCode")</th>
                            <th>@L("Product")</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <div id="transferContainer" class="col-sm-12" style="margin-top: 40px;">
                    <form id="transferForm">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <label class="input-group-text">@L("Agent")</label>

                                    @Html.DropDownListFor(x => x.ToAgentId,
                                        new SelectList(Model.Agents, "Id", "Fullname"),
                                        L("SearchAgent"), new { id = "to-agent", name = "to-agent", @class = "selectpicker form-control", @data_live_search = "true" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <label class="input-group-text">@L("AsignationType")</label>

                                    @Html.DropDownListFor(x => x.SelectedAsignationType,
                                        new SelectList(Model.AsignationTypes),
                                        L("ChooseOne"), new { @class = "selectpicker form-control", @data_live_search = "true" })

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <button type="button" id="save-button" class="btn btn-success waves-effect" style="margin-top: 20px;">@L("Save")</button>
                                    <button type="button" id="delete-button" class="btn btn-success waves-effect" style="margin-top: 20px;">@L("Delete")</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="col-sm-12" id="transferCases">
                        <table id="selectedToAgenteTransferCasesDataTable" class="table table-striped table-bordered"
                               style="width: 100%;table-layout: fixed;word-wrap: break-word">
                            <thead>
                                <tr>
                                    <th>@L("Choose")</th>
                                    <th>@L("AccountNumber")</th>
                                    <th>@L("Name")</th>
                                    <th>@L("City")</th>
                                    <th>@L("ZipCode")</th>
                                    <th>@L("ProductNumber")</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row clearfix">
    <div class="card">
        <div class="body table-responsive">
            <div id="steps-vertical">
                <h3>@L("ChooseCasesFromAgent")</h3>
                <section>
                    <div id="searchContainer" class="col-sm-12">
                        <form id="searchActivityForm">
                            <div class="col-sm-3">
                                <label>@L("ChooseAnAgentFromTheList")</label>
                                <div class="input-group">
                                    @Html.DropDownListFor(x => x.FromAgentId,
                                        new SelectList(Model.Agents, "Id", "User.FullName"),
                                        L("SearchAgent"), new { id = "agent", name = "agent", @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary waves-effect" style="margin-top: 20px;">@L("Search")</button>
                            </div>
                        </form>
                    </div>
                    <div class="body table-responsive">
                        @if (Model.FromAgentCases != null & Model.FromAgentCases.Any())
                        {
                            <h4>@L("ChooseCasesToTransfer")</h4>
                            <table id="from-cases-table" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>@L("Choose")</th>
                                        <th>@L("AccountNumber")</th>
                                        <th>@L("Name")</th>
                                        <th>@L("ZipCode")</th>
                                        <th>@L("Product")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.FromAgentCases)
                                    {
                                        <tr>
                                            <td style="text-align: center;">
                                                <label>
                                                    <input type="checkbox" name="case" value="@item.Id" title="" class="filled-in checkbox-elem-edit" id="@string.Format("case-{0}", item.Id)" />
                                                    <label for="@string.Format("case-{0}", item.Id)" title=""></label>
                                                </label>
                                            </td>
                                            <td>@item.AccountNumber</td>
                                            <td>@item.PrincipalCustomerName</td>
                                            <td>@item.PostalCode</td>
                                            <td>@item.ProductName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        }
                    </div>
                </section>
                <h3>@L("ChooseAgent")</h3>
                <section>
                    <div id="assign-case-review-container">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AssignCaseModal" tabindex="-1" agentCase="dialog" aria-labelledby="AssignCaseModalLabel" data-backdrop="static">
    <div class="modal-dialog" agentCase="document" style="width: 100%; height:100%; margin: 0; padding: 0;">
        <div class="modal-content" style="height: auto; min-height: 100%; border-radius: 0;">
        </div>
    </div>
</div>

<div class="modal fade" id="EditAssignCaseModal" tabindex="-1" agentCase="dialog" aria-labelledby="EditAssignCaseModalLabel" data-backdrop="static">
    <div class="modal-dialog" agentCase="document" style="width: 800px; min-height:800px;">
        <div class="modal-content">
        </div>
    </div>
</div>*@
