﻿@using ItGroup.Saex.Web.Startup
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model ItGroup.Saex.Web.ViewModels.UpdateRunViewModel
@{
    ViewBag.CurrentPageName = PageNames.RunUpdate; // The menu item will be active for this page.
    ViewBag.Title = @L("RunUpdate");
}

@section scripts
{

    <script src="~/view-resources/Views/RunUpdate/Index.js" asp-append-version="true"></script>
    <style>
        #dataTable_wrapper {
            padding: 16px;
        }
    </style>
}

<div class="row clearfix" id="runUpdate">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("RunUpdate")
                </h2>
            </div>

            <form name="updateRunForm">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary waves-effect" style="margin-top: 20px;">@L("RunUpdateButton")</button>
                </div>
            </form>

            <div class="col-sm-12" style="margin-top: 20px;">
                <div class="col-sm-2">
                    <label>@L("InitialDate")</label>
                    <label>@Model.InitialDate</label>

                </div>
            </div>

            <div class="col-sm-12" style="margin-top: 20px;">
                <div class="col-sm-3">
                    <label>@L("FinalDate")</label>
                    <label>@Model.FinalDate</label>
                </div>
            </div>

            <div class="body table-responsive" id="interfaceLogTable">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Step")</th>
                            <th>@L("Begin/End")</th>
                            <th>@L("Date")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var interfacelog in Model.InterfaceLogs)
                        {
                            <tr>
                                <td>@interfacelog.TableName</td>
                                <td>@interfacelog.BegEnd</td>
                                <td>@interfacelog.InterfaceDate.ToString("g")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="col-sm-12">
                <p><b>@L("Errors")</b></p>
            </div>

            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Error")</th>
                            <th>@L("Date")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var errorlog in Model.ErrorLogs)
                        {
                            <tr>
                                <td>@errorlog.ErrorDescription</td>
                                <td>@errorlog.ErrorDate.ToString("g")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>