﻿@using ItGroup.Saex.Web.Models.Common.Modals
@using static ItGroup.Saex.Enumerations.Enumerations
@model ItGroup.Saex.Web.ViewModels.EditBucketModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditBucket")))

<div class="modal-body">
    <form name="BucketEditForm" bucket="form" novalidate class="form-validation">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <div class="row clearfix">
            <div class="col-sm-12">
                <label>@L("Product")</label>
                <div class="input-group">
                    @Html.DropDownListFor(x => x.ProductId,
                    new SelectList(Model.Products, "Id", "Description"),
                    L("SelectProduct"), new { @class = "selectpicker" })
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="MinValue" name="MinValue" value="@Model.MinValue" type="text" required maxlength="500" minlength="1" class="validate form-control">
                        <label for="MinValue" class="form-label">@L("MinValue")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="MaxValue" name="MaxValue" value="@Model.MaxValue" type="text" required maxlength="500" minlength="1" class="validate form-control">
                        <label for="MaxValue" class="form-label">@L("MaxValue")</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/Buckets/_EditBucketModal.js" asp-append-version="true"></script>