﻿@using ItGroup.Saex.Web.Startup
@using static ItGroup.Saex.Enumerations.Enumerations
@model ItGroup.Saex.Web.ViewModels.BucketListViewModel
@{
    ViewBag.CurrentPageName = PageNames.Buckets; // The menu item will be active for this page.
    ViewBag.Title = L("Buckets");
}

@section scripts
{

    <script src="~/view-resources/Views/Buckets/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("Buckets")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Product")</th>
                            <th>@L("MinValue")</th>
                            <th>@L("MaxValue")</th>
                            @if (Model.CanModify)
                            {
                                <th style="text-align: right;">@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var bucket in Model.Buckets.Items)
                        {
                            <tr>
                                <td>@bucket.Product.Description</td>
                                <td>@bucket.MinValue</td>
                                <td>@bucket.MaxValue</td>
                                @if (Model.CanModify)
                                {
                                    <td class="dropdown">
                                        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" bucket="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" class="waves-effect waves-block edit-bucket" data-bucket-id="@bucket.Id" data-toggle="modal" data-target="#BucketEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                            <li><a href="#" class="waves-effect waves-block delete-bucket" data-bucket-id="@bucket.Id" data-bucket-name="@bucket.Product.Code"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                        </ul>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.CanModify)
                {
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#BucketCreateModal">
                        <i class="material-icons">add</i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>
@if (Model.CanModify)
{
    <div class="modal fade" id="BucketCreateModal" tabindex="-1" bucket="dialog" aria-labelledby="BucketCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" bucket="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreateBucket")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="bucketCreateForm" bucket="form" novalidate class="form-validation">
                        <div class="row clearfix" style="margin-bottom: 25px;">
                            <div class="col-sm-12">
                                <label>@L("Product")</label>
                                <div class="input-group">
                                    @Html.DropDownListFor(x => x.ProductId,
         new SelectList(Model.Products, "Id", "Description"),
         L("SelectProduct"), new { @class = "selectpicker" })
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="MinValue" name="MinValue" type="text" required maxlength="500" minlength="1" class="validate form-control">
                                        <label for="MinValue" class="form-label">@L("MinValue")</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="MaxValue" name="MaxValue" type="text" required maxlength="500" minlength="1" class="validate form-control">
                                        <label for="MaxValue" class="form-label">@L("MaxValue")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="BucketEditModal" tabindex="-1" bucket="dialog" aria-labelledby="BucketEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" bucket="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
