﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.EditContactTypeModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditContactType")))

<div class="modal-body">
    <form name="ContactTypeEditForm" contactType="form" novalidate class="form-validation">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Code" name="Code" type="text" value="@Model.Code" required maxlength="100" class="validate form-control" readonly="readonly">
                        <label for="Code" class="form-label">@L("Code")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Description" name="Description" type="text" value="@Model.Description" required maxlength="250" minlength="2" class="validate form-control">
                        <label for="Description" class="form-label">@L("Description")</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/ContactTypes/_EditContactTypeModal.js" asp-append-version="true"></script>