﻿@using ItGroup.Saex.Web.Startup
@using ItGroup.Saex.Configuration
@using ItGroup.Saex.Web

@model ItGroup.Saex.Web.ViewModels.InternalAgentDashboardViewModel
@{
    ViewBag.CurrentPageName = PageNames.InternalAgentDashboard;
    ViewBag.Title = L("InternalAgentDashboard");
}

@section styles
{
    <style>
        #dataTable_wrapper {
            padding: 16px;
        }
    </style>
}

@section scripts
{
    <script src="~/view-resources/Views/InternalAgentDashboard/Index.js" asp-append-version="true"></script>
    <script src="/AbpScripts/GetScripts" type="text/javascript"></script>
}

<div class="row clearfix" id="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("InternalAgentDashboard")
                </h2>
                <div id="searchContainer" class="container col-sm-12" style="margin-top: 40px;">
                    <form id="searchForm">
                        <input type="hidden" id="internalAgent-id" name="Id" value="@Model.InternalAgentId" />
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <label class="input-group-text">@L("ExternalAgents")</label>

                                    @Html.DropDownListFor(x => x.SelectedExternalAgent,
                                        new SelectList(Model.ExternalAgents, "User.Id", "User.FullName"),
                                        L("ChooseOne"), new { @class = "selectpicker form-control", @data_live_search = "true" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <label class="input-group-text">@L("Regions")</label>

                                    @Html.DropDownListFor(x => x.SelectedRegion,
                                        new SelectList(Model.Regions, "RegionId", "Name"),
                                        L("ChooseOne"), new { @class = "selectpicker form-control", @data_live_search = "true" })
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>@L("Routes")</label>
                                    <div class="input-group">
                                        @Html.DropDownListFor(x => x.SelectedRoute,
                                            new SelectList(Model.Routes, "RouteId", "Name"),
                                            L("ChooseOne"), new { @class = "selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>@L("PostalCodes")</label>
                                    <div class="input-group">
                                        @Html.DropDownListFor(x => x.SelectedPostalCode,
                                            new SelectList(Model.PostalCodes, "Code", "Code"),
                                            L("ChooseOne"), new { @class = "selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>@L("AccountNumber")</label>
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.AccountNumber, new { @class = "form-control", @type = "text", @placeholder = L("AccountNumber") })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>@L("Name")</label>
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @type = "text", @placeholder = L("Name") })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>@L("LastActivityCode")</label>
                                    <div class="input-group">
                                        @Html.DropDownListFor(x => x.SelectedActivityCode,
                                            new SelectList(Model.ActivityCodes, "Code", "Description"),
                                            L("ChooseOne"), new { @class = "selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>@L("DelinquencyStates")</label>
                                    <div class="input-group">
                                        @Html.DropDownListFor(x => x.SelectedDelinquencyStage,
                                            new SelectList(Model.DelinquencyStages),
                                            L("ChooseOne"), new { @class = "selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>@L("Alerts")</label>
                                    <div class="input-group">
                                        @Html.DropDownListFor(x => x.SelectedAlert,
                                            new SelectList(Model.Alerts, "AlertID", "Description"),
                                            L("ChooseOne"), new { @class = "selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>@L("Status")</label>
                                    <div class="input-group">
                                        @Html.DropDownListFor(x => x.SelectedStatus,
                                            new SelectList(Model.Status),
                                            L("ChooseOne"), new { @class = "selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>@L("Estados")</label>
                                    <div class="input-group">
                                        @Html.DropDownListFor(x => x.SelectedEstado,
                                            new SelectList(Model.Estados),
                                            L("ChooseOne"), new { @class = "selectpicker", @data_live_search = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="button" id="search-button" class="btn btn-success waves-effect" style="margin-top: 20px;">@L("Search")</button>
                            <button type="button" id="save-button" class="btn btn-primary waves-effect save-button" style="margin-top: 20px;">@L("Save")</button>
                            <button type="button" id="reset-button" class="btn btn-success waves-effect" style="margin-top: 20px;">@L("ResetColumns")</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="body table-responsive">
                <table id="dataTable" class="table table-striped table-bordered" 
                       style="width: 100%;table-layout: fixed;word-wrap: break-word">
                    <thead>
                        <tr>
                            <th>@L("StateCode")</th>
                            <th>@L("Route")</th>
                            <th>@L("DPD")</th>
                            <th>@L("Product")</th>
                            <th>@L("DelinquencyStage")</th>
                            <th>@L("AccountNumber")</th>
                            <th>@L("Name")</th>
                            <th>@L("Balance")</th>
                            <th>@L("PaymentAmount")</th>
                            <th>@L("TotalDLQAmount")</th>
                            <th>@L("EntryDate")</th>
                            <th>@L("LastPaymentDate")</th>
                            <th>@L("Estado")</th>
                            <th>@L("ActivityCode")</th>
                            <th>@L("ActivityCodeComment")</th>
                            <th>@L("ExternalAgentComment")</th>
                            <th>@L("LastComment")</th>
                            <th>@L("Comment")</th>
                            <th>@L("Promise")</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CaseRecentActivitiesModal" tabindex="-1" role="dialog" aria-labelledby="CaseRecentActivitiesModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>