﻿@using ItGroup.Saex.Web.Startup
@using ItGroup.Saex.Configuration
@using ItGroup.Saex.Web
@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration

@model ItGroup.Saex.Web.ViewModels.CaseFieldsImportListViewModel
@{
    ViewBag.CurrentPageName = PageNames.ValidFieldsForLists;
    ViewBag.Title = L("ValidFieldsForLists");
}

@section scripts
{

    <script src="~/view-resources/Views/ValidFieldsForLists/Index.js" asp-append-version="true"></script>
}

@{
    var myTheme = "";
    if (Configuration != null)
    {
        if (Configuration.GetSection("Theme").Value != null) { myTheme = Configuration.GetSection("Theme").Value.ToUpper(); }
    }
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("ValidFieldsForLists")
                </h2>
                <div id="searchContainer" class="col-sm-12" style="margin-top: 40px;">
                    <form id="searchForm">
                        <div class="col-sm-2">
                            <label>@L("Product")</label>
                            <div class="input-group">
                                @Html.DropDownListFor(x => x.SelectedCaseTypeId,
                                    new SelectList(Model.CaseTypes, "Id", "Description"),
                                    L("ChooseOne"), new { @class = "selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" formaction="@Url.Action("Post", "ValidFieldsForLists")" class="btn btn-primary waves-effect" style="margin-top: 20px;">@L("Search")</button>
                            <button type="button" id="save-button" class="btn btn-primary waves-effect save-button" style="margin-top: 20px;">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Sel")</th>
                            <th>@L("Column")</th>
                            <th>@L("Description")</th>
                            <th>@L("Product")</th>
                            <th>@L("MasterList")</th>
                            <th>@L("ChildList")</th>
                            <th>@L("RiskList")</th>
                            <th>@L("Category")</th>
                            <th>@L("SortOrder")</th>
                        </tr>
                    </thead>
                    <tbody id="dtData">
                        @for (int i = 0; i < Model.CaseFields.Count - 1; i++)
                        {
                            <tr>
                                @{
                                    var field = Model.CaseFields[i];
                                    @*<td hidden><div><label hidden id="fieldid" title="@field.FieldID"/></div></td>*@
                                    <td><div><input type="checkbox" name="Selected" class="chk-control" id="chkSel-@field.FieldID" fieldid="@field.FieldID" @(field.Selected ? "checked" : "") value="@field.Selected" /><label for="chkSel-@field.FieldID"></label></div></td>
                                    <td>@field.ColumnName</td>
                                    <td>@field.HumanName</td>
                                    <td>@field.CaseTypeDescription</td>
                                    <td><div><input type="checkbox" name="MasterList" class="chk-control" fieldid="@field.FieldID" id="chkMaster-@field.FieldID" @(field.MasterList ? "checked" : "") value="@field.MasterList" /><label for="chkMaster-@field.FieldID"></label></div></td>
                                    <td><div><input type="checkbox" name="ChildList" class="chk-control" fieldid="@field.FieldID" id="chkChild-@field.FieldID" @(field.ChildList ? "checked" : "") value="@field.ChildList" /><label for="chkChild-@field.FieldID"></label></div></td>
                                    <td><div><input type="checkbox" name="RiskList" class="chk-control" fieldid="@field.FieldID" id="chkRisk-@field.FieldID" @(field.RiskList ? "checked" : "") value="@field.RiskList" /><label for="chkRisk-@field.FieldID"></label></div></td>
                                    <td>
                                        <div>
                                            @Html.DropDownListFor(x => x.CaseFields[i].CategoriaID,
                                                     new SelectList(Model.Categories, "CategoryId", "Description"), L("ChooseOne"),
                                                     new { @class = "selectpicker col-sm-10 drp-control", @data_live_search = "false", @name = "Category", @fieldid = field.FieldID })
                                        </div>
                                    </td>
                                    <td><input type="number" min="1" max="999" class="txt-control" fieldid="@field.FieldID" pattern="[0-9]" name="Sequence" value="@field.Sequence" style="width:60px;text-align:right;border:1;padding:5px;" /></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="CaseRecentActivitiesModal" tabindex="-1" role="dialog" aria-labelledby="CaseRecentActivitiesModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>*@