﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.EditCaseModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditCaseType")))

<div class="modal-body">
    <form name="CaseEditForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@Model.Case.Id" />
        <ul class="nav nav-tabs tab-nav-right" role="tablist">
            <li role="presentation" class="active"><a href="#details" data-toggle="tab">@L("CaseDetails")</a></li>
            <li role="presentation"><a href="#agents" data-toggle="tab">@L("Agents")</a></li>
            <li role="presentation"><a href="#activities" data-toggle="tab">@L("Activities")</a></li>
            <li role="presentation"><a href="#payments" data-toggle="tab">@L("Payments")</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane animated fadeIn active" id="details">

                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="account-number" disabled="disabled" type="text" name="account-number" value="@Model.Case.AccountNumber" class="validate form-control">
                                <label for="account-number" class="form-label">@L("AccountNumber")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="account-type" disabled="disabled" type="text" name="account-type" value="@Model.Case.AccountType" class="validate form-control">
                                <label for="account-type" class="form-label">@L("AccountType")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="branch-id" disabled="disabled" type="text" name="branch-id" value="@Model.Case.BranchId" class="validate form-control">
                                <label for="branch-id" class="form-label">@L("BranchId")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="case-number" disabled="disabled" type="text" name="case-number" value="@Model.Case.CaseNumber" class="validate form-control">
                                <label for="case-number" class="form-label">@L("CaseNumber")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="charges" disabled="disabled" type="text" name="charges" value="@Model.Case.Charges" class="validate form-control">
                                <label for="charges" class="form-label">@L("Charges")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="collector-id" disabled="disabled" type="text" name="collector-id" value="@Model.Case.CollectorId" class="validate form-control">
                                <label for="collector-id" class="form-label">@L("CollectorId")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="condition" disabled="disabled" type="text" name="condition" value="@Model.Case.Condition" class="validate form-control">
                                <label for="condition" class="form-label">@L("Condition")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="contact-person" disabled="disabled" type="text" name="contact-person" value="@Model.Case.ContactPerson" class="validate form-control">
                                <label for="contact-person" class="form-label">@L("ContactPerson")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="due-date" disabled="disabled" type="text" name="due-date" value="@Model.Case.DueDate" class="validate form-control">
                                <label for="due-date" class="form-label">@L("DueDate")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="imported-date" disabled="disabled" type="text" name="imported-date" value="@Model.Case.ImportedDate" class="validate form-control">
                                <label for="imported-date" class="form-label">@L("ImportedDate")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="interest-rate" disabled="disabled" type="text" name="interest-rate" value="@Model.Case.InterestRate" class="validate form-control">
                                <label for="interest-rate" class="form-label">@L("InterestRate")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="last-payment-date" disabled="disabled" type="text" name="last-payment-date" value="@Model.Case.LastPaymentDate" class="validate form-control">
                                <label for="last-payment-date" class="form-label">@L("LastPaymentDate")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="maturity-date" disabled="disabled" type="text" name="maturity-date" value="@Model.Case.MaturityDate" class="validate form-control">
                                <label for="maturity-date" class="form-label">@L("MaturityDate")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="original-amount" disabled="disabled" type="text" name="original-amount" value="@Model.Case.OriginalAmount" class="validate form-control">
                                <label for="original-amount" class="form-label">@L("OriginalAmount")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="owed-amount" disabled="disabled" type="text" name="owed-amount" value="@Model.Case.OwedAmount" class="validate form-control">
                                <label for="owed-amount" class="form-label">@L("OwedAmount")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="paid-amount" disabled="disabled" type="text" name="paid-amount" value="@Model.Case.PaidAmount" class="validate form-control">
                                <label for="paid-amount" class="form-label">@L("PaidAmount")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="state-code" disabled="disabled" type="text" name="state-code" value="@Model.Case.StateCode" class="validate form-control">
                                <label for="state-code" class="form-label">@L("StateCode")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="status" disabled="disabled" type="text" name="status" value="@Model.Case.Status" class="validate form-control">
                                <label for="status" class="form-label">@L("Status")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="terms" type="text" name="terms" value="@Model.Case.Terms" class="validate form-control">
                                <label for="terms" class="form-label">@L("Terms")</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane animated fadeIn" id="agents">
                <div class="row">
                    <div class="body table-responsive">
                        @if (Model.Case.Agents != null && Model.Case.Agents.Any())
                        {
                            <table class="table" id="agents-table">
                                <thead>
                                    <tr>
                                        <th>@L("Name")</th>
                                        <th>@L("Type")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var agent in Model.Case.Agents)
                                    {
                                        <tr>
                                            <td>@agent.User.FullName</td>
                                            <td>@agent.Type</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <strong style="display: table; margin: 0 auto;">@L("NoAgentsForThisCase")</strong>
                        }
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane animated fadeIn" id="recollections">
                <div class="row">
                    <div class="body table-responsive">
                        @if (Model.Case.CaseActivities != null && Model.Case.CaseActivities.Any())
                        {
                            <table class="table" id="agents-table">
                                <thead>
                                    <tr>
                                        <th>@L("AgentName")</th>
                                        <th>@L("ContactType")</th>
                                        <th>@L("VisitPlace")</th>
                                        <th>@L("Comments")</th>
                                        <th>@L("Date")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var activity in Model.Case.CaseActivities)
                                    {
                                        <tr>
                                            <td>@activity.Agent.User.FullName</td>
                                            <td>@activity.ContactType.Description</td>
                                            <td>@activity.VisitPlace.Description</td>
                                            <td>@activity.PaymentDelayReason.Description </td>
                                            <td>@activity.Comments</td>
                                            <td>@activity.CreationTime</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <strong style="display: table; margin: 0 auto;">@L("NoActivitiesForThisCase")</strong>
                        }
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane animated fadeIn" id="activities">
                <div class="row">
                    <div class="body table-responsive">
                        @if (Model.Case.CaseActivities != null && Model.Case.CaseActivities.Any())
                        {
                            <table class="table" id="agents-table">
                                <thead>
                                    <tr>
                                        <th>@L("AgentName")</th>
                                        <th>@L("ContactType")</th>
                                        <th>@L("VisitPlace")</th>
                                        <th>@L("Comments")</th>
                                        <th>@L("Date")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var agent in Model.Case.CaseActivities)
                                    {
                                        <tr>
                                            <td>@agent.Agent.User.FullName</td>
                                            <td>@agent.ContactType.Description</td>
                                            <td>@agent.VisitPlace.Description</td>
                                            <td>@agent.Comments</td>
                                            <td>@agent.CreationTime</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <strong style="display: table; margin: 0 auto;">@L("NoActivitiesForThisCase")</strong>
                        }
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane animated fadeIn" id="payments">
                <div class="row">
                    <div class="body table-responsive">
                        @if (Model.Case.Payments != null && Model.Case.Payments.Any())
                        {
                            <table class="table" id="audit-table">
                                <thead>
                                    <tr>
                                        <th>@L("Amount")</th>
                                        <th>@L("Date")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var payment in Model.Case.Payments)
                                    {
                                        <tr>
                                            <td>@payment.PaymentAmount</td>
                                            <td>@payment.PaymentDate</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <strong style="display: table; margin: 0 auto;">@L("NoPaymentsForThisCase")</strong>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Close")</button>
        </div>
    </form>
</div>

<script src="~/view-resources/Views/Cases/_EditCaseModal.js" asp-append-version="true"></script>
