﻿@*@using ItGroup.Saex.Web.Startup
    @model ItGroup.Saex.Web.ViewModels.CaseRecentActivitiesListViewModel
    @{
        ViewBag.CurrentPageName = PageNames.Cases; // The menu item will be active for this page.
    }
    @section scripts
    {
        <environment names="Development">
            <script src="~/view-resources/Views/CaseRecentActivity/Index.js" asp-append-version="true"></script>
        </environment>

        <environment names="Staging,Production">
            <script src="~/view-resources/Views/CaseRecentActivity/Index.js" asp-append-version="true"></script>
        </environment>
    }*@

@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.CaseRecentActivitiesListViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("RecentActivity")))

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("RecentActivity")
                </h2>
                @*<a href="javascript:void(0);" class="js-search" style="float: right" data-close="true"><i class="material-icons">search</i></a>*@
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            @*<th>@L("IsRequired")</th>*@
                            <th>@L("CreationTime")</th>
                            <th>@L("ActionCode")</th>
                            <th>@L("Description")</th>
                            <th>@L("ReactionCode")</th>
                            <th>@L("Description")</th>
                            <th>@L("ReasonCode")</th>
                            <th>@L("Description")</th>
                            <th>@L("Comment")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Activities.Items)
                        {
                            <tr>
                                <td>@item.CreationTime</td>
                                <td>@item.ActionCode</td>
                                <td>@item.ActionDescription</td>
                                <td>@item.ReactionCode</td>
                                <td>@item.ReactionDescription</td>
                                <td>@item.ReasonCode</td>
                                <td>@item.ReasonDescription</td>
                                <td>@item.Comment</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="CaseEditModal" tabindex="-1" item="dialog" aria-labelledby="CaseEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" item="document">
            <div class="modal-content">
            </div>
        </div>
    </div>*@
