﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.CaseListViewModel
@{
    ViewBag.CurrentPageName = PageNames.Cases; // The menu item will be active for this page.
}
@section scripts
{

    <script src="~/view-resources/Views/Cases/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <iv class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("Cases")
                </h2>
                <a href="javascript:void(0);" class="js-search" style="float: right" data-close="true"><i class="material-icons">search</i></a>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            @*<th>@L("IsRequired")</th>*@
                            <th>@L("Name")</th>
                            <th>@L("AccountNumber")</th>
                            @*<th>@L("ZipCode")</th>
                                <th>@L("StateCode")</th>
                                <th>@L("Route")</th>
                                <th>@L("DPD")</th>*@
                            <th>@L("DelinquencyState")</th>
                            <th>@L("Balance")</th>
                            <th>@L("PaidAmount")</th>
                            <th>@L("OwedAmount")</th>
                            @*<th>@L("EnterDate")</th>*@
                            <th>@L("Status")</th>
                            @*<th>@L("ActivityCode")</th>
                                <th>@L("LastPaymentDate")</th>
                                <th>@L("LatestComment")</th>*@
                            @*<th>@L("ExternalAgentComment")</th>*@
                            @*<th>@L("InternalAgentComment")</th>*@
                            @*<th>@L("AssignationType")</th>*@
                            <th style="text-align: right;">@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Cases.Items)
                        {
                            <tr>
                                @*<td>@item.IsRequired</td>*@
                                <td>@item.PrincipalCustomerName</td>
                                <td>@item.AccountNumber</td>
                                @*<td>@item.PostalCode</td>
                                    <td>@item.StateCode</td>
                                    <td>@item.RouteName</td>
                                    <td>@item.Dpd</td>*@
                                <td>""</td>
                                <td>@item.OriginalAmount</td>
                                <td>@item.PaidAmount</td>
                                <td>@item.OwedAmount</td>
                                @*<td>@item.EnterDate</td>*@
                                <td>@item.Status</td>
                                @*<td>@item.ActivityCodeName</td>
                                    <td>@item.LastPaymentDate</td>
                                    <td>@item.LastestComment</td>
                                    <td>@item.Assignationtype</td>*@

                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" item="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-item edit-case" data-case-id="@item.Id" data-toggle="modal" data-target="#CaseEditModal"><i class="material-icons">visibility</i>@L("View")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @*@if (Model.CanModify)
                    {
                        <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#CaseImportModal">
                            <i class="material-icons">add</i>
                        </button>
                    }*@
            </div>
        </div>
    </iv>
</div>

<div class="modal fade" id="CaseEditModal" tabindex="-1" item="dialog" aria-labelledby="CaseEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" item="document">
        <div class="modal-content">
        </div>
    </div>
</div>
