﻿@using ItGroup.Saex.Web.Models.Common.Modals
@using static ItGroup.Saex.Enumerations.Enumerations
@model ItGroup.Saex.Web.ViewModels.EditProductRuleModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditProductRule")))

<div class="modal-body">
    <form name="ProductRuleEditForm" productRule="form" novalidate class="form-validation">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <div class="row clearfix">
            <div class="col-sm-12">
                <label>@L("Product")</label>
                <div class="input-group">
                    @Html.DropDownListFor(x => x.ProductId,
                    new SelectList(Model.Products, "Id", "Description"),
                    L("SelectProduct"), new { @class = "selectpicker" })
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <label>@L("Type")</label>
                <div class="input-group">
                    @Html.DropDownListFor(x => x.Type,
                    new SelectList(Enum.GetValues(typeof(RuleType))),
                    L("SelectRuleType"), new { @class = "selectpicker" })
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/ProductRules/_EditProductRuleModal.js" asp-append-version="true"></script>