﻿@using ItGroup.Saex.Web.Startup
@using static ItGroup.Saex.Enumerations.Enumerations
@model ItGroup.Saex.Web.ViewModels.ProductRuleListViewModel
@{
    ViewBag.CurrentPageName = PageNames.ProductRules; // The menu item will be active for this page.
    ViewBag.Title = L("ProductRules");
}

@section scripts
{

    <script src="~/view-resources/Views/ProductRules/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("ProductRules")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Product")</th>
                            <th>@L("Type")</th>
                            @if (Model.CanModify)
                            {
                                <th style="text-align: right;">@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var productRule in Model.ProductRules.Items)
                        {
                            <tr>
                                <td>@productRule.Product.Description</td>
                                <td>@(new EnumerationModel(productRule.Type).Members.Where(x => x.Name == productRule.Type.ToString()).Select(x => x.Name).FirstOrDefault())</td>
                                @if (Model.CanModify)
                                {
                                    <td class="dropdown">
                                        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" productRule="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" class="waves-effect waves-block edit-productRule" data-productRule-id="@productRule.Id" data-toggle="modal" data-target="#ProductRuleEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                            <li><a href="#" class="waves-effect waves-block delete-productRule" data-productRule-id="@productRule.Id" data-productRule-name="@productRule.Product.Code"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                        </ul>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.CanModify)
                {
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#ProductRuleCreateModal">
                        <i class="material-icons">add</i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.CanModify)
{
    <div class="modal fade" id="ProductRuleCreateModal" tabindex="-1" productRule="dialog" aria-labelledby="ProductRuleCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" productRule="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreateProductRule")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="productRuleCreateForm" productRule="form" novalidate class="form-validation">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <label>@L("Product")</label>
                                <div class="input-group">
                                    @Html.DropDownListFor(x => x.ProductId,
         new SelectList(Model.Products, "Id", "Description"),
         L("SelectProduct"), new { @class = "selectpicker" })
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <label>@L("Type")</label>
                                <div class="input-group">
                                    @Html.DropDownListFor(x => x.Type,
         new SelectList(Enum.GetValues(typeof(RuleType))),
         L("SelectRuleType"), new { @class = "selectpicker" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ProductRuleEditModal" tabindex="-1" productRule="dialog" aria-labelledby="ProductRuleEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" productRule="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

}
