﻿@using ItGroup.Saex.Web.Models.Common.Modals
@using Abp.Authorization.Users
@using Abp.Extensions
@using Abp.MultiTenancy
@model ItGroup.Saex.Web.Models.Users.ResetUserPasswordViewModel
@section Scripts
{

    <script src="~/view-resources/Views/Account/ResetPassword.js" asp-append-version="true"></script>
}


<div class="card" id="PasswordResetFormArea">
    <div class="body">
        <form id="PasswordResetForm" asp-action="ResetPassword" method="post">
            <div class="tab-content">
                <h4 class="text-center">@L("PasswordReset")</h4>
                <div role="tabpanel" class="tab-pane animated fadeIn active" id="edit-user-details">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="hidden" name="userId" value="@Model.UserId" />
                                    <input id="NewPassword" type="password" name="newPassword" value="@Model.NewPassword" required maxlength="@AbpUserBase.MaxPlainPasswordLength" class="validate form-control">
                                    <label for="NewPassword" class="form-label">@L("NewPassword")</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="ConfirmPassword" type="password" name="confirmPassword" value="@Model.ConfirmPassword" required maxlength="@AbpUserBase.MaxPlainPasswordLength" class="validate form-control">
                                    <label for="ConfirmPassword" class="form-label">@L("ConfirmPassword")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button id="LoginButton" class="btn btn-primary btn-block waves-effect" type="submit">@L("Save")</button>
        </form>
    </div>
</div>
