﻿@using ItGroup.Saex.Web.Models.Common.Modals
@using static ItGroup.Saex.Enumerations.Enumerations
@model ItGroup.Saex.Web.ViewModels.EditConditionModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditCondition")))

<div class="modal-body">
    <form name="ConditionEditForm" condition="form" novalidate class="form-validation">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <div class="row clearfix">
            <div class="col-sm-12">
                <label>@L("Product")</label>
                <div class="input-group">
                    @Html.DropDownListFor(x => x.ProductId,
                     new SelectList(Model.Products, "Id", "Description"),
                     L("SelectProduct"), new { @class = "selectpicker" })
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Value" name="Value" type="text" value="@Model.Value" required maxlength="500" minlength="1" class="validate form-control">
                        <label for="Value" class="form-label">@L("Condition")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <label>@L("Value")</label>
                <div class="input-group">
                    @Html.DropDownListFor(x => x.Description,
new SelectList(Model.ConditionsTypes),
L("ChooseOne"), new { @class = "selectpicker" })
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/Conditions/_EditConditionModal.js" asp-append-version="true"></script>