﻿@using ItGroup.Saex.Web.Startup
@using static ItGroup.Saex.Enumerations.Enumerations
@model ItGroup.Saex.Web.ViewModels.ConditionListViewModel
@{
    ViewBag.CurrentPageName = PageNames.Conditions; // The menu item will be active for this page.
    ViewBag.Title = L("Conditions");
}

@section scripts
{

    <script src="~/view-resources/Views/Conditions/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("Conditions")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Product")</th>
                            <th>@L("Condition")</th>
                            <th>@L("Value")</th>
                            @if (Model.CanModify)
                            {
                                <th style="text-align: right;">@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var condition in Model.Conditions.Items)
                        {
                        <tr>
                            <td>@condition.Product.Description</td>
                            <td>@condition.Value</td>
                            <td>@condition.Description</td>
                            @if (Model.CanModify)
                            {
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" condition="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-condition" data-condition-id="@condition.Id" data-toggle="modal" data-target="#ConditionEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-condition" data-condition-id="@condition.Id" data-condition-name="@condition.Description"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
                @if (Model.CanModify)
                {
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#ConditionCreateModal">
                        <i class="material-icons">add</i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>
@if (Model.CanModify)
{
    <div class="modal fade" id="ConditionCreateModal" tabindex="-1" condition="dialog" aria-labelledby="ConditionCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" condition="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreateCondition")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="conditionCreateForm" condition="form" novalidate class="form-validation">
                        <div class="row clearfix" style="margin-bottom: 25px;">
                            <div class="col-sm-12">
                                <label>@L("Product")</label>
                                <div class="input-group">
                                    @Html.DropDownListFor(x => x.ProductId,
         new SelectList(Model.Products, "Id", "Description"),
         L("SelectProduct"), new { @class = "selectpicker" })
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Value" name="Value" type="text" required maxlength="500" minlength="1" class="validate form-control">
                                        <label for="Value" class="form-label">@L("Condition")</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <label>@L("Value")</label>
                                <div class="input-group">
                                    @Html.DropDownListFor(x => x.Description,
         new SelectList(Model.ConditionsTypes),
         L("ChooseOne"), new { @class = "selectpicker" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ConditionEditModal" tabindex="-1" condition="dialog" aria-labelledby="ConditionEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" condition="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
