﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.EditCaseTypeModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditCaseType")))

<div class="modal-body">
    <form name="CaseTypeEditForm" caseType="form" novalidate class="form-validation">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Description" value="@Model.Description" type="text" name="Description" required maxlength="100" minlength="2" class="validate form-control">
                        <label for="Description" class="form-label">@L("Description")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="DefaultColor" value="@Model.DefaultColor" type="text" name="DefaultColor" maxlength="250" class="validate form-control">
                        <label for="DefaultColor" class="form-label">@L("DefaultColor")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="IconImage" type="text" value="@Model.IconImage" name="IconImage" class="validate form-control">
                        <label for="IconImage" class="form-label">@L("IconImage")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <label>@L("Product")</label>
                <div class="form-group form-float">
                    @Html.DropDownListFor(x => x.ProductId,
                    new SelectList(Model.Products, "Id", "Code"),
                    L("SelectProduct"), new { @class = "selectpicker" })
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/CaseTypes/_EditCaseTypeModal.js" asp-append-version="true"></script>
