﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.CaseTypeListViewModel
@{
    ViewBag.CurrentPageName = PageNames.CasesTypes; // The menu item will be active for this page.
}
@section Styles
{
    <style type="text/css">

        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }
    </style>
}
@section scripts
{

    <script src="~/view-resources/Views/CaseTypes/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("CaseTypes")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="dtDynamicVerticalScrollExample" class="table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>@L("Description")</th>
                            <th>@L("Product")</th>
                            @if (Model.CanModify)
                            {
                                <th style="text-align: right;">@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var caseType in Model.CaseTypes.Items)
                        {
                            <tr>
                                <td>@caseType.Description</td>
                                <td>@caseType.ProductName</td>
                                @if (Model.CanModify)
                                {
                                    <td class="dropdown">
                                        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" caseType="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" class="waves-effect waves-block edit-caseType" data-caseType-id="@caseType.Id" data-toggle="modal" data-target="#CaseTypeEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                            <li><a href="#" class="waves-effect waves-block delete-caseType" data-caseType-id="@caseType.Id" data-caseType-name="@caseType.Description"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                        </ul>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.CanModify)
                {
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#CaseTypeCreateModal">
                        <i class="material-icons">add</i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>
@if (Model.CanModify)
{
    <div class="modal fade" id="CaseTypeCreateModal" tabindex="-1" caseType="dialog" aria-labelledby="CaseTypeCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" caseType="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreateCaseType")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="caseTypeCreateForm" caseType="form" novalidate class="form-validation">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Description" type="text" name="Description" required maxlength="100" minlength="2" class="validate form-control">
                                        <label for="Description" class="form-label">@L("Description")</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="DefaultColor" type="text" name="DefaultColor" maxlength="250" class="validate form-control">
                                        <label for="DefaultColor" class="form-label">@L("DefaultColor")</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="IconImage" type="text" name="IconImage" class="validate form-control">
                                        <label for="IconImage" class="form-label">@L("IconImage")</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <label>@L("Product")</label>
                                <div class="form-group form-float">
                                    @Html.DropDownListFor(x => x.ProductId,
         new SelectList(Model.Products, "Id", "Code"),
         L("SelectProduct"), new { @class = "selectpicker" })
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="CaseTypeEditModal" tabindex="-1" caseType="dialog" aria-labelledby="CaseTypeEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" caseType="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
