﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.CaseBaselinesViewModel
@{
    ViewBag.CurrentPageName = PageNames.BaselineCasesImport; // The menu item will be active for this page.
    ViewBag.Title = L("ImportedCases");
}

<script src="~/lib/xlsx/xlsx.full.min.js"></script>
@section scripts
{

    <script src="~/view-resources/Views/BaselineCasesImport/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("ImportedCases")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Name")</th>
                            <th>@L("AccountNumber")</th>
                            <th>@L("DueDate")</th>
                            <th>@L("UploadDate")</th>
                            <!----<th style="text-align: right;">@L("Actions")</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Cases.Items)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.AccountNumber</td>
                                <td>@item.DueDate</td>
                                <td>@item.UploadDate</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary waves-effect waves-float pull-right" data-toggle="modal" data-target="#CaseImportModal">
                    <i class="material-icons">add</i> Import File
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CaseImportModal" tabindex="-1" product="dialog" aria-labelledby="CaseImportModalLabel" data-backdrop="static">
    <div class="modal-dialog" product="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("BaselineImport")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form id="importForm">
                    <div class="row clearfix">
                        <a style="display: table; margin: 0 auto;" href="~/samples/saex-baseline-import-sample.xlsx">Download Sample File</a>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label>Upload</label>
                                    <input class="form-control" type="file" accept=".xls, .xlsx" id="fileuploader" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="progress" style="border-radius: 5px;">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="70"
                                         aria-valuemin="0" aria-valuemax="100" style="width:0%" id="progressBar">
                                        <span class="sr-only">70% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="close-btn" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" id="submit-btn" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
