﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.AssignRegionModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditAssignRegion")))

<div class="modal-body" id="container">
    <form name="AssignRegionForm" assignRegion="form" novalidate class="form-validation">
        <div class="row clearfix">
            <div id="example-vertical">
                <h3>@L("Agents")</h3>
                <section>
                    <div class="body table-responsive">
                        <table class="table table-striped table-bordered" style="width:100%" id="agents-table">
                            <thead>
                                <tr>
                                    <th>@L("Choose")</th>
                                    <th>@L("Name")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var agent in Model.Agents.Items)
                                {
                                    <tr>
                                        <td style="text-align: center;">
                                            <label>
                                                <input type="checkbox" name="agent" value="@agent.Id" title="" class="filled-in checkbox-elem-edit" id="@string.Format("agent-{0}",agent.Id)" />
                                                <label for="@string.Format("agent-{0}",agent.Id)" title=""></label>
                                            </label>
                                        </td>
                                        <td>@agent.User.FullName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
                <h3>@L("Regions")</h3>
                <section>
                    <div class="body table-responsive">
                        <table class="table table-striped table-bordered" style="width:100%" id="regions-table">
                            <thead>
                                <tr>
                                    <th>@L("Choose")</th>
                                    <th>@L("Name")</th>
                                    <th>@L("Routes")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var region in Model.AvailableRegions)
                                {
                                    <tr>
                                        <td style="text-align: center;">
                                            <label>
                                                <input type="checkbox" name="region" value="@region.Id" title="" class="filled-in checkbox-elem-edit" id="@string.Format("region-{0}",region.Id)" />
                                                <label for="@string.Format("region-{0}",region.Id)" title=""></label>
                                            </label>
                                        </td>
                                        <td>@region.Name</td>
                                        <td>@(region.Routes != null ? region.Routes.Count() : 0)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
                <h3>@L("Lists")</h3>
                <section>
                    <div class="body table-responsive">
                        <table class="table table-striped table-bordered" style="width:100%" id="lists-table">
                            <thead>
                                <tr>
                                    <th>@L("Choose")</th>
                                    <th>@L("Name")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var list in Model.AvailableLists)
                                {
                                    <tr>
                                        <td style="text-align: center;">
                                            <label>
                                                <input type="checkbox" name="list" value="@list.Id" title="" class="filled-in checkbox-elem-edit" id="@string.Format("list-{0}",list.Id)" />
                                                <label for="@string.Format("list-{0}",list.Id)" title=""></label>
                                            </label>
                                        </td>
                                        <td>@list.Name</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
                <h3>@L("WorkingHours")</h3>
                <section>
                    <div class="body table-responsive">
                        <table class="table table-striped table-bordered" style="width:100%" id="hours-table">
                            <thead>
                                <tr>
                                    <th>@L("Choose")</th>
                                    <th>@L("Name")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var workingHour in Model.AvailableWorkingHours)
                                {
                                    <tr>
                                        <td style="text-align: center;">
                                            <label>
                                                <input type="checkbox" name="workingHour" value="@workingHour.Id" title="" class="filled-in checkbox-elem-edit" id="@string.Format("workingHour-{0}",workingHour.Id)" />
                                                <label for="@string.Format("workingHour-{0}",workingHour.Id)" title=""></label>
                                            </label>
                                        </td>
                                        <td>@workingHour.Name</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/AssignRegions/_AssignRegionModal.js" asp-append-version="true"></script>