﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.EditAssignRegionModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditAssignRegion")))

<div class="modal-body">
    <form name="EditAssignRegionForm" assignRegion="form" novalidate class="form-validation">
        <input type="hidden" id="Id" name="Id" value="@Model.Agent.Id" />
        <div class="row clearfix">
            <div class="col-sm-12">
                <strong>@L("Agent")</strong>
                <span>@Model.Agent.User.FullName</span>
            </div>

            <div class="col-sm-12">
                <h2>@L("Regions")</h2>
                <div class="body table-responsive">
                    <table class="table table-striped table-bordered" style="width:100%" id="regions-table">
                        <thead>
                            <tr>
                                <th width="1%">@L("Choose")</th>
                                <th>@L("Name")</th>
                                <th>@L("Routes")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var region in Model.AvailableRegions)
                            {
                                <tr>
                                    <td style="text-align: center;">
                                        <label>
                                            <input type="checkbox" name="region" value="@region.Id" checked="@region.IsSelected" title="" class="filled-in checkbox-elem-edit" id="@string.Format("region-{0}",region.Id)" />
                                            <label for="@string.Format("region-{0}",region.Id)" title=""></label>
                                        </label>
                                    </td>
                                    <td>@region.Name</td>
                                    <td>@(region.Routes != null ? region.Routes.Count() : 0)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-12">
                <h2>@L("Lists")</h2>
                <div class="body table-responsive">
                    <table class="table table-striped table-bordered" style="width:100%" id="lists-table">
                        <thead>
                            <tr>
                                <th width="1%">@L("Choose")</th>
                                <th>@L("Name")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var list in Model.AvailableLists)
                            {
                                <tr>
                                    <td style="text-align: center;">
                                        <label>
                                            <input type="checkbox" name="list" value="@list.Id" checked="@list.IsSelected" title="" class="filled-in checkbox-elem-edit" id="@string.Format("list-{0}",list.Id)" />
                                            <label for="@string.Format("list-{0}",list.Id)" title=""></label>
                                        </label>
                                    </td>
                                    <td>@list.Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-12">
                <h2>@L("WorkingHours")</h2>
                <div class="body table-responsive">
                    <table class="table table-striped table-bordered" style="width:100%" id="hours-table">
                        <thead>
                            <tr>
                                <th>@L("Choose")</th>
                                <th>@L("Name")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var workingHour in Model.AvailableWorkingHours)
                            {
                                <tr>
                                    <td style="text-align: center;">
                                        <label>
                                            <input type="checkbox" name="workingHour" checked="@workingHour.IsSelected" value="@workingHour.Id" title="" class="filled-in checkbox-elem-edit" id="@string.Format("workingHour-{0}",workingHour.Id)" />
                                            <label for="@string.Format("workingHour-{0}",workingHour.Id)" title=""></label>
                                        </label>
                                    </td>
                                    <td>@workingHour.Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/AssignRegions/_EditAssignRegionModal.js" asp-append-version="true"></script>
