﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.AssignRegionListViewModel
@{
    ViewBag.CurrentPageName = PageNames.AssignRegions; // The menu item will be active for this page.
    ViewBag.Title = L("AssignedRegions");
}

@section scripts
{

    <script src="~/view-resources/Views/AssignRegions/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("AssignedRegions")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Agent")</th>
                            <th>@L("Regions")</th>
                            <th>@L("Lists")</th>
                            <th style="text-align: right;">@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var assignRegion in Model.AssignedRegions.Items)
                        {
                            <tr>
                                <td>@assignRegion.Agent.User.FullName</td>
                                <td>@(assignRegion.Regions != null ? assignRegion.Regions.Count() : 0)</td>
                                <td>@(assignRegion.Lists != null ? assignRegion.Lists.Count() : 0)</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" assignRegion="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-assignRegion" data-assignRegion-id="@assignRegion.Agent.Id" data-toggle="modal" data-target="#EditAssignRegionModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-assignRegion" data-assignRegion-id="@assignRegion.Agent.Id" data-assignRegion-name="@assignRegion.Agent.User.FullName"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" id="assignRegionsBtn" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#AssignRegionModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AssignRegionModal" tabindex="-1" assignRegion="dialog" aria-labelledby="AssignRegionModalLabel" data-backdrop="static">
    <div class="modal-dialog" assignRegion="document" style="width: 1200px; min-height:800px;">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="EditAssignRegionModal" tabindex="-1" assignRegion="dialog" aria-labelledby="EditAssignRegionModalLabel" data-backdrop="static">
    <div class="modal-dialog" assignRegion="document" style="width: 800px; min-height:800px;">
        <div class="modal-content">
        </div>
    </div>
</div>