﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.EditActivityCodeModalViewModel
@{
    Layout = null;
}
<div class="modal-body">
    <form name="activityCodeCreateForm" activityCode="form" novalidate class="form-validation">

        <div class="modal-footer">
            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
        </div>
    </form>
</div>

<script src="~/view-resources/Views/ActivityCodes/_ActivityCodeQuestions.js" asp-append-version="true"></script>
