﻿@using ItGroup.Saex.Web.Models.Common.Modals
@using Newtonsoft.Json
@model ItGroup.Saex.Web.ViewModels.EditActivityCodeModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditActivityCode")))

<script src="~/view-resources/Views/ActivityCodes/_EditActivityCodeModal.js" asp-append-version="true"></script>
<div class="modal-body">
    <div class="modal-body">
        <form name="activityCodeEditForm" activityCode="form" novalidate class="form-validation">
            <div class="col-sm-12">
                @Html.HiddenFor(m => m.Id)
                <strong> @L("Details")</strong>
                <div class="row clearfix" style="margin-top: 20px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="code" type="text" value="@Model.Code" name="code" required maxlength="100" class="validate form-control">
                                <label for="code" class="form-label">@L("Code")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="description" type="text" value="@Model.Description" name="description" required maxlength="250" class="validate form-control">
                                <label for="description" class="form-label">@L("Description")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="input-group" style="margin-bottom: 44px;">
                            <div class="form-control">
                                @Html.DropDownListFor(x => x.Type,
                                   new SelectList(Model.ActivityCodeTypes.Members, "Value", "Name"),
                                   @L("Type"), new { id = "activityCodeType", name = "activityCodeType", @class = "selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <label>
                                <input type="checkbox" name="isActive-form" checked="@Model.IsActive" title="" class="filled-in checkbox-elem-edit" id="isActive-form" />
                                <label for="isActive-form" title="">@L("IsActive")</label>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <label>
                                <input type="checkbox" name="isGlobal-form" checked="@Model.IsGlobal" title="" class="filled-in checkbox-elem-edit" id="isGlobal-form" />
                                <label for="isGlobal-form" title="">@L("IsGlobal")</label>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12" style="margin-top: 20px; padding-top: 20px; border-top: #eee 2px solid;">
                <strong> @L("AddQuestion")</strong>
                <div class="row clearfix" style="margin-top: 20px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="question-form" type="text" name="question-form" class="validate form-control">
                                <label for="question-form" class="form-label">@L("Question")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-3">
                        <div class="input-group">
                            <div class="form-control">
                                @Html.DropDownListFor(x => x.Question.Type,
                                   new SelectList(Model.QuestionTypes.Members, "Value", "Name"),
                                   @L("Type"), new { id = "question-type-form", name = "question-type-form", @class = "selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" style="padding-top: 15px;">
                        <div class="input-group">
                            <label>
                                <input type="checkbox" id="isRequired-form" name="isRequired-form" checked="true" class="filled-in checkbox-elem-edit" />
                                <label for="isRequired-form" title="">@L("IsRequired")</label>
                            </label>
                        </div>
                    </div>
                </div>
                <div id="add-options-container" style="display: none;" class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="question-option" type="text" name="question-option" class="validate form-control">
                                <label for="question-option" class="form-label">@L("Options")</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <button id="btn-add-option" type="button" class="btn btn-secondary waves-effect">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div id="#selected-options-container" class="col-sm-12">
                        <table id="optionTable" class="table">
                            <thead>
                                <tr>
                                    <th nowrap width="1%">@L("IsDefaultValue")</th>
                                    <th>@L("Option")</th>
                                    <th>@L("Actions")</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12" style="padding-top: 8px;">
                    <div class="input-group">
                        <button id="btn-add-question" type="button" class="btn btn-secondary waves-effect" onclick="saveQuestion()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"> @L("AddQuestion")</span>
                        </button>
                    </div>
                </div>
            </div>

            <div id="selected-questions-container" class="col-sm-12" style="border-top: 2px solid #eee; margin-top: 20px; padding-top: 20px;">
                <strong>@L("SelectedQuestions")</strong>
                <table id="questionTable" class="table">
                    <thead>
                        <tr>
                            <th>@L("Question")</th>
                            <th>@L("Type")</th>
                            <th>@L("IsRequired")</th>
                            <th>@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody id="questionTableBody" data-questions="@(JsonConvert.SerializeObject(Model.Questions))" data-question-types="@(JsonConvert.SerializeObject(Model.QuestionTypes.Members))" data-activityCodeId="@Model.Id">
                        @if (Model.Questions != null)
                        {
                            @foreach (var question in Model.Questions)
                            {
                                <tr>
                                    <td>@question.Description</td>
                                    <td>@question.Type</td>
                                    <td>@question.IsRequired</td>
                                    <td><label class="material-icons" id="@question.Id" onclick="removeQuestion(this)">clear</label></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
