﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.ActivityCodeListViewModel
@{
    ViewBag.CurrentPageName = PageNames.ActivityCodes; // The menu item will be active for this page.
    ViewBag.Title = L("ActivityCodes");
}

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/ActivityCodes/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/ActivityCodes/Index.min.js" asp-append-version="true"></script>
    </environment>
    <style>
        #dataTable_wrapper {
            padding: 16px;
        }
    </style>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("ActivityCodes")
                </h2>
            </div>

            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Code")</th>
                            <th>@L("Description")</th>
                            <th>@L("Type")</th>

                            @if (Model.CanModify)
                            {
                                <th style="text-align: right;">@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var activityCode in Model.ActivityCodes.Items)
                        {
                            <tr>
                                <td>@activityCode.Code</td>
                                <td>@activityCode.Description</td>
                                <td>@activityCode.Type</td>
                                @if (Model.CanModify)
                                {
                                    <td class="dropdown">
                                        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" activityCode="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" class="waves-effect waves-block edit-activityCode" data-activityCode-id="@activityCode.Id" data-toggle="modal" data-target="#ActivityCodeEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                            <li><a href="#" class="waves-effect waves-block delete-activityCode" data-activityCode-id="@activityCode.Id" data-activityCode-name="@activityCode.Code"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                        </ul>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.CanModify)
                {
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#ActivityCodeCreateModal">
                        <i class="material-icons">add</i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.CanModify)
{
    <div class="modal fade" id="ActivityCodeCreateModal" tabindex="-1" activityCode="dialog" aria-labelledby="ActivityCodeCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" activityCode="document" style="width: 900px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreateActivityCode")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="activityCodeCreateForm" activityCode="form" novalidate class="form-validation">
                        <div class="col-sm-12">
                            <strong> @L("Details")</strong>
                            <div class="row clearfix" style="margin-top: 20px;">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="code" type="text" name="code" required maxlength="100" minlength="2" class="validate form-control">
                                            <label for="code" class="form-label">@L("Code")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="description" type="text" name="description" required maxlength="250" minlength="2" class="validate form-control">
                                            <label for="description" class="form-label">@L("Description")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="input-group" style="margin-bottom: 44px;">
                                        <div class="form-control">
                                            @Html.DropDownListFor(x => x.ActivityCodeType,
                                               new SelectList(Model.ActivityCodeTypes.Members, "Value", "Name"),
                                               @L("Type"), new { id = "activityCodeType", name = "activityCodeType", @class = "selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <label>
                                            <input type="checkbox" name="isActive" checked="@Model.IsActive" title="" class="filled-in checkbox-elem-edit" id="isActive" />
                                            <label for="isActive" title="">@L("IsActive")</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <label>
                                            <input type="checkbox" name="isGlobal" checked="@Model.IsGlobal" title="" class="filled-in checkbox-elem-edit" id="isGlobal" />
                                            <label for="isGlobal" title="">@L("IsGlobal")</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12" style="margin-top: 20px; padding-top: 20px; border-top: #eee 2px solid;">
                            <strong> @L("AddQuestion")</strong>
                            <div class="row clearfix" style="margin-top: 20px;">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="question" type="text" name="question" class="validate form-control">
                                            <label for="question" class="form-label">@L("Question")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <div class="form-control">
                                            @Html.DropDownListFor(x => x.Question.Type,
                                               new SelectList(Model.QuestionTypes.Members, "Value", "Name"),
                                               @L("Type"), new { id = "question-type", name = "question-type", @class = "selectpicker", @data_live_search = "true" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3" style="padding-top: 15px;">
                                    <div class="input-group">
                                        <label>
                                            <input type="checkbox" id="isRequired" name="isRequired" checked="@Model.Question.IsRequired" title="" class="filled-in checkbox-elem-edit" />
                                            <label for="isRequired" title="">@L("IsRequired")</label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div id="add-options-container" style="display: none;" class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="question-option" type="text" name="question-option" class="validate form-control">
                                            <label for="question-option" class="form-label">@L("Options")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <button id="btn-add-option" type="button" class="btn btn-secondary waves-effect">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                                <div id="#selected-options-container" class="col-sm-12">
                                    <table id="optionTable" class="table">
                                        <thead>
                                            <tr>
                                                <th nowrap width="1%">@L("IsDefaultValue")</th>
                                                <th>@L("Option")</th>
                                                <th>@L("Actions")</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-12" style="padding-top: 8px;">
                                <div class="input-group">
                                    <button id="btn-add-question" type="button" class="btn btn-secondary waves-effect">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"> @L("AddQuestion")</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div id="selected-questions-container" class="col-sm-12" style="display: none; border-top: 2px solid #eee; margin-top: 20px; padding-top: 20px;">
                            <strong>@L("SelectedQuestions")</strong>
                            <table id="questionTable" class="table">
                                <thead>
                                    <tr>
                                        <th>@L("Question")</th>
                                        <th>@L("Type")</th>
                                        <th>@L("IsRequired")</th>
                                        <th>@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ActivityCodeEditModal" tabindex="-1" activityCode="dialog" aria-labelledby="ActivityCodeEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" activityCode="document" style="width: 900px;">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
