﻿@using ItGroup.Saex.Web.Models.Common.Modals
@using static ItGroup.Saex.Enumerations.Enumerations
@model ItGroup.Saex.Web.ViewModels.EditClosingDateModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditClosingDate")))

<div class="modal-body">
    <form name="ClosingDateEditForm" closingDate="form" novalidate class="form-validation">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <div class="row clearfix">
            <div class="col-sm-12">
                <label>@L("Type")</label>
                <div class="input-group">
                    @Html.DropDownListFor(x => x.Type,
                    new SelectList(Enum.GetValues(typeof(ClosingDateType))),
                    "Select Type", new { @class = "selectpicker" })
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <label>@L("Date")</label>
                <div class="input-group date">
                    <div class="form-line">
                        <input value="@Model.StartDate.ToString("yyyy-MM-dd")" name="StartDate" id="StartDate" type="text" class="form-control" placeholder="@L("ChooseStartDate")" data-date-format="mm/dd/yyyy">
                    </div>
                    <span class="input-group-addon">
                        <i class="material-icons">date_range</i>
                    </span>
                </div>
            </div>
        </div>

        @*<div class="row clearfix">
            <div class="col-sm-12">
                <label>@L("End")</label>
                <div class="input-group date">
                    <div class="form-line">
                        <input value="@Model.EndDate.ToString("yyyy-MM-dd")" name="EndDate" id="EndDate" type="text" class="form-control" placeholder="@L("ChooseEndDate")" data-date-format="mm/dd/yyyy">
                    </div>
                    <span class="input-group-addon">
                        <i class="material-icons">date_range</i>
                    </span>
                </div>
            </div>
        </div>*@

        @*<div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="">
                        <input id="IsAllDay" type="checkbox" name="IsAllDay" value="true" @(Model.IsAllDay ? "checked" : "") class="form-control" />
                        <label for="IsAllDay" class="form-label">@L("IsAllDay")</label>
                    </div>
                </div>
            </div>
        </div>*@
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/ClosingDates/_EditClosingDateModal.js" asp-append-version="true"></script>