﻿@using ItGroup.Saex.Web.Startup
@using static ItGroup.Saex.Enumerations.Enumerations
@model ItGroup.Saex.Web.ViewModels.ClosingDateListViewModel
@{
    ViewBag.CurrentPageName = PageNames.ClosingDates; // The menu item will be active for this page.
    ViewBag.Title = L("ClosingDates");
}

@section scripts
{

    <script src="~/view-resources/Views/ClosingDates/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("ClosingDates")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Type")</th>
                            <th>@L("Date")</th>
                            @*<th>@L("End")</th>*@
                            @*<th>@L("IsAllDay")</th>*@
                            @if (Model.CanModify)
                            {
                                <th style="text-align: right;">@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var closingDate in Model.ClosingDates.Items)
                        {
                            <tr>
                                <td>@(closingDate.Type == ClosingDateType.ClosingDate ? L("ClosingDate") : L("Holiday"))</td>
                                <td>@closingDate.StartDate</td>
                                @*<td>@closingDate.EndDate</td>*@
                                @*<td><i class="material-icons" style="color:@(closingDate.IsAllDay ? "green":"red");">@(closingDate.IsAllDay ? "check_box" : "indeterminate_check_box")</i></td>*@
                                @if (Model.CanModify)
                                {
                                    <td class="dropdown">
                                        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" closingDate="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" class="waves-effect waves-block edit-closingDate" data-closingDate-id="@closingDate.Id" data-toggle="modal" data-target="#ClosingDateEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                            <li><a href="#" class="waves-effect waves-block delete-closingDate" data-closingDate-id="@closingDate.Id" data-closingDate-name="@closingDate.Type"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                        </ul>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.CanModify)
                {
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#ClosingDateCreateModal">
                        <i class="material-icons">add</i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.CanModify)
{
    <div class="modal fade" id="ClosingDateCreateModal" tabindex="-1" closingDate="dialog" aria-labelledby="ClosingDateCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" closingDate="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreateClosingDate")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="closingDateCreateForm" closingDate="form" novalidate class="form-validation">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <label>@L("Type")</label>
                                <div class="input-group">
                                    <select id="Type" name="Type" class="selectpicker">
                                        <option value="" disabled selected>@L("ChooseOption")</option>
                                        <option value="1">@L("ClosingDate")</option>
                                        <option value="2">@L("Holiday")</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <label>@L("Date")</label>
                                <div class="input-group date">
                                    <div class="form-line">
                                        <input name="StartDate" id="StartDate" type="text" class="form-control" placeholder="@L("ChooseStartDate")" data-date-format="mm/dd/yyyy">
                                    </div>
                                    <span class="input-group-addon">
                                        <i class="material-icons">date_range</i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        @*<div class="row clearfix">
                                <div class="col-sm-12">
                                    <label>@L("End")</label>
                                    <div class="input-group date">
                                        <div class="form-line">
                                            <input name="EndDate" id="EndDate" type="text" class="form-control" placeholder="@L("ChooseEndDate")" data-date-format="mm/dd/yyyy">
                                        </div>
                                        <span class="input-group-addon">
                                            <i class="material-icons">date_range</i>
                                        </span>
                                    </div>
                                </div>
                            </div>*@

                        @*<div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="">
                                            <input id="IsAllDay" type="checkbox" name="IsAllDay" value="true" class="form-control" />
                                            <label for="IsAllDay" class="form-label">@L("IsAllDay")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ClosingDateEditModal" tabindex="-1" closingDate="dialog" aria-labelledby="ClosingDateEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" closingDate="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
