﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.ImportViewModel
@{
    ViewBag.CurrentPageName = PageNames.Import; // The menu item will be active for this page.
}
@section scripts
{

    <script src="~/view-resources/Views/Import/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("Import")
                </h2>
                <a href="javascript:void(0);" class="js-search" style="float: right" data-close="true"><i class="material-icons">search</i></a>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="pull-left">Postal Codes</h4>
                        <button type="button" class="btn btn-primary waves-effect waves-float pull-right" data-toggle="modal" data-target="#PostalCodeImportModal">
                            <i class="material-icons">cloud_upload</i>
                        </button>
                    </div>
                    <div class="col-sm-12">
                        <h4 class="pull-left">Case Types</h4>
                        <button type="button" class="btn btn-primary waves-effect waves-float pull-right" data-toggle="modal" data-target="#CaseTypeImportModal">
                            <i class="material-icons">cloud_upload</i>
                        </button>
                    </div>
                    <div class="col-sm-12">
                        <h4 class="pull-left">Macro States</h4>
                        <button type="button" class="btn btn-primary waves-effect waves-float  pull-right" data-toggle="modal" data-target="#MacroStateImportModal">
                            <i class="material-icons">cloud_upload</i>
                        </button>
                    </div>
                    <div class="col-sm-12">
                        <h4 class="pull-left">System Sub States</h4>
                        <button type="button" class="btn btn-primary waves-effect waves-float  pull-right" data-toggle="modal" data-target="#SystemSubStateImportModal">
                            <i class="material-icons">cloud_upload</i>
                        </button>
                    </div>
                    <div class="col-sm-12">
                        <h4 class="pull-left">System States</h4>
                        <button type="button" class="btn btn-primary waves-effect waves-float  pull-right" data-toggle="modal" data-target="#SystemStateImportModal">
                            <i class="material-icons">cloud_upload</i>
                        </button>
                    </div>
                    <div class="col-sm-12">
                        <h4 class="pull-left">Cases</h4>
                        <button type="button" class="btn btn-primary waves-effect waves-float  pull-right" data-toggle="modal" data-target="#CaseImportModal">
                            <i class="material-icons">cloud_upload</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CaseImportModal" tabindex="-1" product="dialog" aria-labelledby="CaseImportModalLabel" data-backdrop="static">
    <div class="modal-dialog" product="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("CaseImport")</span>
                </h4>
            </div>
            <div class="modal-body">
                @*<form name="caseImportForm" product="form" novalidate class="form-validation">*@

                <form>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <div id="casefileuploader">Choose CSV File</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Close")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CaseTypeImportModal" tabindex="-1" product="dialog" aria-labelledby="CaseTypeImportModalLabel" data-backdrop="static">
    <div class="modal-dialog" product="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("CaseTypeImport")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <div id="caseTypefileuploader">Choose CSV File</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Close")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="MacroStateImportModal" tabindex="-1" product="dialog" aria-labelledby="MacroStateImportModalLabel" data-backdrop="static">
    <div class="modal-dialog" product="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("MacroStateImport")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <div id="macroStatefileuploader">Choose CSV File</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Close")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SystemStateImportModal" tabindex="-1" product="dialog" aria-labelledby="SystemStateImportModalLabel" data-backdrop="static">
    <div class="modal-dialog" product="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("SystemStateImport")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <div id="systemStatefileuploader">Choose CSV File</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Close")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SystemSubStateImportModal" tabindex="-1" product="dialog" aria-labelledby="SystemSubStateImportModalLabel" data-backdrop="static">
    <div class="modal-dialog" product="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("SystemSubStateImport")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <div id="systemSubStatefileuploader">Choose CSV File</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Close")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PostalCodeImportModal" tabindex="-1" product="dialog" aria-labelledby="PostalCodeImportModalLabel" data-backdrop="static">
    <div class="modal-dialog" product="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("PostalCodeImport")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <div id="postalCodefileuploader">Choose CSV File</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Close")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
