﻿@using Newtonsoft.Json.Linq
@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.EditDemographicFieldModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditDemographicField")))

<div class="modal-body">
    <form name="DemographicFieldEditForm" route="form" novalidate class="form-validation">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Name" name="Name" type="text" value="@Model.Name" required maxlength="100" minlength="1" class="validate form-control">
                        <label for="Name" class="form-label">@L("Name")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Label" name="Label" type="text" value="@Model.Label" required maxlength="100" minlength="1" class="validate form-control">
                        <label for="Label" class="form-label">@L("Label")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="SortOrder" name="SortOrder" type="text" value="@Model.SortOrder" required maxlength="5" minlength="1" class="validate form-control">
                        <label for="SortOrder" class="form-label">@L("SortOrder")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div>
                        <input type="checkbox" name="IsRequired" @(Model.IsRequired ? "checked" : "") class="form-control" id="IsRequired" data-regular-property />
                        <label for="IsRequired" class="form-label">Is Required</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div>
                        <input type="checkbox" name="IsActive" @(Model.IsActive ? "checked" : "") class="form-control" id="IsActive" data-regular-property />
                        <label for="IsActive" class="form-label">Is Active</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <select required id="DemographicFieldTypeId" name="DemographicFieldTypeId" class="validate form-control">
                            <option value="">@L("SelectFieldType")</option>
                            @foreach (var demographicFieldType in Model.DemographicFieldTypes)
                            {
                                <option value="@demographicFieldType.Id">
                                    @demographicFieldType.Name
                                </option>
                            }
                        </select>
                        <label for="DemographicFieldTypeId" class="form-label">@L("DemographicFieldType")</label>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var demographicFieldType in Model.DemographicFieldTypes)
        {
            if (demographicFieldType.Properties is null)
            {
                continue;
            }

            var multipleOptionTemplateReady = false;

            foreach (var jsonProp in demographicFieldType.Properties)
            {
                var propMetadata = (JObject)jsonProp.Value;
                var propType = propMetadata["type"].Value<string>();
                var propName = $"{demographicFieldType.Id}-{jsonProp.Key}";
                var label = propMetadata["label"]?.Value<string>() ?? jsonProp.Key;

                <div class="hidden row clearfix" data-field="@demographicFieldType.Id">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line" data-property="@jsonProp.Key" data-property-type="@propType">
                                @switch (propType)
                                {
                                    case "bool":
                                        <input type="checkbox" title="" class="filled-in checkbox-elem-edit" id="@propName" />
                                        <label for="@propName" title="">@label</label>
                                        break;
                                    case "string[]":
                                        if (!multipleOptionTemplateReady)
                                        {
                                            <template data-multiple-option-template>
                                                <div class="row" style="margin-left: 0px; margin-right: 0px;">
                                                    <div data-option="{optionValue}" class="col-sm-11">
                                                        {optionValue}
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <button type="button" class="btn btn-danger btn-circle waves-effect waves-circle multiple-option-button remove-option-button" onclick="itg.removeOption('@demographicFieldType.Id')">
                                                            <i class="material-icons">remove</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </template>
                                        }
                                        <input id="@propName" type="text" class="validate form-control" style="display: inline; width: unset;">
                                        <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right multiple-option-button" onclick="itg.addOption('@demographicFieldType.Id')">
                                            <i class="material-icons">add</i>
                                        </button>
                                        <label for="@propName" class="form-label">@label</label>
                                        <div data-options="@demographicFieldType.Id"></div>
                                        break;
                                    default:
                                        <input id="@propName" type="text" class="validate form-control">
                                        <label for="@propName" class="form-label">@label</label>
                                        break;
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<environment names="Development">
    <script src="~/view-resources/Views/DemographicFields/_EditDemographicFieldModal.js"></script>
</environment>

<environment names="Staging,Production">
    <script src="~/view-resources/Views/DemographicFields/_EditDemographicFieldModal.js" asp-append-version="true"></script>
</environment>
