﻿@using ItGroup.Saex.Web.Startup
@using Newtonsoft.Json.Linq
@model ItGroup.Saex.Web.ViewModels.DemographicFieldListViewModel
@{
    ViewBag.CurrentPageName = PageNames.DemographicFields; // The menu item will be active for this page.
    ViewBag.Title = L("DemographicFields");
}

@section scripts
{
    <script src="~/view-resources/Views/DemographicFields/Index.js"></script>

}
<style>
    .multiple-option-button {
        width: 32px;
        height: 32px;
        line-height: 1.42857143;
        padding-left: 8.5px;
        padding-right: 8.5px;
    }

    .remove-option-button {
        background-color: transparent !important;
        color: #fb483a;
    }
</style>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("DemographicFields")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Name")</th>
                            @if (Model.CanModify)
                            {
                                <th style="text-align: right;">@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var demographicField in Model.DemographicFields.Items)
                        {
                            <tr>
                                <td>@demographicField.Name</td>
                                @if (Model.CanModify)
                                {
                                    <td class="dropdown">
                                        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" route="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="#" class="waves-effect waves-block edit-demographic-field" data-demographic-field-id="@demographicField.Id" data-toggle="modal" data-target="#DemographicFieldEditModal">
                                                    <i class="material-icons">edit</i>
                                                    @L("Edit")
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="waves-effect waves-block delete-demographic-field" data-demographic-field-id="@demographicField.Id" data-demographic-field-name="@demographicField.Name">
                                                    <i class="material-icons">delete_sweep</i>
                                                    @L("Delete")
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                }
                                
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.CanModify)
                { 
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#DemographicFieldModal">
                        <i class="material-icons">add</i>
                    </button>
                }
                
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DemographicFieldModal" tabindex="-1" route="dialog" aria-labelledby="DemographicFieldModalLabel" data-backdrop="static" data-mode="create">
    <div class="modal-dialog" route="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("CreateDemographicField")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="demographicFieldForm" route="form" novalidate class="form-validation">
                    <input type="hidden" name="Id" id="Id" />
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="Name" name="Name" type="text" value="@Model.Name" required maxlength="100" minlength="1" class="validate form-control">
                                    <label for="Name" class="form-label">@L("Name")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="Label" name="Label" type="text" value="@Model.Label" required maxlength="100" minlength="1" class="validate form-control">
                                    <label for="Label" class="form-label">@L("Label")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="SortOrder" name="SortOrder" type="number" required max="99999" min="0" class="validate form-control">
                                    <label for="SortOrder" class="form-label">@L("SortOrder")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div>
                                    <input type="checkbox" name="IsRequired" class="form-control" id="IsRequired" data-regular-property />
                                    <label for="IsRequired" class="form-label">Is Required</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div>
                                    <input type="checkbox" name="IsActive" data-default="true" class="form-control" id="IsActive" data-regular-property />
                                    <label for="IsActive" class="form-label">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <select required id="DemographicFieldTypeId" name="DemographicFieldTypeId" class="validate form-control">
                                        <option value="">@L("SelectFieldType")</option>
                                        @foreach (var demographicFieldType in Model.DemographicFieldTypes)
                                        {
                                            <option value="@demographicFieldType.Id">
                                                @demographicFieldType.Name
                                            </option>
                                        }
                                    </select>
                                    <label for="DemographicFieldTypeId" class="form-label">@L("DemographicFieldType")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    @foreach (var demographicFieldType in Model.DemographicFieldTypes)
                    {
                        if (demographicFieldType.Properties is null)
                        {
                            continue;
                        }

                        var multipleOptionTemplateReady = false;

                        foreach (var jsonProp in demographicFieldType.Properties)
                        {
                            var propMetadata = (JObject)jsonProp.Value;
                            var propType = propMetadata["type"].Value<string>();
                            var propName = $"{demographicFieldType.Id}-{jsonProp.Key}";
                            var label = propMetadata["label"]?.Value<string>() ?? jsonProp.Key;

                            <div class="hidden row clearfix" data-field="@demographicFieldType.Id" data-prop-name="@propName">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line" data-property="@jsonProp.Key" data-property-type="@propType">
                                            @switch (propType)
                                            {
                                                case "bool":
                                                    <input type="checkbox" title="" class="filled-in checkbox-elem-edit" id="@propName" />
                                                    <label for="@propName" title="">@label</label>
                                                    break;
                                                case "string[]":
                                                    if (!multipleOptionTemplateReady)
                                                    {
                                                        <template data-multiple-option-template>
                                                            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                                                                <div data-option="{optionValue}" class="col-sm-11">
                                                                    {optionValue}
                                                                </div>
                                                                <div class="col-sm-1">
                                                                    <button type="button" class="btn btn-danger btn-circle waves-effect waves-circle multiple-option-button remove-option-button" onclick="itg.removeOption('@demographicFieldType.Id')">
                                                                        <i class="material-icons">remove</i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </template>
                                                    }
                                                    <input id="@propName" type="text" class="validate form-control" style="display: inline; width: unset;" data-options-input>
                                                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right multiple-option-button" onclick="itg.addOption('@demographicFieldType.Id')">
                                                        <i class="material-icons">add</i>
                                                    </button>
                                                    <label for="@propName" class="form-label">@label</label>
                                                    <div data-options="@propName"></div>
                                                    break;
                                                case "int":
                                                    <input id="@propName" type="number" class="validate form-control">
                                                    <label for="@propName" class="form-label">@label</label>
                                                    break;
                                                default:
                                                    <input id="@propName" type="text" class="validate form-control">
                                                    <label for="@propName" class="form-label">@label</label>
                                                    break;
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <div class="modal-footer" data-insert-point>
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
