﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.Models.Users.EditUserModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditUser")))

<div class="modal-body">
    <form name="UserEditForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@Model.User.Id" />
        <ul class="nav nav-tabs tab-nav-right" role="tablist">
            <li role="presentation" class="active"><a href="#edit-user-details" data-toggle="tab">@L("UserDetails")</a></li>
            <li role="presentation"><a href="#edit-user-roles" data-toggle="tab">@L("UserRoles")</a></li>
            <li role="presentation"><a href="#user-audit" data-toggle="tab">@L("AuditLogs")</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane animated fadeIn active" id="edit-user-details">

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="username" type="text" name="UserName" value="@Model.User.UserName" required maxlength="32" minlength="2" class="validate form-control">
                                <label for="username" class="form-label">@L("UserName")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="name" type="text" name="Name" value="@Model.User.Name" required maxlength="32" class="validate form-control">
                                <label for="name" class="form-label">@L("Name")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="surname" type="text" name="Surname" value="@Model.User.Surname" required maxlength="32" class="validate form-control">
                                <label for="surname" class="form-label">@L("Surname")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="MotherSurname" type="text" name="MotherSurname" value="@Model.User.MotherSurname" required  class="validate form-control">
                                <label for="MotherSurname" class="form-label">@L("MotherSurname")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="phonenumber" type="tel" name="PhoneNumber" value="@Model.User.PhoneNumber" maxlength="20" class="validate form-control">
                                <label for="phonenumber" class="form-label">@L("PhoneNumber")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="alternatephone" type="tel" name="AlternatePhone" value="@Model.User.AlternatePhone" maxlength="20" class="validate form-control">
                                <label for="alternatephone" class="form-label">@L("AlternatePhone")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="email" type="email" name="EmailAddress" value="@Model.User.EmailAddress" maxlength="256" class="validate form-control">
                                <label for="email" class="form-label">@L("EmailAddress")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="collectorid" type="text" name="CollectorId" value="@Model.User.Agent?.CollectorId" maxlength="30" class="validate form-control">
                                <label for="collectorid" class="form-label">@L("CollectorId")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <table style="width:98%">
                    <tbody>
                        <tr>
                            <td style="width:50%;">
                                <div id="agent-settings-edit" class="row">
                                    <div class="col-sm-12">
                                        <label style="margin-right:10px;vertical-align:text-top;width:100px">@L("UserType")</label>
                                        <div style="width:60%">
                                            @Html.DropDownListFor(x => x.AgentType,
                                                new SelectList(Model.AgentTypes.Members, "Value", "Name"),
                                                "N/A", new { id = "agentType", name = "agentType", @class = "selectpicker agent-type-edit col-sm-12" })
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="width:50%;">
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            <div class="" style="margin-top:20px;margin-left:20px">
                                                <input id="IsActive" type="checkbox" name="IsActive" value="true" @(Model.User.IsActive ? "checked" : "") class="form-control" />
                                                <label for="IsActive" class="form-label">@L("IsActive")</label>
                                            </div>
                                            @if (Model.CanResetPassword)
                                            {
                                                <div class="" style="margin-top:20px;margin-left:20px">
                                                    <input id="PasswordReset" type="checkbox" name="PasswordReset" value="true" @(Model.User.PasswordReset ? "checked" : "") class="form-control" />
                                                    <label for="PasswordReset" class="form-label">@L("PasswordReset")</label>
                                                    <div class="form-line" style="margin-top:10px">
                                                        <input id="PasswordResetCode" type="tel" name="PasswordResetCode" value="@Model.User.PasswordResetCode" maxlength="20" class="validate form-control">
                                                        <label for="PasswordResetCode" class="form-label">@L("PasswordResetCode")</label>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h5 style="margin-top:30px">@L("LastModification")</h5>
                <table style="width:98%">
                    <tbody>
                        <tr>
                            <td>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="lastmodifieduser" type="text" name="LastModifiedUser" value="@Model.User.LastModifierUserName" class="form-control" readonly>
                                                <label for="lastmodifieduser" class="form-label">@L("User")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            <div class="form-line" style="margin-left:10px;">
                                                <input id="lastmodificationtime" type="text" name="LastModificationTime" value="@Model.User.LastModificationTime" class="form-control" readonly>
                                                <label for="lastmodificationtime" class="form-label">@L("Date")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div role="tabpanel" class="tab-pane animated fadeIn" id="edit-user-roles">
                <div class="row">
                    <div class="col-sm-12 ">
                        @foreach (var role in Model.Roles)
                        {
                            <div class="col-sm-6">
                                <input type="checkbox" name="role" value="@role.NormalizedName" title="@role.Description" class="filled-in checkbox-elem-edit" id="@string.Format("role{0}",role.Id)" @(Model.UserIsInRole(role) ? "checked" : "") />
                                <label for="@string.Format("role{0}",role.Id)" title="@role.DisplayName">@role.Name</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane animated fadeIn" id="user-audit">
                <div class="row">
                    <div class="body table-responsive">
                        <table class="table" id="audit-table">
                            <thead>
                                <tr>
                                    <th>@L("Description")</th>
                                    <th>@L("TableName")</th>
                                    <th>@L("RecordId")</th>
                                    <th>@L("PreviousValue")</th>
                                    <th>@L("NewValue")</th>
                                    <th>@L("OperationType")</th>
                                    <th>@L("EventDate")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var auditLog in Model.AuditLogs.Items)
                                {
                                    <tr>
                                        <td>@auditLog.Description</td>
                                        <td>@auditLog.TableName</td>
                                        <td>@auditLog.RecordId</td>
                                        <td>@(auditLog.PreviousValue != null ? auditLog.PreviousValue.Substring(0, auditLog.PreviousValue.Length > 25 ? 25 : auditLog.PreviousValue.Length) + "..." : auditLog.PreviousValue)</td>
                                        <td>@(auditLog.NewValue != null ? auditLog.NewValue.Substring(0, auditLog.NewValue.Length > 25 ? 25 : auditLog.NewValue.Length) + "..." : auditLog.NewValue)</td>
                                        <td>@auditLog.OperationType</td>
                                        <td>@auditLog.CreationTime</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/Users/_EditUserModal.js" asp-append-version="true"></script>
