﻿@using Abp.Authorization.Users
@using Abp.Configuration
@using ItGroup.Saex.Web.Startup
@using ItGroup.Saex.Configuration
@using static ItGroup.Saex.Enumerations.Enumerations
@model ItGroup.Saex.Web.Models.Users.UserListViewModel
@{
    ViewBag.CurrentPageName = PageNames.Users; // The menu item will be active for this page.
    string uiTheme = await SettingManager.GetSettingValueAsync(AppSettingNames.UiTheme);
    ViewBag.Title = @L("Users");
}
@section scripts
{

    <script src="~/view-resources/Views/Users/Index.js" asp-append-version="true"></script>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("Users")
                </h2>
            </div>
            <div class="body table-responsive">
                <div class="col-sm-12">
                    <form>
                        <div class="form-group row">
                            <label for="user-status" class="col-sm-1 col-form-label" style="margin: 0px; padding-top: 13px;">Status:</label>
                            <div class="col-sm-2" style="margin: 0;">
                                <select class="form-control" id="user-status" style="border-bottom: 1px solid #8a8a8a;">
                                    <option value="">@L("Choose")</option>
                                    <option value="0">@L("All")</option>
                                    <option value="1">@L("Active")</option>
                                    <option value="2">@L("Inactive")</option>
                                </select>
                            </div>
                            <div class="col-sm-9">
                                <label id="status-label" class="pull-right" style="padding-top: 13px;">Viewing All Records</label>
                            </div>
                        </div>
                    </form>
                </div>
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("UserName")</th>
                            <th>@L("FullName")</th>
                            <th>@L("EmailAddress")</th>
                            <th>@L("IsActive")</th>
                            @if (Model.CanModify)
                            {
                                <th>@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>@user.FullName</td>
                                <td>@user.EmailAddress</td>
                                <td><i class="material-icons" style="color:@(user.IsActive ? "green":"red");">@(user.IsActive ? "check_box" : "indeterminate_check_box")</i></td>
                                @if (Model.CanModify) 
                                {
                                    <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-user" data-user-id="@user.Id" data-toggle="modal" data-target="#UserEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-user" data-user-id="@user.Id" data-user-name="@user.UserName"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                                }
                                
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#UserCreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UserCreateModal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("CreateNewUser")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="userCreateForm" role="form" novalidate class="form-validation">
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#create-user-details" data-toggle="tab">@L("UserDetails")</a></li>
                        <li role="presentation"><a href="#create-user-roles" data-toggle="tab">@L("UserRoles")</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="create-user-details">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control" type="text" name="UserName" required maxlength="@AbpUserBase.MaxUserNameLength" minlength="2">
                                            <label class="form-label">@L("UserName")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="name" type="text" name="Name" required maxlength=@AbpUserBase.MaxNameLength class="validate form-control">
                                            <label for="name" class="form-label">@L("Name")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="surname" type="text" name="Surname" required maxlength=@AbpUserBase.MaxSurnameLength class="validate form-control">
                                            <label for="surname" class="form-label">@L("Surname")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="MotherSurname" type="text" name="MotherSurname" required maxlength=@AbpUserBase.MaxSurnameLength class="validate form-control">
                                            <label for="MotherSurname" class="form-label">@L("MotherSurname")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="phonenumber" type="tel" name="PhoneNumber" maxlength=@AbpUserBase.MaxPhoneNumberLength class="validate form-control">
                                            <label for="phonenumber" class="form-label">@L("PhoneNumber")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="alternatephone" type="tel" name="AlternatePhone" maxlength=@AbpUserBase.MaxPhoneNumberLength class="validate form-control">
                                            <label for="alternatephone" class="form-label">@L("AlternatePhone")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="email" type="email" name="EmailAddress" maxlength=@AbpUserBase.MaxEmailAddressLength class="validate form-control">
                                            <label for="email" class="form-label">@L("EmailAddress")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (uiTheme != "green")
                            {
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="password" id="Password" name="Password" class="form-control" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                                                <label class="form-label">@L("Password")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                                                <label class="form-label">@L("ConfirmPassword")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }


                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="collectorid" type="text" name="CollectorId" class="validate form-control">
                                            <label for="collectorid" class="form-label">@L("CollectorId")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table style="width:98%">
                                <tbody>
                                    <tr>
                                        <td style="width:50%;">
                                            <div id="agent-settings" class="row">
                                                <div class="col-sm-12">
                                                    <label style="margin-right:10px;vertical-align:text-top;width:100px">@L("UserType")</label>
                                                    <div style="width:60%">
                                                        @Html.DropDownListFor(x => x.AgentType,
                                                                new SelectList(Model.AgentTypes.Members, "Value", "Name"),
                                                                "N/A", new { id = "agentType", name = "agentType", @class = "selectpicker agent-type col-sm-12" })
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="width:50%;">
                                            <div class="row clearfix">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-float">
                                                        <div class="" style="margin-top:20px;margin-left:20px">
                                                            <input id="CreateUserIsActive" type="checkbox" name="IsActive" value="true" checked class="form-control filled-in" />
                                                            <label for="CreateUserIsActive" class="form-label">@L("IsActive")</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div role="tabpanel" class="tab-pane animated fadeIn" id="create-user-roles">
                            <div class="row">
                                <div class="col-sm-12 ">
                                    @foreach (var role in Model.Roles)
                                    {
                                        <div class="col-sm-6">
                                            <input type="checkbox" name="role" value="@role.NormalizedName" title="@role.Description" class="filled-in checkbox-elem" id="role-@role.Id" />
                                            <label for="role-@role.Id" title="@role.DisplayName">@role.Name</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="UserCreateModal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreateNewUser")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="userCreateForm" role="form" novalidate class="form-validation">
                        <ul class="nav nav-tabs tab-nav-right" role="tablist">
                            <li role="presentation" class="active"><a href="#create-user-details" data-toggle="tab">@L("UserDetails")</a></li>
                            <li role="presentation"><a href="#create-user-roles" data-toggle="tab">@L("UserRoles")</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane animated fadeIn active" id="create-user-details">
                                <div class="row clearfix" style="margin-top:10px;">
                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input class="form-control" type="text" name="UserName" required maxlength="@AbpUserBase.MaxUserNameLength" minlength="2">
                                                <label class="form-label">@L("UserName")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" name="Name" class="form-control" required maxlength="@AbpUserBase.MaxNameLength">
                                                <label class="form-label">@L("Name")</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" name="Surname" class="form-control" required maxlength="@AbpUserBase.MaxSurnameLength">
                                                <label class="form-label">@L("Surname")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="email" name="EmailAddress" class="form-control" required maxlength="@AbpUserBase.MaxEmailAddressLength">
                                                <label class="form-label">@L("EmailAddress")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="password" id="Password" name="Password" class="form-control" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                                                <label class="form-label">@L("Password")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                                                <label class="form-label">@L("ConfirmPassword")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="checkbox">
                                            <input type="checkbox" name="IsActive" value="true" id="CreateUserIsActive" class="filled-in" checked />
                                            <label for="CreateUserIsActive">@L("IsActive")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane animated fadeIn" id="create-user-roles">
                                <div class="row">
                                    <div class="col-sm-12 ">
                                        @foreach (var role in Model.Roles)
                                        {
                                            <div class="col-sm-6">
                                                <input type="checkbox" name="role" value="@role.NormalizedName" title="@role.Description" class="filled-in checkbox-elem" id="role-@role.Id" />
                                                <label for="role-@role.Id" title="@role.DisplayName">@role.Name</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div id="agent-settings" class="row" style="margin-top: 26px; display: none;">
                                    <div class="col-sm-12" style="margin-top: 26px;">
                                        <h5>@L("AgentSettings")</h5>
                                        <label>@L("Type")</label>
                                        @Html.DropDownListFor(x => x.AgentType,
                                            new SelectList(Model.AgentTypes.Members, "Value", "Name"), "Choose One"
                                                , new { id = "agentType", name = "agentType", @class = "selectpicker agent-type" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@

<div class="modal fade" id="UserEditModal" tabindex="-1" role="dialog" aria-labelledby="UserEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
