﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.SystemPolicyListViewModel
@{
    ViewBag.CurrentPageName = PageNames.SystemPolicies; // The menu item will be active for this page.
    ViewBag.Title = L("SystemPolicies");
}

@section scripts
{

    <script src="~/view-resources/Views/SystemPolicies/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("SystemPolicies")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Code")</th>
                            <th>@L("Description")</th>
                            <th>@L("Value")</th>
                            @if (Model.CanModify)
                            {
                                <th style="text-align: right;">@L("Edit")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var systemPolicy in Model.SystemPolicies.Items)
                        {
                            <tr>
                                <td>@systemPolicy.Code</td>
                                <td>@systemPolicy.Description</td>
                                <td>@systemPolicy.Value</td>
                                @if (Model.CanModify)
                                {
                                    <td style="text-align:right">
                                        <a href="#" class="waves-effect waves-block edit-systemPolicy" data-systemPolicy-id="@systemPolicy.Id" data-toggle="modal" data-target="#SystemPolicyEditModal"><i class="material-icons">edit</i></a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@if (Model.CanModify)
{
    <div class="modal fade" id="SystemPolicyCreateModal" tabindex="-1" systemPolicy="dialog" aria-labelledby="SystemPolicyCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" systemPolicy="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreateSystemPolicy")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="systemPolicyCreateForm" systemPolicy="form" novalidate class="form-validation">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Code" name="Code" type="text" required maxlength="100" minlength="1" class="validate form-control">
                                        <label for="Code" class="form-label">@L("Code")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Description" name="Description" type="text" required maxlength="500" minlength="1" class="validate form-control">
                                        <label for="Description" class="form-label">@L("Description")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Value" name="Value" type="text" required maxlength="250" minlength="1" class="validate form-control">
                                        <label for="Value" class="form-label">@L("Value")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="SystemPolicyEditModal" tabindex="-1" systemPolicy="dialog" aria-labelledby="SystemPolicyEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" systemPolicy="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
