﻿@using ItGroup.Saex.Web.Startup
@using static ItGroup.Saex.Enumerations.Enumerations
@model ItGroup.Saex.Web.ViewModels.SystemStateListViewModel
@{
    ViewBag.CurrentPageName = PageNames.SystemStates; // The menu item will be active for this page.
    ViewBag.Title = L("SystemStates");
}

@section scripts
{

    <script src="~/view-resources/Views/SystemStates/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("SystemStates")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Code")</th>
                            <th>@L("Description")</th>
                            <th>@L("MacroState")</th>
                            <th>@L("SystemSubStates")</th>
                            @if (Model.CanModify)
                            {
                                <th style="text-align: right;">@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var systemState in Model.SystemStates.Items)
                        {
                            <tr>
                                <td>@systemState.Code</td>
                                <td>@systemState.Description</td>
                                <td>@systemState.MacroState.Description</td>
                                <td>@(systemState.SubState == null ? "" : systemState.SubState.Description)</td>
                                @if (Model.CanModify)
                                {
                                    <td class="dropdown">
                                        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" systemState="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" class="waves-effect waves-block edit-systemState" data-systemState-id="@systemState.Id" data-toggle="modal" data-target="#SystemStateEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                            <li><a href="#" class="waves-effect waves-block delete-systemState" data-systemState-id="@systemState.Id" data-systemState-name="@systemState.Code"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                        </ul>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.CanModify)
                {
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#SystemStateCreateModal">
                        <i class="material-icons">add</i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.CanModify)
{
    <div class="modal fade" id="SystemStateCreateModal" tabindex="-1" systemState="dialog" aria-labelledby="SystemStateCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" systemState="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreateSystemState")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="systemStateCreateForm" systemState="form" novalidate class="form-validation">

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Code" name="Code" type="text" required maxlength="500" minlength="1" class="validate form-control">
                                        <label for="Code" class="form-label">@L("Code")</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Description" name="Description" type="text" required maxlength="500" minlength="1" class="validate form-control">
                                        <label for="Description" class="form-label">@L("Description")</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <label>@L("MacroState")</label>
                                <div class="input-group">
                                    @Html.DropDownListFor(x => x.MacroStateId,
         new SelectList(Model.MacroStates, "Id", "Description"),
         "Select Macro State", new { @class = "selectpicker" })
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <label>@L("SystemSubState")</label>
                                <div class="input-group">
                                    @Html.DropDownListFor(x => x.SubStateId,
         new SelectList(Model.SubStates, "Id", "Description"),
         "Select Sub State", new { @class = "selectpicker" })
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="SystemStateEditModal" tabindex="-1" systemState="dialog" aria-labelledby="SystemStateEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" systemState="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
