﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.EditAuditLogModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditAuditLog")))

<div class="modal-body">
    <form name="AuditLogEditForm" auditLog="form" novalidate class="form-validation">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="TableName" disabled name="TableName" type="text" value="@Model.TableName" required maxlength="100" minlength="1" class="validate form-control">
                        <label for="TableName" class="form-label">@L("TableName")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="RecordId" disabled name="RecordId" type="text" value="@Model.RecordId" required maxlength="100" minlength="1" class="validate form-control">
                        <label for="RecordId" class="form-label">@L("RecordId")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="PreviousValue" disabled name="PreviousValue" type="text" value="@Model.PreviousValue" required maxlength="100" minlength="1" class="validate form-control">
                        <label for="PreviousValue" class="form-label">@L("PreviousValue")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="NewValue" disabled name="NewValue" type="text" value="@Model.NewValue" required maxlength="100" minlength="1" class="validate form-control">
                        <label for="NewValue" class="form-label">@L("NewValue")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="OperationType" disabled name="OperationType" type="text" value="@Model.OperationType" required maxlength="100" minlength="1" class="validate form-control">
                        <label for="OperationType" class="form-label">@L("OperationType")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="EventDate" disabled name="EventDate" type="text" value="@Model.CreationTime" required maxlength="100" minlength="1" class="validate form-control">
                        <label for="EventDate" class="form-label">@L("EventDate")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Username" disabled name="Username" type="text" value="@Model.CreatorUsername" required maxlength="500" minlength="1" class="validate form-control">
                        <label for="Username" class="form-label">@L("Username")</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
</div>
<script src="~/view-resources/Views/AuditLogs/_EditAuditLogModal.js" asp-append-version="true"></script>