﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.AuditLogListViewModel
@{
    ViewBag.CurrentPageName = PageNames.AuditLogs; // The menu item will be active for this page.
    ViewBag.Title = L("AuditLogs");
}
@section Styles
{
    <style type="text/css">

        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }
    </style>
}
@section scripts
{

    <script src="~/view-resources/Views/AuditLogs/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("AuditLogs")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="dtDynamicVerticalScrollExample" class="table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>@L("TableName")</th>
                            <th>@L("RecordId")</th>
                            <th>@L("PreviousValue")</th>
                            <th>@L("NewValue")</th>
                            <th>@L("OperationType")</th>
                            <th>@L("EventDate")</th>
                            <th>@L("Username")</th>
                            <th style="text-align: right;">@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var auditLog in Model.AuditLogs.Items)
                        {
                            <tr>
                                <td>@auditLog.TableName</td>
                                <td>@auditLog.RecordId</td>
                                <td>@(auditLog.PreviousValue != null ? auditLog.PreviousValue.Substring(0, auditLog.PreviousValue.Length > 25 ? 25 : auditLog.PreviousValue.Length) + "..." : auditLog.PreviousValue)</td>
                                <td>@(auditLog.NewValue != null ? auditLog.NewValue.Substring(0, auditLog.NewValue.Length > 25 ? 25 : auditLog.NewValue.Length) + "..." : auditLog.NewValue)</td>
                                <td>@auditLog.OperationType</td>
                                <td>@auditLog.CreationTime</td>
                                <td>@auditLog.CreatorUsername</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" auditLog="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-auditLog" data-auditLog-id="@auditLog.Id" data-toggle="modal" data-target="#AuditLogEditModal"><i class="material-icons">details</i>@L("Details")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AuditLogEditModal" tabindex="-1" auditLog="dialog" aria-labelledby="AuditLogEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" auditLog="document">
        <div class="modal-content">
        </div>
    </div>
</div>