﻿@using ItGroup.Saex.Web.Models.Common.Modals
@using static ItGroup.Saex.Enumerations.Enumerations
@model ItGroup.Saex.Web.ViewModels.EditMacroStateModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditMacroState")))

<div class="modal-body">
    <form name="MacroStateEditForm" macroState="form" novalidate class="form-validation">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Code" name="Code" value="@Model.Code" type="text" required maxlength="500" minlength="1" class="validate form-control">
                        <label for="Code" class="form-label">@L("Code")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Description" name="Description" value="@Model.Description" type="text" required maxlength="500" minlength="1" class="validate form-control">
                        <label for="Description" class="form-label">@L("Description")</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/MacroStates/_EditMacroStateModal.js" asp-append-version="true"></script>