﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.VisitPlaceListViewModel
@{
    ViewBag.CurrentPageName = PageNames.VisitPlaces; // The menu item will be active for this page.
    ViewBag.Title = L("VisitPlaces");
}

@section scripts
{

    <script src="~/view-resources/Views/VisitPlaces/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("VisitPlaces")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Code")</th>
                            <th>@L("Description")</th>
                            @if (Model.CanModify)
                            {
                                <th style="text-align: right;">@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var visitPlace in Model.VisitPlaces.Items)
                        {
                            <tr>
                                <td>@visitPlace.Code</td>
                                <td>@visitPlace.Description</td>
                                @if (Model.CanModify)
                                {
                                    <td class="dropdown">
                                        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" visitPlace="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" class="waves-effect waves-block edit-visitPlace" data-visitPlace-id="@visitPlace.Id" data-toggle="modal" data-target="#VisitPlaceEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                            <li><a href="#" class="waves-effect waves-block delete-visitPlace" data-visitPlace-id="@visitPlace.Id" data-visitPlace-name="@visitPlace.Code"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                        </ul>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.CanModify)
                {
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#VisitPlaceCreateModal">
                        <i class="material-icons">add</i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.CanModify)
{
    <div class="modal fade" id="VisitPlaceCreateModal" tabindex="-1" visitPlace="dialog" aria-labelledby="VisitPlaceCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" visitPlace="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreateVisitPlace")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="visitPlaceCreateForm" visitPlace="form" novalidate class="form-validation">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Code" name="Code" type="text" value="@Model.Code" required maxlength="100" minlength="1" class="validate form-control">
                                        <label for="Code" class="form-label">@L("Code")</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Description" name="Description" type="text" value="@Model.Description" required maxlength="500" minlength="1" class="validate form-control">
                                        <label for="Description" class="form-label">@L("Description")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="VisitPlaceEditModal" tabindex="-1" visitPlace="dialog" aria-labelledby="VisitPlaceEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" visitPlace="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
