﻿@using ItGroup.Saex.Web.Startup
@using ItGroup.Saex.Configuration
@using ItGroup.Saex.Web

@model ItGroup.Saex.Web.ViewModels.DailyReportViewModel
@{
    ViewBag.CurrentPageName = PageNames.DailyReport;
    ViewBag.Title = L("DailyReport");
}

@section styles
{
    <style>
        #dataTable_wrapper {
            padding: 16px;
        }
        tr.group,
        tr.group:hover {
            background-color: #ddd !important;
        }
    </style>
}

@section scripts
{
    <script src="~/view-resources/Views/DailyReport/Index.js" asp-append-version="true"></script>
}

<div class="row clearfix" id="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("DailyReport")
                </h2>
                <div id="searchContainer" class="container col-sm-12" style="margin-top: 40px;">
                    <form id="searchForm">
                        @*<input type="hidden" id="internalAgent-id" name="Id" value="@Model.InternalAgentId" />*@
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <label class="input-group-text">@L("ExternalAgents")</label>

                                    @Html.DropDownListFor(x => x.SelectedExternalAgent,
                                        new SelectList(Model.ExternalAgents, "User.Id", "User.FullName"),
                                        L("ChooseOne"), new { @class = "selectpicker form-control", @data_live_search = "true" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="input-group-text">@L("Date")</label>

                                    @Html.DropDownListFor(x => x.SelectedDateType,
                                        new SelectList(Model.DateTypes, "Id", "Description"),
                                        L("ChooseOne"), new { @class = "selectpicker form-control", @data_live_search = "true" })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>@L("DateFrom")</label>
                                    <div class="input-group">
                                        @Html.EditorFor(x => x.FromDate, new { @type = "date" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>@L("DateTo")</label>
                                    <div class="input-group">
                                        @Html.EditorFor(x => x.ToDate, new { @type = "date" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="button" id="search-button" class="btn btn-success waves-effect" style="margin-top: 20px;">@L("Search")</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="body table-responsive">
                <div class="col-sm-6">
                    <label>@L("AccountsVisits")</label>
                </div>
               
                <table id="dataTable" class="table table-striped table-bordered" 
                       style="width: 100%;table-layout: fixed;word-wrap: break-word">
                    <thead>
                        <tr>
                            <th width="500">@L("Date")</th>
                            <th>@L("ActivityCode")</th>
                            <th>@L("DPD")</th>
                            <th>@L("AccountNumber")</th>
                            <th>@L("ProductNumber")</th>
                            <th>@L("City")</th>
                            <th>@L("Party")</th>
                            <th>@L("Place")</th>
                            <th>@L("Comment")</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <div class="body table-responsive">
                <div class="col-sm-6">
                    <label>@L("PlannedAccountsWitoutVisit")</label>
                </div>
                
                <table id="PlannedCasesWithoutVisitdataTable" class="table table-striped table-bordered" 
                       style="width: 100%;table-layout: fixed;word-wrap: break-word">
                    <thead>
                        <tr>
                            <th>@L("Date")</th>
                            <th>@L("DPD")</th>
                            <th>@L("AccountNumber")</th>
                            <th>@L("Name")</th>
                            <th>@L("ProductNumber")</th>
                            <th>@L("City")</th>
                            <th>@L("ZipCode")</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>