﻿@using ItGroup.Saex.Web.Models.Common.Modals;
@using ItGroup.Saex.Authorization;

@model ItGroup.Saex.Web.Models.Roles.EditRoleModalViewModel

@{ Layout = null; }
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditRole")))

<div class="modal-body">
    <form name="RoleEditForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@Model.Role.Id" />
        <input type="hidden" name="IsStatic" value="@(Model.Role.IsStatic.ToString())" />
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="rolename" @(Model.Role.IsStatic ? "disabled" : "") type="text" name="Name" value="@Model.Role.Name" required maxlength="32" minlength="2" class="validate form-control">
                        <label for="rolename" class="form-label">@L("RoleName")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="">
                        <input id="IsActive" type="checkbox" name="IsActive" value="true" @(Model.Role.IsActive ? "checked" : "") class="form-control" />
                        <label for="IsActive" class="form-label">@L("IsActive")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h4>@L("Permissions")</h4>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <input class="form-control" placeholder="@L("Search")" type="text" id="findEditPermission" />
            </div>
        </div>

        <table style="width: 100%;" id="editPermissionsSection">
            <tbody>
                @*  Security Permissions  *@
                <tr>
                    <td>
                        <div class="row clearfix" >
                            <div class="col-sm-12" style="border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;">
                                <div>
                                    <div style="display: flex; align-items: center;">
                                        <input type="checkbox" id="chkSecurityEdit" class="filled-in" @(Model.HasPermission(PermissionNames.Menu_Security) ? "checked" : "") @(Model.Role.IsStatic ? "disabled" : "") value="@PermissionNames.Menu_Security" name="permission" />
                                        <label for="chkSecurityEdit" style="font-size:medium;font-weight:700;width:100%;">@L("Security")</label>
                                        <button type="button" class="btn btn-default btn-circle waves-effect" data-toggle="collapse" href="#editSecurityCollapse" aria-controls="editSecurityCollapse">
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </button>
                                    </div>
                                    <div class="collapse in" id="editSecurityCollapse">
                                        @{ foreach (var permission in Model.Permissions.Where(x => PermissionNames.SecurityPermissionsSection.Contains(x.Name)).OrderBy(o => o.DisplayName).ToList())
                                            {
                                                <div class="col-sm-6">
                                                    <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="@string.Format("Editpermission{0}", permission.Name)" @(Model.HasPermission(permission) ? "checked" : "") @(Model.Role.IsStatic ? "disabled" : "") />
                                                    <label for="@string.Format("Editpermission{0}", permission.Name)">@permission.DisplayName</label>
                                                </div>
                                            }
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                @*  Lists Permissions  *@
                <tr>
                    <td>

                        <div class="row clearfix">
                            <div class="col-sm-12" style="border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;">
                                <div>
                                    <div style="display: flex; align-items: center;">
                                        <input type="checkbox" id="chkListsEdit" class="filled-in" @(Model.HasPermission(PermissionNames.Menu_Lists) ? "checked" : "") @(Model.Role.IsStatic ? "disabled" : "")  value="@PermissionNames.Menu_Lists" name="permission"/>
                                        <label for="chkListsEdit" style="font-size:medium;font-weight:700;width:100%;">@L("Lists")</label>
                                        <button type="button" class="btn btn-default btn-circle waves-effect" data-toggle="collapse" href="#editListsCollapse" aria-controls="editListsCollapse">
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </button>
                                    </div>
                                    <div class="collapse in" id="editListsCollapse">
                                        @{ foreach (var permission in Model.Permissions.Where(x => PermissionNames.ListsPermissionsSection.Contains(x.Name)).OrderBy(o => o.DisplayName).ToList())
                                            {
                                                <div class="col-sm-6">
                                                    <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="@string.Format("Editpermission{0}", permission.Name)" @(Model.HasPermission(permission) ? "checked" : "") @(Model.Role.IsStatic ? "disabled" : "") />
                                                    <label for="@string.Format("Editpermission{0}", permission.Name)">@permission.DisplayName</label>
                                                </div>
                                            }
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                @*  Maintenance Permissions  *@
                <tr>
                    <td>
                        <div class="row clearfix">
                            <div class="col-sm-12" style="border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;">
                                <div>
                                    <div style="display: flex; align-items: center;">
                                        <input type="checkbox" id="chkMaintenanceEdit" class="filled-in" @(Model.HasPermission(PermissionNames.Menu_Maintenance) ? "checked" : "") @(Model.Role.IsStatic ? "disabled" : "")  value="@PermissionNames.Menu_Maintenance" name="permission" />
                                        <label for="chkMaintenanceEdit" style="font-size:medium;font-weight:700;width:100%;">@L("Maintenance")</label>
                                        <button type="button" class="btn btn-default btn-circle waves-effect" data-toggle="collapse" href="#editMaintenanceCollapse" aria-controls="editMaintenanceCollapse">
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </button>
                                    </div>
                                    <div class="collapse in" id="editMaintenanceCollapse">
                                        @{ foreach (var permission in Model.Permissions.Where(x => PermissionNames.MaintenancePermissionsSection.Contains(x.Name)).OrderBy(o => o.DisplayName).ToList())
                                            {
                                                <div class="col-sm-6">
                                                    <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="@string.Format("Editpermission{0}", permission.Name)" @(Model.HasPermission(permission) ? "checked" : "") @(Model.Role.IsStatic ? "disabled" : "") />
                                                    <label for="@string.Format("Editpermission{0}", permission.Name)">@permission.DisplayName</label>
                                                </div>
                                            }
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                @*  Messages Permissions  *@
                <tr>
                    <td>
                        <div class="row clearfix">
                            <div class="col-sm-12" style="border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;">
                                <div>
                                    <div style="display: flex; align-items: center;">
                                        <input type="checkbox" id="chkMessagesEdit" class="filled-in" @(Model.HasPermission(PermissionNames.Pages_Messages_View) ? "checked" : "") @(Model.Role.IsStatic ? "disabled" : "") value="@PermissionNames.Pages_Messages_View" name="permission" />
                                        <label for="chkMessagesEdit" style="font-size:medium;font-weight:700;width:100%;">@L("Messages")</label>
                                        <button type="button" class="btn btn-default btn-circle waves-effect" data-toggle="collapse" href="#editMessagesCollapse" aria-controls="editMessagesCollapse">
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </button>
                                    </div>
                                    <div class="collapse in" id="editMessagesCollapse">
                                        @{ foreach (var permission in Model.Permissions.Where(x => PermissionNames.MessagesPermissionsSection.Contains(x.Name)).OrderBy(o => o.DisplayName).ToList())
                                            {
                                                <div class="col-sm-6">
                                                    <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="@string.Format("Editpermission{0}", permission.Name)" @(Model.HasPermission(permission) ? "checked" : "") @(Model.Role.IsStatic ? "disabled" : "") />
                                                    <label for="@string.Format("Editpermission{0}", permission.Name)">@permission.DisplayName</label>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                @*  Settings Permissions  *@
                <tr>
                    <td>
                        <div class="row clearfix">
                            <div class="col-sm-12" style="border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;">
                                <div>
                                    <div style="display: flex; align-items: center;">
                                        <input type="checkbox" id="chkSettingsEdit" class="filled-in" @(Model.HasPermission(PermissionNames.Pages_SystemPolicies_View) ? "checked" : "") @(Model.Role.IsStatic ? "disabled" : "") value="@PermissionNames.Pages_SystemPolicies_View" name="permission" />
                                        <label for="chkSettingsEdit" style="font-size:medium;font-weight:700;width:100%;">@L("Configuration")</label>
                                        <button type="button" class="btn btn-default btn-circle waves-effect" data-toggle="collapse" href="#editSettingsCollapse" aria-controls="editSettingsCollapse">
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </button>
                                    </div>
                                    <div class="collapse in" id="editSettingsCollapse">
                                        @{ foreach (var permission in Model.Permissions.Where(x => PermissionNames.SettingsPermissionsSection.Contains(x.Name)).OrderBy(o => o.DisplayName).ToList())
                                            {
                                                <div class="col-sm-6">
                                                    <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="@string.Format("Editpermission{0}", permission.Name)" @(Model.HasPermission(permission) ? "checked" : "") @(Model.Role.IsStatic ? "disabled" : "") />
                                                    <label for="@string.Format("Editpermission{0}", permission.Name)">@permission.DisplayName</label>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                @*  Reports Permissions *@
                <tr>
                    <td>
                        <div class="row clearfix">
                            <div class="col-sm-12" style="border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;">
                                <div>
                                    <div style="display: flex; align-items: center;">
                                        <input type="checkbox" id="chkreportsEdit" class="filled-in" @(Model.HasPermission(PermissionNames.Pages_Reports_View) ? "checked" : "") @(Model.Role.IsStatic ? "disabled" : "") value="@PermissionNames.Pages_Reports_View" name="permission" />
                                        <label for="chkreportsEdit" style="font-size:medium;font-weight:700;width:100%;">@L("Reports")</label>
                                        <button type="button" class="btn btn-default btn-circle waves-effect" data-toggle="collapse" href="#editReportCollapse" aria-controls="editReportCollapse">
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </button>
                                    </div>
                                    <div class="collapse in" id="editReportCollapse">
                                        @{ foreach (var permission in Model.Permissions.Where(x => PermissionNames.ReportsPermissionsSection.Contains(x.Name)).OrderBy(o => o.DisplayName).ToList())
                                            {
                                                <div class="col-sm-6">
                                                    <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="@string.Format("Editpermission{0}", permission.Name)" @(Model.HasPermission(permission) ? "checked" : "") @(Model.Role.IsStatic ? "disabled" : "") />
                                                    <label for="@string.Format("Editpermission{0}", permission.Name)">@permission.DisplayName</label>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                @*  Agent Activities Permissions *@
                <tr>
                    <td>
                        <div class="row clearfix">
                            <div class="col-sm-12" style="border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;">
                                <div>
                                    <div style="display: flex; align-items: center;">
                                        <input type="checkbox" id="chkagentactivitiesEdit" class="filled-in" @(Model.HasPermission(PermissionNames.Pages_AgentActivity_View) ? "checked" : "") @(Model.Role.IsStatic ? "disabled" : "") value="@PermissionNames.Pages_AgentActivity_View " name="permission" />
                                        <label for="chkagentactivitiesEdit" style="font-size:medium;font-weight:700;width:100%;">@L("AgentActivity")</label>
                                        <button type="button" class="btn btn-default waves-effect btn-circle" data-toggle="collapse" href="#editAgentActivityCollapse" aria-controls="editAgentActivityCollapse">
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </button>
                                    </div>
                                    <div class="collapse in" id="editAgentActivityCollapse">
                                        @{ foreach (var permission in Model.Permissions.Where(x => PermissionNames.AgentActivitiesPermissionsSection.Contains(x.Name)).OrderBy(o => o.DisplayName).ToList())
                                            {
                                                <div class="col-sm-6">
                                                    <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="@string.Format("Editpermission{0}", permission.Name)" @(Model.HasPermission(permission) ? "checked" : "") @(Model.Role.IsStatic ? "disabled" : "") />
                                                    <label for="@string.Format("Editpermission{0}", permission.Name)">@permission.DisplayName</label>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                @*  Manager/Supervisor/InternalAgent Permissions *@
                <tr>
                    <td>
                        <div class="row clearfix">
                            <div class="col-sm-12" style="border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;">
                                <div>
                                    <div style="display: flex; align-items: center;">
                                        <input type="checkbox" id="chkSupervisorEdit" class="filled-in" @(Model.HasPermission(PermissionNames.Pages_AssignExternalAgents_View) ? "checked" : "") @(Model.Role.IsStatic ? "disabled" : "") />
                                        <label for="chkSupervisorEdit" style="font-size:medium;font-weight:700;width:100%;">@L("Manage/Supervisor/InternalAgent")</label>
                                        <button type="button" class="btn btn-default waves-effect btn-circle" data-toggle="collapse" href="#editSupervisorCollapse" aria-controls="editSupervisorCollapse">
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </button>
                                    </div>
                                    <div class="collapse in" id="editSupervisorCollapse">
                                        @{ foreach (var permission in Model.Permissions.Where(x => PermissionNames.ManagerSupervisorInternalAgentPermissionsSection.Contains(x.Name)).OrderBy(o => o.DisplayName).ToList())
                                            {
                                                <div class="col-sm-6">
                                                    <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="@string.Format("Editpermission{0}", permission.Name)" @(Model.HasPermission(permission) ? "checked" : "") @(Model.Role.IsStatic ? "disabled" : "") />
                                                    <label for="@string.Format("Editpermission{0}", permission.Name)">@permission.DisplayName</label>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/Roles/_EditRoleModal.js" asp-append-version="true"></script>
