﻿@using ItGroup.Saex.Web.Startup
@using ItGroup.Saex.Authorization;
@model ItGroup.Saex.Web.Models.Roles.RoleListViewModel
@{
    ViewBag.CurrentPageName = PageNames.Roles; // The menu item will be active for this page.
    ViewBag.Title = L("Roles");
}
@section scripts
{

    <script src="~/view-resources/Views/Roles/Index.js" asp-append-version="true"></script>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("Roles")
                </h2>

            </div>
            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width:80%">@L("RoleName")</th>
                            <th style="width:10%">@L("IsActive")</th>
                            @if (Model.CanModify)
                            {
                                <th style="width:10%;">@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model.Roles)
                        {
                            <tr>
                                <td>@role.Name</td>
                                <td><i class="material-icons" style="color:@(role.IsActive ? "green":"red");">@(role.IsActive ? "check_box" : "indeterminate_check_box")</i></td>
                                @if (Model.CanModify)
                                {
                                    <td class="dropdown" style="text-align:right">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" class="waves-effect waves-block edit-role" data-role-id="@role.Id" data-toggle="modal" data-target="#RoleEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                            <li><a href="#" class="waves-effect waves-block delete-role" data-role-id="@role.Id" data-role-name="@role.Name"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                        </ul>
                                    </td>
                                }
                                
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.CanModify)
                { 
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#RoleCreateModal">
                        <i class="material-icons">add</i>
                    </button>
                }
                
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="RoleCreateModal" tabindex="-1" role="dialog" aria-labelledby="RoleCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("CreateNewRole")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="roleCreateForm" role="form" novalidate class="form-validation">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="rolename" type="text" name="Name" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="rolename" class="form-label">@L("RoleName")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="row clearfix">
                                        <div class="col-sm-12">
                                            <div class="checkbox">
                                                <input type="checkbox" name="IsActive" value="true" id="CreateRoleIsActive" class="filled-in" checked />
                                                <label for="CreateRoleIsActive">@L("IsActive")</label>
                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="displayname" type="text" name="DisplayName" required maxlength="32" minlength="2" class="validate form-control">
                                        <label for="displayname" class="form-label">@L("DisplayName")</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <textarea id="role-description" name="Description" class="validate form-control"></textarea>
                                        <label for="role-description" class="form-label">@L("RoleDescription")</label>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    
                    <div class="row">
                        <div class="col-sm-4">
                            <h4>@L("Permissions")</h4>
                        </div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <input class="form-control" placeholder="@L("Search")" type="text" id="findCretePermission" />
                        </div>
                    </div>
                    <div class="row clearfix" id="createPermissionsSection">
                        <div class="col-sm-12">
                            
                            <table style="width: 100%;">
                                <tbody>
                                    @*  Security Permissions  *@
                                    <tr>
                                        <td>
                                            <div class="row clearfix">
                                                <div class="col-sm-12" style="border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;">
                                                    <div>
                                                        <div style="display: flex; align-items: center;">
                                                            <input type="checkbox" id="chkSecurity" class="filled-in" value="@PermissionNames.Menu_Security" name="permission" />
                                                            <label for="chkSecurity" style="font-size:medium;font-weight:700;width:100%;">@L("Security")</label>
                                                            <button type="button" class="btn btn-default btn-circle waves-effect" data-toggle="collapse" href="#securityCollapse" aria-controls="securityCollapse">
                                                                <i class="material-icons">keyboard_arrow_down</i>
                                                            </button>
                                                        </div>
                                                        <div class="collapse in" id="securityCollapse">
                                                            @{ foreach (var permission in Model.Permissions.Where(x => PermissionNames.SecurityPermissionsSection.Contains(x.Name)).OrderBy(o => o.DisplayName).ToList())
                                                                {
                                                                    <div class="col-sm-6">
                                                                        <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="@string.Format("permission{0}", permission.Name)" ) />
                                                                        <label for="@string.Format("permission{0}", permission.Name)">@permission.DisplayName</label>
                                                                    </div> } }

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    @*  Lists Permissions  *@
                                    <tr>
                                        <td>

                                            <div class="row clearfix">
                                                <div class="col-sm-12" style="border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;">
                                                    <div>
                                                        <div style="display: flex; align-items: center;">
                                                            <input type="checkbox" value="@PermissionNames.Menu_Lists" id="chkLists" class="filled-in" name="permission" />
                                                            <label for="chkLists" style="font-size:medium;font-weight:700;width:100%;">@L("Lists")</label>
                                                            <button type="button" class="btn btn-default btn-circle waves-effect" data-toggle="collapse" href="#listsCollapse" aria-controls="listsCollapse">
                                                                <i class="material-icons">keyboard_arrow_down</i>
                                                            </button>
                                                        </div>
                                                        <div class="collapse in" id="listsCollapse">
                                                            @{ foreach (var permission in Model.Permissions.Where(x => PermissionNames.ListsPermissionsSection.Contains(x.Name)).OrderBy(o => o.DisplayName).ToList())
                                                                {
                                                                    <div class="col-sm-6">
                                                                        <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="@string.Format("permission{0}", permission.Name)" />
                                                                        <label for="@string.Format("permission{0}", permission.Name)">@permission.DisplayName</label>
                                                                    </div> } }
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    @*  Maintenance Permissions  *@
                                    <tr>
                                        <td>
                                            <div class="row clearfix">
                                                <div class="col-sm-12" style="border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;">
                                                    <div>
                                                        <div style="display: flex; align-items: center;">
                                                            <input type="checkbox" id="chkMaintenance" class="filled-in" value="@PermissionNames.Menu_Maintenance" name="permission" />
                                                            <label for="chkMaintenance" style="font-size:medium;font-weight:700;width:100%;">@L("Maintenance")</label>
                                                            <button type="button" class="btn btn-default btn-circle waves-effect" data-toggle="collapse" href="#maintenanceCollapse" aria-controls="maintenanceCollapse">
                                                                <i class="material-icons">keyboard_arrow_down</i>
                                                            </button>
                                                        </div>
                                                        <div class="collapse in" id="maintenanceCollapse">
                                                            @{ foreach (var permission in Model.Permissions.Where(x => PermissionNames.MaintenancePermissionsSection.Contains(x.Name)).OrderBy(o => o.DisplayName).ToList())
                                                                {
                                                                    <div class="col-sm-6">
                                                                        <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="@string.Format("permission{0}", permission.Name)" />
                                                                        <label for="@string.Format("permission{0}", permission.Name)">@permission.DisplayName</label>
                                                                    </div> } }
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    @*  Messages Permissions  *@
                                    <tr>
                                        <td>
                                            <div class="row clearfix">
                                                <div class="col-sm-12" style="border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;">
                                                    <div>
                                                        <div style="display: flex; align-items: center;">
                                                            <input type="checkbox" id="chkMessages" class="filled-in" value="@PermissionNames.Pages_Messages_View" name="permission" />
                                                            <label for="chkMessages" style="font-size:medium;font-weight:700;width:100%;">@L("Messages")</label>
                                                            <button type="button" class="btn btn-default btn-circle waves-effect" data-toggle="collapse" href="#messagesCollapse" aria-controls="messagesCollapse">
                                                                <i class="material-icons">keyboard_arrow_down</i>
                                                            </button>
                                                        </div>
                                                        <div class="collapse in" id="messagesCollapse">
                                                            @{ foreach (var permission in Model.Permissions.Where(x => PermissionNames.MessagesPermissionsSection.Contains(x.Name)).OrderBy(o => o.DisplayName).ToList())
                                                                {
                                                                    <div class="col-sm-6">
                                                                        <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="@string.Format("permission{0}", permission.Name)" />
                                                                        <label for="@string.Format("permission{0}", permission.Name)">@permission.DisplayName</label>
                                                                    </div> } }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    @*  Settings Permissions  *@
                                    <tr>
                                        <td>
                                            <div class="row clearfix">
                                                <div class="col-sm-12" style="border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;">
                                                    <div>
                                                        <div style="display: flex; align-items: center;">
                                                            <input type="checkbox" id="chkSettings" class="filled-in" value="@PermissionNames.Pages_SystemPolicies_View" name="permission" />
                                                            <label for="chkSettings" style="font-size:medium;font-weight:700;width:100%;">@L("Configuration")</label>
                                                            <button type="button" class="btn btn-default btn-circle waves-effect" data-toggle="collapse" href="#settingsCollapse" aria-controls="settingsCollapse">
                                                                <i class="material-icons">keyboard_arrow_down</i>
                                                            </button>
                                                        </div>
                                                        <div class="collapse in" id="settingsCollapse">
                                                            @{ foreach (var permission in Model.Permissions.Where(x => PermissionNames.SettingsPermissionsSection.Contains(x.Name)).OrderBy(o => o.DisplayName).ToList())
                                                                {
                                                                    <div class="col-sm-6">
                                                                        <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="@string.Format("permission{0}", permission.Name)" />
                                                                        <label for="@string.Format("permission{0}", permission.Name)">@permission.DisplayName</label>
                                                                    </div> } }
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    @*  Reports Permissions *@
                                    <tr>
                                        <td>
                                            <div class="row clearfix">
                                                <div class="col-sm-12" style="border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;">
                                                    <div>
                                                        <div style="display: flex; align-items: center;">
                                                            <input type="checkbox" id="chkreports" class="filled-in" value="@PermissionNames.Pages_Reports_View" name="permission" />
                                                            <label for="chkreports" style="font-size:medium;font-weight:700;width:100%;">@L("Reports")</label>
                                                            <button type="button" class="btn btn-default btn-circle waves-effect" data-toggle="collapse" href="#reportCollapse" aria-controls="reportCollapse">
                                                                <i class="material-icons">keyboard_arrow_down</i>
                                                            </button>
                                                        </div>
                                                        <div class="collapse in" id="reportCollapse">
                                                            @{ foreach (var permission in Model.Permissions.Where(x => PermissionNames.ReportsPermissionsSection.Contains(x.Name)).OrderBy(o => o.DisplayName).ToList())
                                                                {
                                                                    <div class="col-sm-6">
                                                                        <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="@string.Format("permission{0}", permission.Name)" />
                                                                        <label for="@string.Format("permission{0}", permission.Name)">@permission.DisplayName</label>
                                                                    </div> } }

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    @*  Agent Activities Permissions *@
                                    <tr>
                                        <td>
                                            <div class="row clearfix">
                                                <div class="col-sm-12" style="border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;">
                                                    <div>
                                                        <div style="display: flex; align-items: center;">
                                                            <input type="checkbox" id="chkagentactivities" class="filled-in" value="@PermissionNames.Pages_Reports_View" name="permission" />
                                                            <label for="chkagentactivities" style="font-size:medium;font-weight:700;width:100%;">@L("AgentActivity")</label>
                                                            <button type="button" class="btn btn-default waves-effect btn-circle" data-toggle="collapse" href="#agentActivityCollapse" aria-controls="agentActivityCollapse">
                                                                <i class="material-icons">keyboard_arrow_down</i>
                                                            </button>
                                                        </div>
                                                        <div class="collapse in" id="agentActivityCollapse">
                                                            @{ foreach (var permission in Model.Permissions.Where(x => PermissionNames.AgentActivitiesPermissionsSection.Contains(x.Name)).OrderBy(o => o.DisplayName).ToList())
                                                                {
                                                                    <div class="col-sm-6">
                                                                        <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="@string.Format("permission{0}", permission.Name)" />
                                                                        <label for="@string.Format("permission{0}", permission.Name)">@permission.DisplayName</label>
                                                                    </div> } }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    @*  Manager/Supervisor/InternalAgent Permissions *@
                                    <tr>
                                        <td>
                                            <div class="row clearfix">
                                                <div class="col-sm-12" style="border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;">
                                                    <div>
                                                        <div style="display: flex; align-items: center;">
                                                            <input type="checkbox" id="chksupervisor" class="filled-in" />
                                                            <label for="chksupervisor" style="font-size:medium;font-weight:700;width:100%;">@L("Manage/Supervisor/InternalAgent")</label>
                                                            <button type="button" class="btn btn-default waves-effect btn-circle" data-toggle="collapse" href="#supervisorCollapse" aria-controls="supervisorCollapse">
                                                                <i class="material-icons">keyboard_arrow_down</i>
                                                            </button>
                                                        </div>
                                                        <div class="collapse in" id="supervisorCollapse">
                                                            @{ foreach (var permission in Model.Permissions.Where(x => PermissionNames.ManagerSupervisorInternalAgentPermissionsSection.Contains(x.Name)).OrderBy(o => o.DisplayName).ToList())
                                                                {
                                                                    <div class="col-sm-6">
                                                                        <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="@string.Format("permission{0}", permission.Name)" />
                                                                        <label for="@string.Format("permission{0}", permission.Name)">@permission.DisplayName</label>
                                                                    </div> } }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RoleEditModal" tabindex="-1" role="dialog" aria-labelledby="RoleEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>