﻿@using ItGroup.Saex.Web.Startup
@using DevExpress.AspNetCore

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>

@model ItGroup.Saex.Web.ViewModels.ActivityReportViewModel
@{
    ViewBag.CurrentPageName = PageNames.Report_ActivityReport; // The menu item will be active for this page.
    ViewBag.Title = @L("ActivityReport");
}

@section styles
{
    <style>
        #dataTable_wrapper {
            padding: 16px;
        }
    </style>
}

@*@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Reports/ActivityReport/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Reports/ActivityReport/Index.js" asp-append-version="true"></script>
    </environment>
}*@

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("ActivityReport")
                </h2>
                <div id="searchContainer" class="col-sm-12" style="margin-top: 40px;">
                    <form id="searchActivityForm">
                        <div class="col-sm-2">
                            <label>@L("AgentFrom")</label>
                            <div class="input-group">
                                @Html.DropDownListFor(x => x.SelectedAgentFromID,
                                      new SelectList(Model.AgentsFrom, "Id", "User.FullName"),
                                      L("SearchAgent"), new { @class = "selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>@L("AgentTo")</label>
                            <div class="input-group">
                                @Html.DropDownListFor(x => x.SelectedAgentToID,
                                      new SelectList(Model.AgentsTo, "Id", "User.FullName"),
                                      L("SearchAgent"), new { @class = "selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>@L("DateFrom")</label>
                            <div class="input-group">
                                @Html.EditorFor(x => x.DateFrom, new { @type = "date" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>@L("DateTo")</label>
                            <div class="input-group">
                                @Html.EditorFor(x => x.DateTo, new { @type = "date" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" formaction="@Url.Action("ActivityReportPost", "Reports")" class="btn btn-primary waves-effect" style="margin-top: 20px;">@L("Search")</button>
                        </div>
                    </form>
                </div>
            </div>

            @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new ItGroup.Saex.Web.Reports.ActivityReport(Model.SupervisorID,Model.SupervisorName,Model.InternalAgentID, Model.InternalAgentName, Model.AgentFromUserID, Model.AgentToUserID,Model.DateFrom,Model.DateTo, Model.AgentFromName, Model.AgentToName))
        </div>
    </div>
</div>