﻿@using ItGroup.Saex.Web.Startup
@using DevExpress.AspNetCore

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>

@model ItGroup.Saex.Web.ViewModels.AddressManagementReportViewModel
@{
    ViewBag.CurrentPageName = PageNames.Report_AddressManagement; // The menu item will be active for this page.
    ViewBag.Title = L("AddressManagementReport");
}

@section styles
{
    @*@await Html.PartialAsync("_ReportStyles")*@
    <style>
        #dataTable_wrapper {
            padding: 16px;
        }
    </style>
}

@section scripts
{
    @*@await Html.PartialAsync("_ReportScripts")*@

    <environment names="Development">
        <script src="~/view-resources/Views/Reports/AddressManagementReport/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Reports/AddressManagementReport/Index.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("AddressManagementReport")
                </h2>
                @*<a href="javascript:void(0);" class="js-search" style="float: right" data-close="true"><i class="material-icons">search</i></a>*@
                <div id="searchContainer" class="col-sm-12" style="margin-top: 40px;">
                    <form id="searchActivityForm">
                        <div class="col-sm-2">
                            <label>@L("DateFrom")</label>
                            <div class="input-group">
                                @Html.EditorFor(x => x.DateFrom, new { @type = "date" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>@L("DateTo")</label>
                            <div class="input-group">
                                @Html.EditorFor(x => x.DateTo, new { @type = "date" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" formaction="@Url.Action("AddressManagementPost", "Reports")" class="btn btn-primary waves-effect" style="margin-top: 20px;">@L("Search")</button>
                        </div>
                    </form>
                </div>
            </div>
            @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new ItGroup.Saex.Web.Reports.AddressManagementReport(DateTime.Now,DateTime.Now))
        </div>
    </div>
</div>