﻿@using ItGroup.Saex.Web.Startup
@using DevExpress.AspNetCore

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>

@model ItGroup.Saex.Web.ViewModels.AssignAccountsReportViewModel
@{
    ViewBag.CurrentPageName = PageNames.AssignAccountsReport; // The menu item will be active for this page.
    ViewBag.Title = L("AssignAccountsReport");
}

@section styles
{
    @*@await Html.PartialAsync("_ReportStyles")*@

    <style>
        #dataTable_wrapper {
            padding: 16px;
        }
    </style>
}

@section scripts
{
    @*@await Html.PartialAsync("_ReportScripts")*@

    <script src="~/view-resources/Views/Reports/AssignAccountsReport/Index.js" asp-append-version="true"></script>

}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("AssignAccountsReport")
                </h2>
                <div id="searchContainer" class="col-sm-12" style="margin-top: 40px;">
                    <form id="searchActivityForm">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>@L("Agent")</label>
                                <div class="input-group">
                                    @Html.DropDownListFor(x => x.AgentID,
                                          new SelectList(Model.Agents, "User.UserName", "User.FullName"),
                                           L("SearchAgent"), new { @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label>@L("Regions")</label>
                                <div class="input-group">
                                    @Html.DropDownListFor(x => x.RegionID,
                                        new SelectList(Model.Regions, "RegionID", "Name"),
                                        L("ChooseOne"), new { @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label>@L("Routes")</label>
                                <div class="input-group">
                                    @Html.DropDownListFor(x => x.RouteID,
                                        new SelectList(Model.Routes, "RouteID", "Name"),
                                        L("ChooseOne"), new { @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <button type="button" id="search-button" class="btn btn-success waves-effect" style="margin-top: 20px;">@L("Search")</button>
                            @*<button type="submit" formaction="@Url.Action("AssignAccountsReportPost", "Reports")" class="btn btn-primary waves-effect" style="margin-top: 20px;">@L("Search")</button>*@
                        </div>
                    </form>
                </div>
            </div>

            <div class="body table-responsive">
                <table id="dataTable" class="table table-striped table-bordered"
                       style="width: 100%;table-layout: fixed;word-wrap: break-word">
                    <thead>
                        <tr>
                            <th>@L("Product")</th>
                            <th>@L("AccountNumber")</th>
                            <th>@L("Name")</th>
                            <th>@L("ZipCode")</th>
                            <th>@L("City")</th>
                            <th>@L("Balance")</th>
                            <th>@L("Estado")</th>
                            <th>@L("EntryDate")</th>
                            <th>@L("TransferType")</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            @*@if (Model.AgentUserName != null)
                {
                    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new ItGroup.Saex.Web.Reports.AssignAccountsReport(Model.AgentUserName, Model.RegionId, Model.RouteId))
                }
                else
                {
                    @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new ItGroup.Saex.Web.Reports.AssignAccountsReport(" ", null, null))
                }*@
        </div>
    </div>
</div>