﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.AuditReportViewModel
@{
    ViewBag.CurrentPageName = PageNames.Report_Audit; // The menu item will be active for this page.
    ViewBag.Title = L("AuditReport");
}
@section scripts
{
    <script src="~/view-resources/Views/Reports/Audit/Index.js" asp-append-version="true"></script>

    <style>
        #dataTable_wrapper {
            padding: 16px;
        }
    </style>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("AuditReport")
                </h2>
                @*<a href="javascript:void(0);" class="js-search" style="float: right" data-close="true"><i class="material-icons">search</i></a>*@
                <div id="searchContainer" class="col-sm-12" style="margin-top: 40px;">
                    <form id="searchActivityForm">
                        <div class="col-sm-2">
                            <label>@L("Users")</label>
                            <div class="input-group">
                                @Html.DropDownListFor(x => x.User,
                                      new SelectList(Model.Users, "Id", "FullName"),
                                      L("SearchUser"), new { @class = "selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>@L("TableName")</label>
                            <div class="input-group">
                                @Html.DropDownListFor(x => x.SelectedAuditLogTable,
                                      new SelectList(Model.AuditLogTables),
                                      L("TableName"), new { @class = "selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>@L("Date")</label>
                            <div class="input-group">
                                @Html.DropDownListFor(x => x.DateType,
                                    new SelectList(Model.DateTypes.Members, "Value", "Name"),
                                    L("ChooseOne"), new { id = "dateType", name = "dateType", @class = "selectpicker date-type" })
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <label>@L("DateFrom")</label>
                            <div class="input-group">
                                @Html.EditorFor(x => x.StartDate, new { @type = "date" })
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <label>@L("DateTo")</label>
                            <div class="input-group">
                                @Html.EditorFor(x => x.EndDate, new { @type = "date" })
                            </div>
                        </div>

                        @*<div class="col-sm-2">
            <label>@L("Date")</label>
            <div class="input-group date">
                <div class="form-line">
                    <input name="Date" id="Date" type="text" class="form-control" placeholder="@L("ChooseDate")" data-date-format="mm/dd/yyyy">
                </div>
                <span class="input-group-addon">
                    <i class="material-icons">date_range</i>
                </span>
            </div>
        </div>*@
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary waves-effect" style="margin-top: 20px;">@L("Search")</button>
                        </div>
                    </form>
                </div>
            </div>
            @*<div class="body table-responsive">
                    <table id="dataTable" class="table">
                    </table>
                </div>*@
            <div class="body table-responsive">
                <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("User")</th>
                            <th>@L("Date")</th>
                            <th>@L("TableName")</th>
                            <th>@L("OperationType")</th>
                            <th>@L("Description")</th>
                            <th>@L("Changes")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
