﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.CaseRecentActivityViewModel
@{
    Layout = "~/Views/Reports/_LayoutNoMenu.cshtml";
    ViewBag.Title = L("RecentActivity");
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("RecentActivity")))

<div class="modal-body">
    <div class="card">
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <label >@L("CaseID"): @Model.CaseNumber</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="body table-responsive">
            <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>@L("CreationTime")</th>
                        <th>@L("ActionCode")</th>
                        <th>@L("Description")</th>
                        <th>@L("ReactionCode")</th>
                        <th>@L("Description")</th>
                        <th>@L("ReasonCode")</th>
                        <th>@L("Description")</th>
                        <th>@L("Comment")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var activity in Model.Activities)
                    {
                        <tr>
                            <td>@activity.CreationTime</td>
                            <td>@activity.ActionCode</td>
                            <td>@activity.ActionDescription</td>
                            <td>@activity.ReactionCode</td>
                            <td>@activity.ReactionDescription</td>
                            <td>@activity.ReasonCode</td>
                            <td>@activity.ReasonDescription</td>
                            <td>@activity.Comment</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>        
<script src="~/view-resources/Views/Reports/Cases/CaseRecentActivity.js" asp-append-version="true"></script>
