﻿@using ItGroup.Saex.Web.Startup
@using ItGroup.Saex.Configuration
@using ItGroup.Saex.Web
@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration

@model ItGroup.Saex.Web.ViewModels.CaseReportViewModel
@{
    ViewBag.CurrentPageName = PageNames.Report_Cases;
    ViewBag.Title = L("CaseReport");
}

@section styles
{
    @await Html.PartialAsync("_ReportStyles")

    <style>
        #dataTable_wrapper {
            padding: 16px;
        }
    </style>
}

@section scripts
{
    <script src="~/view-resources/Views/Reports/Cases/Index.js" asp-append-version="true"></script>
}

@{
    var myTheme = "";
    if (Configuration != null)
    {
        if (Configuration.GetSection("Theme").Value != null) { myTheme = Configuration.GetSection("Theme").Value.ToUpper(); }
    }
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("CaseReport")
                </h2>
                @*<a href="javascript:void(0);" class="js-search" style="float: right" data-close="true"><i class="material-icons">search</i></a>*@
                <div id="searchContainer" class="col-sm-12" style="margin-top: 40px;">
                    <form id="searchForm">
                        <div class="col-sm-2">
                            <label>@L("Agents")</label>
                            <div class="input-group">
                                @Html.DropDownListFor(x => x.AgentId,
                                    new SelectList(Model.Agents, "Id", "User.FullName"),
                                    L("ChooseOne"), new { @class = "selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>@L("Regions")</label>
                            <div class="input-group">
                                @Html.DropDownListFor(x => x.RegionId,
                                    new SelectList(Model.Regions, "Id", "Name"),
                                    L("ChooseOne"), new { @class = "selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>@L("Routes")</label>
                            <div class="input-group">
                                @Html.DropDownListFor(x => x.RouteId,
                                    new SelectList(Model.Routes, "Id", "Name"),
                                    L("ChooseOne"), new { @class = "selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>@L("PostalCodes")</label>
                            <div class="input-group">
                                @Html.DropDownListFor(x => x.PostalCodeId,
                                    new SelectList(Model.PostalCodes, "Id", "Code"),
                                    L("ChooseOne"), new { @class = "selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>@L("DelinquencyStates")</label>
                            <div class="input-group">
                                @Html.DropDownListFor(x => x.DelinquencyStateId,
                                    new SelectList(Model.DelinquencyStates),
                                    L("ChooseOne"), new { @class = "selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>@L("AccountNumber")</label>
                            <div class="input-group">
                                <div class="form-line">
                                    <input name="AccountNumber" id="AccountNumber" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>@L("Name")</label>
                            <div class="input-group">
                                <div class="form-line">
                                    <input name="Name" id="Name" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <label>@L("AssignType")</label>
                            <div class="input-group">
                                @Html.DropDownListFor(x => x.AssignType,
                                    new SelectList(Model.AssignTypes),
                                    L("ChooseOne"), new { @class = "selectpicker", @data_live_search = "true" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary waves-effect" style="margin-top: 20px;">@L("Search")</button>
                            <button type="button" id="reset-button" class="btn btn-success waves-effect" style="margin-top: 20px;">@L("ResetColumns")</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="body table-responsive">
                <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            @if (myTheme == "FIRSTBANK")
                            {
                                <th>@L("Mandatory")</th>
                                // Column for View Activities button
                                <th></th>
                                <th>@L("Name")</th>
                                <th>@L("AccountNumber")</th>
                                <th>@L("PostalCode")</th>
                                <th>@L("Product")</th>
                                <th>@L("Balance")</th>
                                <th>@L("AssignType")</th>
                            }
                            else if (myTheme == "BANCOPOPULAR" || myTheme == "BPPR")
                            {
                                <th>@L("Mandatory")</th>
                                // Column for View Activities button
                                //<th></th>
                                <th>@L("Name")</th>
                                <th>@L("AccountNumber")</th>
                                <th>@L("PostalCode")</th>
                                <th>@L("StateCode")</th>
                                <th>@L("Route")</th>
                                <th>@L("DueDays")</th>
                                <th>@L("DelinquencyState")</th>
                                <th>@L("Balance")</th>
                                <th>@L("PaymentAmount")</th>
                                <th>@L("TotalDLQAmount")</th>
                                <th>@L("DateEntered")</th>
                                <th>@L("Status")</th>
                                <th>@L("ActivityCode")</th>
                                <th>@L("LastPaymentDate")</th>
                                <th>@L("ExternalAgentComment")</th>
                                <th>@L("InternalAgentComment")</th>
                                <th>@L("AssignType")</th>
                            }
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CaseRecentActivitiesModal" tabindex="-1" role="dialog" aria-labelledby="CaseRecentActivitiesModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>