﻿@using ItGroup.Saex.Web.Startup
@using DevExpress.AspNetCore

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>

@{
    ViewBag.CurrentPageName = PageNames.Report_ReceivedVsAssign; // The menu item will be active for this page.
}

@section styles
{
    @*@await Html.PartialAsync("_ReportStyles")*@

    <style>
        #dataTable_wrapper {
            padding: 16px;
        }
    </style>
}

@section scripts
{
    @*@await Html.PartialAsync("_ReportScripts")*@

    <environment names="Development">
        <script src="~/view-resources/Views/Reports/ReceivedVsAssignedCasesReport/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Reports/ReceivedVsAssignedCasesReport/Index.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new ItGroup.Saex.Web.Reports.ReceivedVsAssignedCasesReport())
        </div>
    </div>
</div>