﻿@using ItGroup.Saex.Web.Startup
@using DevExpress.AspNetCore

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>

@model ItGroup.Saex.Models.RutasAsignadasParameterModel
@{
    ViewBag.CurrentPageName = PageNames.AssignRoutes; // The menu item will be active for this page.
    ViewBag.Title = L("AssignRoutes");
}

@section styles
{
    @*@await Html.PartialAsync("_ReportStyles")*@

    <style>
        #dataTable_wrapper {
            padding: 16px;
        }
    </style>
}

@section scripts
{
    @*@await Html.PartialAsync("_ReportScripts")*@

    <script src="~/view-resources/Views/Reports/AssignRoutes/Index.js" asp-append-version="true"></script>

}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("AssignRoutes")
                </h2>
                <div id="searchContainer" class="col-sm-12" style="margin-top: 40px;">
                    <form id="searchActivityForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>@L("DateFrom")</label>
                                <div class="input-group">
                                    @Html.EditorFor(x => x.FromDate, new { @type = "date" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>@L("DateTo")</label>
                                <div class="input-group">
                                    @Html.EditorFor(x => x.ToDate, new { @type = "date" })
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <button type="button" id="search-button" class="btn btn-success waves-effect" style="margin-top: 20px;">@L("Search")</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="body table-responsive">
                <table id="dataTable" class="table table-striped table-bordered"
                       style="width: 100%;table-layout: fixed;word-wrap: break-word">
                    <thead>
                        <tr>
                            <th>@L("AccountNumber")</th>
                            <th>@L("Description")</th>
                            <th>@L("ZipCode")</th>
                            <th>@L("Route")</th>
                            <th>@L("Agent")</th>
                            <th>@L("Estado")</th>
                            <th>@L("TransferType")</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>