﻿@using ItGroup.Saex.Web.Startup
@using DevExpress.AspNetCore

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>

@model ItGroup.Saex.Web.ViewModels.TransferredCasesReportViewModel
@{
    ViewBag.CurrentPageName = PageNames.Report_TransferredCases; // The menu item will be active for this page.
    ViewBag.Title = L("TransferredCasesReport");
}

@section styles
{
    @*@await Html.PartialAsync("_ReportStyles")*@
    <style>
        #dataTable_wrapper {
            padding: 16px;
        }
    </style>
}

@section scripts
{
    @*@await Html.PartialAsync("_ReportScripts")*@

    <environment names="Development">
        <script src="~/view-resources/Views/Reports/TransferredCasesReport/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Reports/TransferredCasesReport/Index.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("TransferredCasesReport")
                </h2>
                @*<a href="javascript:void(0);" class="js-search" style="float: right" data-close="true"><i class="material-icons">search</i></a>*@                   
            </div>
            @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new ItGroup.Saex.Web.Reports.TransferredCasesReport())
        </div>
    </div>
</div>