﻿@using ItGroup.Saex.Web.Startup
@using DevExpress.AspNetCore

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>

@model ItGroup.Saex.Web.ViewModels.UnfilteredCasesByMasterViewModel
@{
    ViewBag.CurrentPageName = PageNames.Report_UnfilteredCasesByMaster; // The menu item will be active for this page.
    ViewBag.Title = L("UnfilteredCasesByMasterReport");
}

@section styles
{
    @*@await Html.PartialAsync("_ReportStyles")*@
    <style>
        #dataTable_wrapper {
            padding: 16px;
        }
    </style>
}

@section scripts
{
    @*@await Html.PartialAsync("_ReportScripts")*@

    <environment names="Development">
        <script src="~/view-resources/Views/Reports/UnfilteredCasesByMasterReport/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Reports/UnfilteredCasesByMasterReport/Index.min.js" asp-append-version="true"></script>
    </environment>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 60px;">
                <h2 style="float: left">
                    @L("UnfilteredCasesByMasterReport")
                </h2>
                @*<a href="javascript:void(0);" class="js-search" style="float: right" data-close="true"><i class="material-icons">search</i></a>*@
            <div id="searchContainer" class="col-sm-12" style="margin-top: 40px; height:60px; margin-bottom:5px">
                <form id="searchActivityForm">
                    <div class="col-sm-2">
                        <label>@L("Product")</label>
                        <div class="input-group">
                            @Html.DropDownListFor(x => x.SelectedProductCode,
                                                                          new SelectList(Model.Products, "Description", "Code"),
                                                                          L("SelectProduct"), new { @class = "selectpicker", @data_live_search = "true" })
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>@L("AccountNumber")</label>
                        <div class="input-group">
                            @Html.TextBox("AccountNumber", Model.AccountNumber, new { placeholder = L("AccountNumber"), @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>@L("ClientName")</label>
                        <div class="input-group">
                            @Html.TextBox("ClientName", Model.ClientName, new { placeholder = L("ClientName"), @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" formaction="@Url.Action("UnfilteredCasesByMasterPost", "Reports")" class="btn btn-primary waves-effect" style="margin-top: 20px;">@L("Search")</button>
                    </div>
                </form>
            </div>
            </div>

            @Html.DevExpress().WebDocumentViewer("WebDocumentViewer").Height("1000px").Bind(new ItGroup.Saex.Web.Reports.UnfilteredCasesByMasterReport(Model.SelectedProduct, Model.AccountNumber, Model.ClientName))
        </div>
    </div>
</div>