﻿@using ItGroup.Saex.Web.Startup
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using ItGroup.Saex.Web.Models.Common.Modals;
@using Newtonsoft.Json;
@*@using DevExpress.Web.Mvc;
    @using System.Web.Mvc;*@

@model ItGroup.Saex.Web.ViewModels.EditListViewModel
@{
    if (Model.List.Type == ItGroup.Saex.Enumerations.Enumerations.ListType.Child)
    {
        ViewBag.CurrentPageName = PageNames.ChildLists;
    }
    else if (Model.List.Type == ItGroup.Saex.Enumerations.Enumerations.ListType.Risk)
    {
        ViewBag.CurrentPageName = PageNames.RiskLists;
    }
    else
    {
        ViewBag.CurrentPageName = PageNames.MasterLists;
    }

    ViewBag.Title = L("EditList");
}

@section Styles
{
    <style type="text/css">

        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }
    </style>
}
@section scripts
{
    <link href="~/lib/QueryBuilder/css/query-builder.default.min.css" rel="stylesheet" />
    <script src="~/lib/QueryBuilder/js/sql-parser.js"></script>
    <script src="~/lib/QueryBuilder/js/jquery-extendext.js"></script>
    <script src="~/lib/QueryBuilder/js/doT.js"></script>
    <script src="~/lib/QueryBuilder/js/query-builder.js"></script>
    <script src="~/lib/QueryBuilder/i18n/query-builder.es.js"></script>
    <script src="~/view-resources/Views/Lists/EditList.js" asp-append-version="true"></script>
    <style>
        #dataTable_wrapper {
            padding: 16px;
        }

        .btn-primary.active {
            background-color: #1c5e9c !important;
        }
    </style>
}


<div class="row clearfix">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card" id="container">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("EditList")
                </h2>
            </div>

            <form name="ListEditForm" id="listForm" role="form" novalidate class="form-validation" style="padding:25px" asp-action="SaveList" method="post">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td style="width:70%">
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input id="name" type="text" name="Name" value="@Model.List.Name" required minlength="2" class="validate form-control">
                                                <label for="name" class="form-label">@L("Name")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="width:30%">
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            <div class="" style="margin-top:20px;margin-left:20px">
                                                <input id="IsActive" type="checkbox" name="IsActive" value="true" @(Model.List.IsActive ? "checked" : "") class="form-control" />
                                                <label for="IsActive" class="form-label">@L("IsActive")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:100%" colspan="2">
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            @if (Model.List.Type == ItGroup.Saex.Enumerations.Enumerations.ListType.Master)
                                            {
                                                <label for="name" class="form-label">@L("Table")</label>
                                                @Html.DropDownListFor(x => x.ProductSystemTable,
                                                 new SelectList(Model.ProductSystems, "TableName", "SystemName"),
                                                 L("ChooseOne"), new { @class = "form-control", @data_live_search = "true", @required = "true" })
                                            }
                                            @if (Model.List.Type == ItGroup.Saex.Enumerations.Enumerations.ListType.Risk)
                                            {
                                                <label for="name" class="form-label">@L("RiskStatus")</label>
                                                @Html.DropDownListFor(x => x.EstadoRiesgoId,
                                                 new SelectList(Model.EstadoRiesgos, "EstadoRiesgoID", "Descripcion"),
                                                 null, new { @class = "form-control", @data_live_search = "true", @required = "true" })
                                            }

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    @*---Query Builder---*@
                    <div id="builder" data-fields="@(JsonConvert.SerializeObject(Model.ValidField.ToArray()))"
                         data-list="@JsonConvert.SerializeObject(@Model.List)"></div>
                </div>

                @*---Parsed Filter String---*@
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="hidden" name="Id" value="@Model.List.Id" />
                                <input id="Query" type="text" name="Query" value="@Model.List.Query" required readonly class="validate form-control">
                                @*<label for="Query" class="form-label">@L("Query")</label>*@
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <button type="button" id="test" class="btn btn-success waves-effect">@L("Test")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </div>

            </form>

            <br />
            <div style="padding: 10px 20px">
                <h3>Resultados</h3>
                <table id="TableValue" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Product Number</th>
                            <th>Customer Name</th>
                            <th>Account Number</th>
                            <th>zipCode</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>