﻿@using ItGroup.Saex.Web.Startup
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model ItGroup.Saex.Web.ViewModels.ListsViewModel
@{
    ViewBag.CurrentPageName = Model.PageName; // The menu item will be active for this page.
    ViewBag.Title = Model.Title;
}

@section Styles
{
    <style type="text/css">

        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }
    </style>
}
@section scripts
{

    <script src="~/view-resources/Views/Lists/Lists.js" asp-append-version="true"></script>
    <style>
        #dataTable_wrapper {
            padding: 16px;
        }
    </style>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @Model.Title
                </h2>
            </div>

            <div class="body table-responsive">
                <table id="dtDynamicVerticalScrollExample" class="table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>@L("Name")</th>
                            <th>@L("IsActive")</th>

                            @if (Model.CanModify)
                            {
                                <th width="90">@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var list in Model.Lists.Items)
                        {
                            <tr>
                                <td>@list.Name</td>
                                <td><i class="material-icons" style="color:@(list.IsActive ? "green":"red");">@(list.IsActive ? "check_box" : "indeterminate_check_box")</i></td>
                                @if (Model.CanModify)
                                {
                                    <td class="dropdown">
                                        <btn data-id="@list.Id" style="width: 80px;" onclick="goToDetail(this)" class="waves-effect waves-block btn btn-sm btn-info"><i class="material-icons">edit</i> @L("Edit")</btn>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.CanModify)
                {
                    <a href="@Url.Action("EditList", "Lists", new { listType = Model.ListType })" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right">
                        <i class="material-icons">add</i>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

@*@if (Model.CanModify)
    {
        <div class="modal fade" id="ListCreateModal" tabindex="-1" list="dialog" aria-labelledby="ListCreateModalLabel" data-backdrop="static" >
            <div class="modal-dialog" list="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span>@L("CreateList")</span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form name="listCreateForm" list="form" novalidate class="form-validation">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input id="Name" type="text" name="Name" required minlength="2" class="validate form-control">
                                            <label for="Name" class="form-label">@L("Name")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="" style="margin-top:20px;margin-left:20px">
                                            <input id="IsActive" type="checkbox" name="IsActive" value="true" checked class="form-control filled-in" />
                                            <label for="IsActive" class="form-label">@L("IsActive")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                                <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ListEditModal" tabindex="-1" postalCode="dialog" aria-labelledby="ListEditModalLabel" data-backdrop="static">
            <div class="modal-dialog" postalCode="document">
                <div class="modal-content">
                </div>
            </div>
        </div>
    }*@
<script>
    function goToDetail(element) {
        let listId = $(element).data("id");
        location.href = abp.appPath + "Lists/EditList?id=" + listId;
    }
</script>