﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.AgentActivityViewModel
@{
    ViewBag.CurrentPageName = PageNames.AgentActivity;
    ViewBag.Title = L("AgentActivity");
}

<link href="~/lib/mapbox-gl-js1.8.0/mapbox-gl.css" rel="stylesheet" />
<style>

    #menu {
        background: #fff;
        font-family: 'Open Sans', sans-serif;
    }

    .mapboxgl-map {
        top: 0;
        bottom: 0;
        width: 99%;
        height: 600px;
    }
    table.dataTable tbody tr {
        cursor: pointer;
    }
    .autoMarker span,
    .mortgageMarker span,
    .boatMarker span,
    .loanMarker span,
    .creditLineMarker span,
    .leasingMarker span,
    .creditCardMarker span {
        font-size: 22px;
        color: black;
        display: block;
        text-align: center;
        padding-top: 6px;
    }
    .autoMarker {
        background-image: url('../../images/icons8-sedan.png');
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        background-position: center;
        background-size: cover;
    }

    .mortgageMarker {
        background-image: url('../../images/icons8-mortgage.png');
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        background-position: center;
        background-size: cover;
    }

    .boatMarker {
        background-image: url('../../images/icons8-yacht.png');
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        background-position: center;
        background-size: cover;
    }

    .loanMarker {
        background-image: url('../../images/icons8-contract.png');
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        background-position: center;
        background-size: cover;
    }

    .creditLineMarker {
        background-image: url('../../images/icons8-us_dollar.png');
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        background-position: center;
        background-size: cover;
    }

    .leasingMarker {
        background-image: url('../../images/icons8-lease.png');
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        background-position: center;
        background-size: cover;
    }

    .creditCardMarker {
        background-image: url('../../images/icons8-credit_card.png');
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        background-position: center;
        background-size: cover;
    }
</style>

@section scripts
{

    <script src="~/lib/mapbox-gl-js1.8.0/mapbox-gl.js" asp-append-version="true"></script>


    <script src="~/view-resources/Views/AgentActivities/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">

    <div class="card">
        <div class="header" style="height: 62px;">
            <h2 style="float: left">
                @L("AgentActivity")
            </h2>
        </div>
        <div class="body">
            <div id="searchContainer" class="row clearfix">
                <form id="searchActivityForm">
                    <div class="col-sm-2">
                        <label>@L("Date")</label>
                        <div class="input-group date">
                            <div class="form-line">
                                <input name="Date" id="Date" type="text" class="form-control" placeholder="@L("ChooseDate")" data-date-format="mm/dd/yyyy">
                            </div>
                            <span class="input-group-addon">
                                <i class="material-icons">date_range</i>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label>@L("Agents")</label>
                        <div class="input-group">
                            @Html.DropDownListFor(x => x.Agent,
                                  new SelectList(Model.AvailableAgents, "Id", "User.FullName"),
                                  L("SearchAgent"), new { @class = "selectpicker", @data_live_search = "true" })
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary waves-effect" style="margin-top: 20px;">@L("Search")</button>
                    </div>
                </form>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="map"></div>
                    <div id="menu">
                        <input id="streets-v11" type="radio" name="rtoggle" value="streets" checked="checked" />
                        <label for="streets-v11">Road</label>
                        <input id="satellite-v9" type="radio" name="rtoggle" value="satellite" />
                        <label for="satellite-v9">Aerial</label>
                    </div>
                </div>
            </div>
            <div class="body table-responsive">
                <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@L("Type")</th>
                            <th>@L("latitude")</th>
                            <th>@L("longitude")</th>
                            <th>@L("Activity")</th>
                            <th>@L("Place")</th>
                            <th>@L("Date")</th>
                            <th>@L("Product")</th>
                            <th>@L("AccountNumber")</th>
                            <th>@L("Name")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
