﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.PaymentDelayReasonListViewModel
@{
    ViewBag.CurrentPageName = PageNames.PaymentDelayReasons; // The menu item will be active for this page.
    ViewBag.Title = L("PaymentDelayReasons");
}

@section scripts
{

    <script src="~/view-resources/Views/PaymentDelayReasons/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("PaymentDelayReasons")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Code")</th>
                            <th>@L("Description")</th>
                            @if (Model.CanModify)
                            {
                                <th style="text-align: right;">@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var paymentDelayReason in Model.PaymentDelayReasons.Items)
                        {
                            <tr>
                                <td>@paymentDelayReason.Code</td>
                                <td>@paymentDelayReason.Description</td>
                                @if (Model.CanModify)
                                {
                                    <td class="dropdown">
                                        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" paymentDelayReason="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" class="waves-effect waves-block edit-paymentDelayReason" data-paymentDelayReason-id="@paymentDelayReason.Id" data-toggle="modal" data-target="#PaymentDelayReasonEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                            <li><a href="#" class="waves-effect waves-block delete-paymentDelayReason" data-paymentDelayReason-id="@paymentDelayReason.Id" data-paymentDelayReason-name="@paymentDelayReason.Code"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                        </ul>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.CanModify)
                {
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#PaymentDelayReasonCreateModal">
                        <i class="material-icons">add</i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.CanModify)
{
    <div class="modal fade" id="PaymentDelayReasonCreateModal" tabindex="-1" paymentDelayReason="dialog" aria-labelledby="PaymentDelayReasonCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" paymentDelayReason="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreatePaymentDelayReason")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="paymentDelayReasonCreateForm" paymentDelayReason="form" novalidate class="form-validation">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Code" type="text" name="Code" required maxlength="100" minlength="1" class="validate form-control">
                                        <label for="Code" class="form-label">@L("Code")</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Description" type="text" name="Description" required maxlength="250" minlength="1" class="validate form-control">
                                        <label for="Description" class="form-label">@L("Description")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="PaymentDelayReasonEditModal" tabindex="-1" paymentDelayReason="dialog" aria-labelledby="PaymentDelayReasonEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" paymentDelayReason="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
