﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.EditRouteModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditRoute")))

<div class="modal-body">
    <form name="RouteEditForm" route="form" novalidate class="form-validation">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <div style="display: none">
            @Html.DropDownList("SelectedProducts", new SelectList(Model.Products, "Id", "Code"), new { id = "SelectedProducts", })

            @Html.DropDownList("SelectedPostalCodes", new SelectList(Model.PostalCodes, "Id", "Code"), new { id = "SelectedPostalCodes" })
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Name" name="Name" type="text" value="@Model.Name" required maxlength="100" minlength="1" class="validate form-control">
                        <label for="Name" class="form-label">@L("Name")</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <label for="ProductsEdit" class="form-label">@L("Products")</label>
            </div>
            <div class="col-sm-12">
                @Html.DropDownListFor(x => x.Products,
                    new SelectList(Model.AvailableProducts, "Id", "Description"),
                    null, new { id = "ProductsEdit", multiple = "multiple" })
            </div>
        </div>
        <div class="row clearfix" style="margin-top: 32px;">
            <div class="col-sm-12">
                <label for="PostalCodesEdit" class="form-label">@L("PostalCodes")</label>
            </div>
            <div class="col-sm-12">
                @Html.DropDownListFor(x => x.PostalCodes,
                    new SelectList(Model.AvailablePostalCodes, "Id", "Code"),
                    null, new { id = "PostalCodesEdit", multiple = "multiple" })
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/Routes/_EditRouteModal.js" asp-append-version="true"></script>