﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.RouteListViewModel
@{
    ViewBag.CurrentPageName = PageNames.Routes; // The menu item will be active for this page.
    ViewBag.Title = L("Routes");
}

@section scripts
{

    <script src="~/view-resources/Views/Routes/Index.js" asp-append-version="true"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("Routes")
                </h2>
            </div>
            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Name")</th>
                            @* <th>@L("Description")</th>*@
                            @if (Model.CanModify)
                            {
                                <th style="text-align: right;">@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var route in Model.Routes.Items)
                        {
                            <tr>
                                <td>@route.Name</td>
                                @* <td>@route.Description</td>*@
                                @if (Model.CanModify)
                                {
                                    <td class="dropdown">
                                        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" route="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" class="waves-effect waves-block edit-route" data-route-id="@route.Id" data-toggle="modal" data-target="#RouteEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                            <li><a href="#" class="waves-effect waves-block delete-route" data-route-id="@route.Id" data-route-name="@route.Name"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                        </ul>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.CanModify)
                {
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#RouteCreateModal">
                        <i class="material-icons">add</i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.CanModify)
{

    <div class="modal fade" id="RouteCreateModal" tabindex="-1" route="dialog" aria-labelledby="RouteCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" route="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreateRoute")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="routeCreateForm" route="form" novalidate class="form-validation">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Name" name="Name" type="text" value="@Model.Name" required maxlength="100" minlength="1" class="validate form-control">
                                        <label for="Name" class="form-label">@L("Name")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <label for="Products" class="form-label">@L("Products")</label>
                            </div>
                            <div class="col-sm-12">
                                <div class="input-group" style="margin-bottom: 44px;">
                                    @Html.DropDownListFor(x => x.Products,
                 new SelectList(Model.AvailableProducts, "Id", "Description"),
                 null, new { id = "Products", multiple = "multiple" })
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix" style="margin-top: 32px;">
                            <div class="col-sm-12">
                                <label for="PostalCodes" class="form-label">@L("PostalCodes")</label>
                            </div>
                            <div class="col-sm-12">
                                <div class="input-group" style="margin-bottom: 44px;">
                                    @Html.DropDownListFor(x => x.PostalCodes,
                 new SelectList(Model.AvailablePostalCodes, "Id", "Code"),
                 null, new { id = "PostalCodes", multiple = "multiple" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="RouteEditModal" tabindex="-1" route="dialog" aria-labelledby="RouteEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" route="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
