﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.AgentSupervisorModalViewModel
@{
    Layout = null;
}

<div class="col-sm-12">
    <h4>@L("SelectedCases")</h4>
    <p>
        <strong style="padding: 0 0 0 21px;">
            @{ @Model.FromAgent.User.FullName }
        </strong>
    </p>
    <div class="body table-responsive">
        @if (Model.TransferedCases != null & Model.TransferedCases.Any())
        {
            <table id="from-cases-table" class="table">
                <thead>
                    <tr>
                        <th>@L("AccountNumber")</th>
                        <th>@L("Name")</th>
                        <th>@L("ZipCode")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TransferedCases)
                    {
                        <tr>
                            <td>@item.AccountNumber</td>
                            <td>@item.PrincipalCustomerName</td>
                            <td>@item.PostalCode</td>
                        </tr>
                    }
                </tbody>
            </table>

        }
    </div>
</div>
<div class="col-sm-12">
    <h4 style="margin-bottom: 20px;">@L("ChooseAnAgentToTransferFromTheList")</h4>
    <form>
        <div class="col-sm-3">
            <label>@L("Agent")</label>
            <div class="input-group" style="margin-top: 18px;">
                <div class="form-control">
                    @Html.DropDownListFor(x => x.ToAgent,
                        new SelectList(Model.Agents, "Id", "Fullname"),
                        L("SearchAgent"), new { id = "to-agent", name = "to-agent", @class = "selectpicker", @data_live_search = "true" })
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label>@L("AsignationType")</label>
            <div class="input-group" style="margin-top: 18px;">
                <div class="form-control">
                    <select id="transfer-type" class="selectpicker">
                        <option value="" selected>@L("ChooseOne")</option>
                        <option value="2">@("Transfer")</option>
                        <option value="3">@("Shared")</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <div class="body table-responsive">
        @if (Model.ToAgentCases != null & Model.ToAgentCases.Any())
        {
            <h4>@L("CasesAssigned")</h4>
            <table id="from-cases-table" class="table">
                <thead>
                    <tr>
                        <th>@L("AccountNumber")</th>
                        <th>@L("Name")</th>
                        <th>@L("ZipCode")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ToAgentCases)
                    {
                        <tr>
                            <td>@item.AccountNumber</td>
                            <td>@item.PrincipalCustomerName</td>
                            <td>@item.PostalCode</td>
                        </tr>
                    }
                </tbody>
            </table>

        }
    </div>
</div>

<script src="~/view-resources/Views/AgentSupervisors/_AgentSupervisorModal.js" asp-append-version="true"></script>
