﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.AssignInternalAgentViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("AssignAgents")))

<div class="modal-body">
    <form name="EditAgentSupervisorForm" transferCase="form" novalidate class="form-validation">
        <input type="hidden" id="supervisor-id" name="Id" value="@Model.Supervisor.Id" />
        <div class="row clearfix">
            <div class="col-sm-12">
                <label class="numberCircle">2</label> <strong>@L("ChooseInternalAgentsToBeSupervised")</strong>
                <div class="body table-responsive">
                    <table class="table" id="regions-table">
                        <thead>
                            <tr>
                                <th width="1%"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.InternalAgents)
                            {
                                <tr>
                                    <td style="text-align: center;">
                                        <label>
                                            <input type="checkbox" name="agent" value="@item.Id" title="" class="filled-in checkbox-elem-edit" id="@string.Format("agent-{0}",item.Id)" />
                                            <label for="@string.Format("agent-{0}",item.Id)" title=""></label>
                                        </label>
                                    </td>
                                    <td>@item.FullName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/AgentSupervisors/_EditAgentSupervisorModal.js" asp-append-version="true"></script>
