﻿@using ItGroup.Saex.Web.Startup
@model ItGroup.Saex.Web.ViewModels.AssignInternalAgentViewModel
@{
    ViewBag.CurrentPageName = PageNames.AgentSupervisors; // The menu item will be active for this page.
    ViewBag.Title = L("AssignInternalAgents");
}
@section scripts
{

    <script src="~/view-resources/Views/AgentSupervisors/Index.js" asp-append-version="true"></script>
}

<style>
    .wizard.vertical > .steps {
        width: 200px;
    }
</style>

<div class="row clearfix">
    <div class="card">
        <div class="body table-responsive">
            <div id="steps-vertical">
                <h4>@L("AssignInternalAgents")</h4>
                <section style="margin-top: 25px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="numberCircle">1</label> <strong>@L("ChooseSupervisor")</strong>
                            <div class="input-group" style="margin-top: 18px; margin-left: 14px;">
                                <div class="form-control">
                                    @Html.DropDownListFor(x => x.Supervisor,
                                        new SelectList(Model.Supervisors, "Id", "FullName"),
                                        "Search Supervisor", new { id = "supervisor", name = "supervisor", @class = "selectpicker", @data_live_search = "true" })
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (Model.InternalAgents != null & Model.InternalAgents.Any())
                    {
                        <div class="body table-responsive">
                            <strong>@L("InternalAgents")</strong>
                            <table id="from-cases-table" class="table">
                                <thead>
                                    <tr>
                                        <th>@L("Name")</th>
                                        <th>@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.InternalAgents)
                                    {
                                        <tr>
                                            <td>@item.FullName</td>
                                            <td class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" activityCode="button" aria-haspopup="true" aria-expanded="false">
                                                    <i class="material-icons">menu</i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#" class="waves-effect waves-block delete-agent" data-agent-id="@item.Id" data-agent-name="@item.FullName"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    }
                    else if (Model.Supervisor != null && Model.InternalAgents != null && !Model.InternalAgents.Any())
                    {
                        <div class="col-sm-12">
                            <strong>@L("ThisSupervisorDoesNotHaveSupervisedInternalAgents")</strong> <br />
                        </div>
                    }
                    <button id="add-agents" type="button" class="btn btn-primary waves-effect" style="margin-top: 20px;" data-toggle="modal" data-target="#AssignAgentsModal">@L("AddInternalAgents")</button>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AssignAgentsModal" tabindex="-1" agentCase="dialog" aria-labelledby="AssignAgentsModalLabel" data-backdrop="static">
    <div class="modal-dialog" agentCase="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="EditAgentSupervisorModal" tabindex="-1" agentCase="dialog" aria-labelledby="EditAgentSupervisorModalLabel" data-backdrop="static">
    <div class="modal-dialog" agentCase="document" style="width: 800px; min-height:800px;">
        <div class="modal-content">
        </div>
    </div>
</div>