﻿@using ItGroup.Saex.Web.Models.Common.Modals
@model ItGroup.Saex.Web.ViewModels.EditPostalCodeModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditPostalCode")))

<div class="modal-body">
    <form name="PostalCodeEditForm" postalCode="form" novalidate class="form-validation">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Code" name="Code" type="text" value="@Model.Code" required maxlength="100" minlength="2" class="validate form-control">
                        <label for="Code" class="form-label">@L("Code")</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="Area" name="Area" type="text" value="@Model.Area" required maxlength="250" minlength="2" class="validate form-control">
                        <label for="Area" class="form-label">@L("Area")</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/PostalCodes/_EditPostalCodeModal.js" asp-append-version="true"></script>