﻿@using ItGroup.Saex.Web.Startup
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model ItGroup.Saex.Web.ViewModels.PostalCodeListViewModel
@{
    ViewBag.CurrentPageName = PageNames.PostalCodes; // The menu item will be active for this page.
    ViewBag.Title = L("PostalCodes");
}

@section scripts
{

    <script src="~/view-resources/Views/PostalCodes/Index.js" asp-append-version="true"></script>
    <style>
        #dataTable_wrapper {
            padding: 16px;
        }
    </style>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header" style="height: 62px;">
                <h2 style="float: left">
                    @L("PostalCodes")
                </h2>
            </div>

            <div class="body table-responsive">
                <table id="myTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>@L("Code")</th>
                            <th>@L("Area")</th>
                            
                            @if (Model.CanModify)
                            {
                                <th>@L("Actions")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var postalCode in Model.PostalCodes.Items)
                        {
                            <tr>
                                <td>@postalCode.Code</td>
                                <td>@postalCode.Area</td>
                                @if (Model.CanModify)
                                {
                                    <td class="dropdown">
                                        <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown" postalCode="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" class="waves-effect waves-block edit-postalCode" data-postalCode-id="@postalCode.Id" data-toggle="modal" data-target="#PostalCodeEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                            <li><a href="#" class="waves-effect waves-block delete-postalCode" data-postalCode-id="@postalCode.Id" data-postalCode-name="@postalCode.Code"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                        </ul>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model.CanModify)
                {
                    <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#PostalCodeCreateModal">
                        <i class="material-icons">add</i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@if (Model.CanModify)
{
    <div class="modal fade" id="PostalCodeCreateModal" tabindex="-1" postalCode="dialog" aria-labelledby="PostalCodeCreateModalLabel" data-backdrop="static">
        <div class="modal-dialog" postalCode="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>@L("CreatePostalCode")</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="postalCodeCreateForm" postalCode="form" novalidate class="form-validation">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Code" type="text" name="Code" required maxlength="100" minlength="2" class="validate form-control">
                                        <label for="Code" class="form-label">@L("Code")</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="Area" type="text" name="Area" required maxlength="250" minlength="2" class="validate form-control">
                                        <label for="Area" class="form-label">@L("Area")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                            <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="PostalCodeEditModal" tabindex="-1" postalCode="dialog" aria-labelledby="PostalCodeEditModalLabel" data-backdrop="static">
        <div class="modal-dialog" postalCode="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
}
